In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("attacks.csv", encoding='ISO-8859-1')

In [3]:
pwd

'/mnt/c/Users/banking12/desktop/Proyecto_TL'

In [4]:
print(os.getcwd())

/mnt/c/Users/banking12/desktop/Proyecto_TL

In [5]:
print(os.listdir(os.getcwd()))

['.git', '.gitignore.txt', '.ipynb_checkpoints', 'attacks.csv', 'Data_cleaning.ipynb', 'listado-de-pruebas.txt', 'sharks-clean2.zip']

In [6]:
# removing duplicated data not to double count
df.drop_duplicates()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_original = pd.read_csv("attacks.csv", encoding='ISO-8859-1')
df = df_original.copy()

In [8]:
pd.set_option('display.max_columns', None)
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [9]:
import numpy as np
import seaborn as sns
import matplotlib as plt
import regex as re

In [10]:
#printing df shape and type of data, either numeric or categorical
print(df.shape)
print(df.dtypes)

(25723, 24)
Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [11]:
# to assess validity of the data sum data in null columns
null_cols = df.isnull().sum()
null_cols

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [12]:
# since the data set contains a large number of elements we need to calculate % of data missing 
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Case Number - 66%
Date - 76%
Year - 76%
Type - 76%
Country - 76%
Area - 77%
Location - 78%
Activity - 78%
Name - 76%
Sex  - 78%
Age - 87%
Injury - 76%
Fatal (Y/N) - 78%
Time - 89%
Species  - 87%
Investigator or Source - 76%
pdf - 76%
href formula - 76%
href - 76%
Case Number.1 - 76%
Case Number.2 - 76%
original order - 75%
Unnamed: 22 - 100%
Unnamed: 23 - 100%

In [13]:
set(df['Sex '])

{'.', 'F', 'M', 'M ', 'N', 'lli', nan}

In [14]:
df.rename(columns={'Sex ': 'Sex'}, inplace=True)
df.columns = df.columns.str.strip()

In [15]:
#Given the different categories shown by set inside 'Sex', 
#I will replace the unknown and rare values as shown below so that the only option becomes either Male or Female only.

In [16]:
df['Sex'] = df['Sex'].str.replace('N', 'M')
df['Sex'] = df['Sex'].str.strip()
df['Sex'] = df['Sex'].fillna('Unknown')
df['Sex'] = df['Sex'].str.replace('lli', 'Unknown')
df['Sex'] = df['Sex'].str.replace('.', 'Unknown')
set(df['Sex'])
df['Sex'].value_counts(dropna=True)

<ipython-input-16-500ec93ec656>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Sex'] = df['Sex'].str.replace('.', 'Unknown')

Unknown    19988
M           5098
F            637
Name: Sex, dtype: int64

In [17]:
# I have applied the same formulas for Fatal (Y/N) 
#In order to eliminate errors and replace lower case values by capital letters to make the data set uniform.

In [18]:
set (df[("Fatal (Y/N)")])

{' N', '2017', 'M', 'N', 'N ', 'UNKNOWN', 'Y', nan, 'y'}

In [19]:
df["Fatal (Y/N)"] = df["Fatal (Y/N)"].str.strip()
df["Fatal (Y/N)"] = df["Fatal (Y/N)"].fillna('U')
df["Fatal (Y/N)"] = df["Fatal (Y/N)"].str.replace('y', 'Y')
df["Fatal (Y/N)"] = df["Fatal (Y/N)"].str.replace('2017', 'U')
df["Fatal (Y/N)"] = df["Fatal (Y/N)"].str.replace('M', 'U')
df["Fatal (Y/N)"] = df["Fatal (Y/N)"].str.replace('F', 'Y')
df["Fatal (Y/N)"] = df["Fatal (Y/N)"].str.replace('UNKNOWN', 'U')
df.rename(columns={"Fatal (Y/N)": "Fatal (Y/N)"}, inplace=True)
print(set(df["Fatal (Y/N)"]))

{'N', 'Y', 'U'}

In [20]:
df["Fatal (Y/N)"].describe()
df["Fatal (Y/N)"].value_counts()

U    20033
N     4301
Y     1389
Name: Fatal (Y/N), dtype: int64

In [21]:
#To conduct my analysis I have decided to focus on the monthly time frame
#Thus I  need the number of incidents pcm. 
#I use apply formula and regex to locate de month detail inside the Date colummn.

In [22]:
df['Date']=df['Date'].apply(str)
month_lst = []
for row in df['Date']:
    month_row = ''.join(re.findall('\-[A-Za-z]{3}\-',row)).lower()
    month_row = re.sub('\-','',month_row)
               
    if month_row == '':
        month_row = np.nan

    month_lst.append(month_row)

df['month'] = month_lst

In [23]:
#Decided to use the if - elif statement below in order to fix length errors and replacing wrong characters.

In [24]:
df.dropna(subset=['month'], inplace=True)
for row in df['month']:
    if len(row) > 3:
        df['month'].replace(row,row[:3], inplace=True)
    elif row == 'jut':
        df['month'].replace(row,'jun', inplace=True)
df['month'].value_counts(dropna=False)

jul    621
aug    556
sep    521
jan    494
jun    475
apr    420
oct    417
dec    415
mar    381
nov    378
may    358
feb    356
Name: month, dtype: int64

In [25]:
df.drop(df[df['Time'] == 'NaN'].index, inplace = True)

In [26]:
df.Time.value_counts()

Afternoon        178
11h00            119
Morning          114
15h00            106
12h00            103
                ...
07h00 - 08h00      1
09h00 -10h00       1
Lunchtime          1
11h57              1
14h00 - 15h00      1
Name: Time, Length: 359, dtype: int64

In [27]:
#Grouping hours into four categories: Morning, Afternoon, Evening and Night
#Extracted numbers from column: time, dropped na values and counted the values to see when did the shark attacks happened.

In [28]:
df['Clean_Hours'] = df['Time'].str.extract("([0-9]+)", expand=False).dropna().astype(int)
df['Clean_Hours']= df[df['Clean_Hours']<25]['Clean_Hours']
df.drop(df[df['Clean_Hours'] == 'NaN'].index, inplace = True)
df['Clean_Hours'].value_counts(dropna=True)

11.0    248
16.0    236
15.0    235
14.0    234
12.0    197
13.0    195
17.0    192
10.0    178
18.0    129
9.0     124
8.0      92
7.0      81
19.0     53
6.0      38
20.0     29
3.0      10
5.0      10
2.0       8
23.0      8
21.0      5
4.0       5
22.0      5
1.0       5
0.0       1
Name: Clean_Hours, dtype: int64

In [29]:
#I have grouped values in 4 sessions: 'Night', 'Morning', 'Afternoon', 'Evening'. I droped 0 and NaN.

In [30]:
conditions = [(df['Clean_Hours'] > 0.0) & (df['Clean_Hours'] <= 6.0),
    (df['Clean_Hours'] > 6.0) & (df['Clean_Hours'] <= 12.0),
    (df['Clean_Hours'] > 12.0) & (df['Clean_Hours'] <= 18.0),
    (df['Clean_Hours'] > 18.0) & (df['Clean_Hours'] <= 23.0)]

# creation of a list of the values we want to assign for each condition
values = ['Night', 'Morning', 'Afternoon', 'Evening']

# create a new column and use np.select to assign values to it using our lists as arguments
df['sessions'] = np.select(conditions, values)
df.drop(df[df['sessions'] == 'NaN'].index, inplace = True)
df['sessions'].value_counts()
df.drop(df[df['sessions'] == '0'].index, inplace = True)
df['sessions'].value_counts()

Afternoon    1221
Morning       920
Evening       100
Night          76
Name: sessions, dtype: int64

In [31]:
df.Type.value_counts()

Unprovoked      1991
Provoked         121
Invalid          103
Boating           47
Boat              29
Sea Disaster      24
Questionable       2
Name: Type, dtype: int64

In [51]:
df["Type"] = df["Type"].str.replace('Invalid', 'Unknown')

In [33]:
#I have arranged the age column in order to know how many people I have from different ages

In [34]:
df.Age=df['Age'].fillna('0')
lst = []
patron = '\d+'
for e in df.Age:
    try:
        lst.append(re.findall(patron,e)[0])
    except:
        lst.append(0)
df.Age=lst

df.Age.value_counts()

0     352
19     93
18     91
15     78
17     77
     ...
74      1
3       1
82      1
75      1
86      1
Name: Age, Length: 75, dtype: int64

In [35]:
import warnings 
warnings.simplefilter('ignore')

In [49]:
df['Injury'] = df['Injury'].fillna('Unknown')

df.Injury[df.Injury.str.contains('fatal')]='FATAL'
df.Injury[df.Injury.str.contains('FATAL')]='FATAL'
df.Injury[df.Injury.str.contains('fa')]='FATAL'
df.Injury[df.Injury.str.contains('Fa')]='FATAL'
df.Injury[df.Injury.str.contains('hark')]='FATAL'
df.Injury[df.Injury.str.contains('ultiples')]='FATAL'
df.Injury[df.Injury.str.contains('ajor')]='FATAL'
df.Injury[df.Injury.str.contains('Sur')]='Survived'
df.Injury[df.Injury.str.contains('vived')]='Survived'
df.Injury[df.Injury.str.contains('Survived')]='Survived'
df.Injury[df.Injury.str.contains('survived')]='Survived'
df.Injury[df.Injury.str.contains('Foot')]='Foot bitten'
df.Injury[df.Injury.str.contains('itten')]='Foot bitten'
df.Injury[df.Injury.str.contains('oot')]='Foot bitten'
df.Injury[df.Injury.str.contains('eg')]='Foot bitten'
df.Injury[df.Injury.str.contains('ot')]='Foot bitten'
df.Injury[df.Injury.str.contains('nee')]='Foot bitten'
df.Injury[df.Injury.str.contains('3')]='Foot bitten'
df.Injury[df.Injury.str.contains('eet')]='Foot bitten'
df.Injury[df.Injury.str.contains('NO')]='No injury'
df.Injury[df.Injury.str.contains('no jury')]='No injury'
df.Injury[df.Injury.str.contains('no In')]='No injury'
df.Injury[df.Injury.str.contains('no jury')]='No injury'
df.Injury[df.Injury.str.contains('no Injury')]='No injury'
df.Injury[df.Injury.str.contains('no jury')]='No injury'
df.Injury[df.Injury.str.contains('No injury ')]='No injury'
df.Injury[df.Injury.str.contains('No Injury ')]='No injury'
df.Injury[df.Injury.str.contains('"')]='No injury'
df.Injury[df.Injury.str.contains(',')]='No injury'
df.Injury[df.Injury.str.contains('aceration')]='Laceration'
df.Injury[df.Injury.str.contains('rated')]='Laceration'
df.Injury[df.Injury.str.contains('arm')]='Laceration'
df.Injury[df.Injury.str.contains('humb')]='Laceration'
df.Injury[df.Injury.str.contains('Left')]='Arm bitten'
df.Injury[df.Injury.str.contains('rated')]='Arm bitten'
df.Injury[df.Injury.str.contains('arm')]='Arm bitten'
df.Injury[df.Injury.str.contains('humb')]='Arm bitten'
df.Injury[df.Injury.str.contains('arm')]='Arm bitten'
df.Injury[df.Injury.str.contains('humb')]='Arm bitten'
df.Injury[df.Injury.str.contains('Hand')]='Arm bitten'
df.Injury[df.Injury.str.contains('hand')]='Arm bitten'
df.Injury[df.Injury.str.contains('2')]='Abrasion'
df.Injury[df.Injury.str.contains('3')]='Abrasion'
df.Injury[df.Injury.str.contains('Ab')]='Abrasion'
df.Injury[df.Injury.str.contains('AB')]='Abrasion'
df.Injury[df.Injury.str.contains('abrasion')]='Abrasion'
df.Injury[df.Injury.str.contains('sion')]='Abrasion'

In [55]:
#Following same formulas to rearrange Type Column
df.Type = df.Type.fillna("Unknown")
df.Type[df.Type.str.contains("Boating")] = 'Sea Disaster'
df.Type[df.Type.str.contains("Boatomg")] = 'Sea Disaster'
df.Type[df.Type.str.contains("Boat")] = 'Sea Disaster'
df.Type[df.Type.str.contains("Invalid")] = 'Unknown'
df.Type[df.Type.str.contains("Boatomg")] = 'Boat'

{'Provoked', 'Questionable', 'Sea Disaster', 'Unprovoked'}

In [ ]:
#Following the same formula to clear up Country

In [87]:
df.Country = df.Country.fillna("UNKNOWN")
df.Country[df.Country.str.contains('EGYPT')] = 'EGYPT'
df.Country[df.Country.str.contains('ST HELENA, British overseas territory')] = 'ST HELENA'
df.Country[df.Country.str.contains('nan}')] = 'UNKNOWN'
df.Country[df.Country.str.contains('SOUTH ATLANTIC OCEAN')] = 'OTHERS'
df.Country[df.Country.str.contains('ANDAMAN / NICOBAR ISLANDAS')] = 'OTHERS'
df.Country[df.Country.str.contains('EGYPT / ISRAEL')] = 'OTHERS'
df.Country[df.Country.str.contains('SOLOMON ISLANDS / VANUATU')] = 'OTHERS'
df.Country[df.Country.str.contains('ATLANTIC OCEAN')] = 'OTHERS'

In [110]:
# Now I am going to clean the Area column 
df.Area = df.Area.fillna("Unknown")
df.Area[df.Area.str.contains("Southwestern Pacific")] = 'Southwestern Pacific' 
df.Area[df.Area.str.contains("04.05N-13.23W")] = 'Atlantic Ocean '
df.Area[df.Area.str.contains("1,000 miles east of Hawaii")] = 'Hawaii'
df.Area[df.Area.str.contains("1000 miles west of Hawaii")] = 'Hawaii'
df.Area[df.Area.str.contains("10ºS, 142ºE")] = 'Australia'
df.Area[df.Area.str.contains("12 miles off the north coast'")] = 'Unknown'
df.Area[df.Area.str.contains("12 miles off the north coast'")] = 'Unknown'
df.Area[df.Area.str.contains("12 miles off the north coast")] = 'Unknown'
df.Area[df.Area.str.contains("180 miles southeast of Okinawa")] = 'Okinawa'
df.Area[df.Area.str.contains("165  miles from Bermuda")] = 'Bermuda'
df.Area[df.Area.str.contains("50 miles offshore")] = 'Unknown'
df.Area[df.Area.str.contains("18S / 50E")] = 'Indian Ocean'
df.Area[df.Area.str.contains("19S, 178?E")] = 'Fiji'
df.Area[df.Area.str.contains("2 to 3 miles off Taboguilla Island, Pacific Ocean")] = 'Pacific Ocean'
df.Area[df.Area.str.contains("Canary")] = 'Canary Islands'
df.Area[df.Area.str.contains("Manila")] = 'Manila'
df.Area[df.Area.str.contains("22ºN, 88ºE")] = 'India'
df.Area[df.Area.str.contains("25 km off the coast of Iran & 483km from mouth of Persian Gulf")] = 'Iran'
df.Area[df.Area.str.contains("Haw")] = 'Hawaii'
df.Area[df.Area.str.contains("Luzon")] = 'Luzon'
df.Area[df.Area.str.contains("Mauritius")] = 'Mauritius'
df.Area[df.Area.str.contains("Virgin Islands")] = 'Virgin Islands'
df.Area[df.Area.str.contains("Antigua")] = 'Antigua'
df.Area[df.Area.str.contains("Wake Island")] = 'Wake Island'
df.Area[df.Area.str.contains("Singapore")] = 'Singapore'
df.Area[df.Area.str.contains("33N, 68W")] = 'Atlantic Ocean'
df.Area[df.Area.str.contains("35º39 : 165º8")] = 'Pacific Ocean'
df.Area[df.Area.str.contains("40 miles south of Naples")] = 'Naples'
df.Area[df.Area.str.contains("40 miles off Grand Bahama Island")] = 'Bahama Island'
df.Area[df.Area.str.contains("Sri Lanka")] = 'Sri Lanka'
df.Area[df.Area.str.contains("5aint-Denis")] = 'Saint-Denis'
df.Area[df.Area.str.contains("Sri Lanka")] = 'Sri Lanka'
df.Area[df.Area.str.contains("San Domingo")] = 'San Domingo'
df.Area[df.Area.str.contains("740 miles SE of Tarawa Atoll")] = 'Tarawa Atoll'
df.Area[df.Area.str.contains("800 miles from land")] = 'Unknown'
df.Area[df.Area.str.contains("19S")] = 'Fiji'
df.Area[df.Area.str.contains("9.35N 79.35W")] = 'Panama'
df.Area[df.Area.str.contains("d\x92Étang-Sal")] = 'Unknown'

In [113]:
#same applied to column species
df.Species[df.Species.str.contains("White")] = 'White shark'
df.Species[df.Species.str.contains("white")] = 'White shark'
df.Species[df.Species.str.contains("Tiger")] = 'Tiger shark'
df.Species[df.Species.str.contains("tiger")] = 'Tiger shark'
df.Species[df.Species.str.contains("Bull")] = 'Bull Shark'
df.Species[df.Species.str.contains("bull")] = 'Bull Shark'
df.Species[df.Species.str.contains("Reef")] = 'Reef shark'
df.Species[df.Species.str.contains("reef")] = 'Reef shark'
df.Species[df.Species.str.contains("nurse")] = 'Grey nurse shark'
df.Species[df.Species.str.contains("Nurse")] = 'Grey nurse shark'
df.Species[df.Species.str.contains("grey")] = 'Grey nurse shark'
df.Species[df.Species.str.contains("Grey")] = 'Grey nurse shark'
df.Species[df.Species.str.contains("Gray")] = 'Grey nurse shark'
df.Species[df.Species.str.contains("nurse")] = 'Grey nurse shark'
df.Species[df.Species.str.contains("Nurse")] = 'Grey nurse shark'
df.Species[df.Species.str.contains("Blacktip")] = 'Blacktip shark'
df.Species[df.Species.str.contains("blacktip")] = 'Blacktip shark'
df.Species[df.Species.str.contains("Blue")] = 'Blue shark'
df.Species[df.Species.str.contains("blue")] = 'Blue shark'
df.Species[df.Species.str.contains("Bronze")] = 'Bronze shark'
df.Species[df.Species.str.contains("bronze")] = 'Bronze shark'
df.Species[df.Species.str.contains("hammerhead")] = 'Hammerhead shark'
df.Species[df.Species.str.contains("Hammerhead")] = 'Hammerhead shark'
df.Species[df.Species.str.contains("Lemon")] = 'Lemon shark'
df.Species[df.Species.str.contains("lemon")] = 'Lemon shark'
df.Species[df.Species.str.contains("Mako")] = 'Mako shark'
df.Species[df.Species.str.contains("mako")] = 'Mako shark'
df.Species[df.Species.str.contains("Dusky")] = 'Dusky shark'
df.Species[df.Species.str.contains("dusky")] = 'Dusky shark'
df.Species[df.Species.str.contains("Spinner")] = 'Spinner shark'
df.Species[df.Species.str.contains("spinner")] = 'Spinner shark'
df.Species[df.Species.str.contains("Wobbegong")] = 'Wobbegong shark'
df.Species[df.Species.str.contains("wobbegong")] = 'Wobbegong shark'
df.Species[df.Species.str.contains("raggedtooth")] = 'Raggedtooth shark'
df.Species[df.Species.str.contains("Raggedtooth")] = 'Raggedtooth shark'
df.Species[df.Species.str.contains("Sevengill")] = 'Sevengill shark'
df.Species[df.Species.str.contains("sevengill")] = 'Sevengill shark'
df.Species[df.Species.str.contains("Carpet")] = 'Carpet shark'
df.Species[df.Species.str.contains("carpet")] = 'Carpet shark'
df.Species[df.Species.str.contains("Porbeagle")] = 'Porbeagle shark'
df.Species[df.Species.str.contains("porbeagle")] = 'Porbeagle shark'
df.Species[df.Species.str.contains("Sand")] = 'Sand shark'
df.Species[df.Species.str.contains("sand")] = 'Sand shark'
df.Species[df.Species.str.contains("involvement")] = 'Not specified'
df.Species[df.Species.str.contains("involve")] = 'Not specified'
df.Species[df.Species.str.contains("Remains")] = 'Not specified'
df.Species[df.Species.str.contains("small")] = 'Not specified'
df.Species[df.Species.str.contains("specified")] = 'Not specified'
df.Species[df.Species.str.contains("Possibly")] = 'Not specified'
df.Species[df.Species.str.contains("Questionable")] = 'Not specified'
df.Species[df.Species.str.contains("authenticated")] = 'Not specified'
df.Species[df.Species.str.contains("Invalid")] = 'Not specified'
df.Species[df.Species.str.contains("'")] = 'Not specified'
df.Species[df.Species.str.contains("1")] = 'Not specified'
df.Species[df.Species.str.contains("2")] = 'Not specified'
df.Species[df.Species.str.contains("3")] = 'Not specified'
df.Species[df.Species.str.contains("4")] = 'Not specified'
df.Species[df.Species.str.contains("5")] = 'Not specified'
df.Species[df.Species.str.contains("6")] = 'Not specified'
df.Species[df.Species.str.contains("7")] = 'Not specified'
df.Species[df.Species.str.contains("8")] = 'Not specified'
df.Species[df.Species.str.contains("9")] = 'Not specified'
df.Species[df.Species.str.contains("10")] = 'Not specified'
df.Species[df.Species.str.contains("brown-colored")] = 'Not specified'
df.Species[df.Species.str.contains("pack")] = 'Not specified'
df.Species[df.Species.str.contains("Attacked")] = 'Not specified'
df.Species[df.Species.str.contains("Dog")] = 'Not specified'
df.Species[df.Species.str.contains("caught")] = 'Not specified'
df.Species[df.Species.str.contains("large")] = 'Not specified'
df.Species[df.Species.str.contains("black-tipped")] = 'Not specified'
df.Species[df.Species.str.contains("dog")] = 'Not specified'
df.Species[df.Species.str.contains("large")] = 'Not specified'
df.Species[df.Species.str.contains("little")] = 'Not specified'
df.Species[df.Species.str.contains("school")] = 'Not specified'
df.Species[df.Species.str.contains("young")] = 'Not specified'
df.Species[df.Species.str.contains("tipped")] = 'Not specified'
df.Species[df.Species.str.contains("grey")] = 'Not specified'
df.Species[df.Species.str.contains("gray")] = 'Not specified'
df.Species[df.Species.str.contains("juvenile")] = 'Not specified'
df.Species[df.Species.str.contains("whiptail")] = 'Not specified'
df.Species[df.Species.str.contains("According")] = 'Not specified'
df.Species[df.Species.str.contains("Angel")] = 'Not specified'
df.Species[df.Species.str.contains("Blacktip")] = 'Not specified'
df.Species[df.Species.str.contains("Basking")] = 'Not specified'
df.Species[df.Species.str.contains("Blue")] = 'Not specified'
df.Species[df.Species.str.contains("Bronze")] = 'Not specified'
df.Species[df.Species.str.contains("Bull")] = 'Not specified'
df.Species[df.Species.str.contains("leucas")] = 'Not specified'
df.Species[df.Species.str.contains("maculpinnis")] = 'Not specified'
df.Species[df.Species.str.contains("Carpet")] = 'Not specified'
df.Species[df.Species.str.contains("Considered")] = 'Not specified'
df.Species[df.Species.str.contains("Doubtful")] = 'Not specified'
df.Species[df.Species.str.contains("Cookiecutter")] = 'Not specified'
df.Species[df.Species.str.contains("Copper")] = 'Not specified'
df.Species[df.Species.str.contains("Cow")] = 'Not specified'
df.Species[df.Species.str.contains("drowning")] = 'Not specified'
df.Species[df.Species.str.contains("Description")] = 'Not specified'
df.Species[df.Species.str.contains("Dusky")] = 'Not specified'
df.Species[df.Species.str.contains("Fishermen")] = 'Not specified'
df.Species[df.Species.str.contains("Galapagos")] = 'Not specified'
df.Species[df.Species.str.contains("Goblin")] = 'Not specified'
df.Species[df.Species.str.contains("Hammerhead")] = 'Not specified'
df.Species[df.Species.str.contains("gangeticus")] = 'Not specified'
df.Species[df.Species.str.contains("eel")] = 'Not specified'
df.Species[df.Species.str.contains("invovlement")] = 'Not specified'
df.Species[df.Species.str.contains("invovlement")] = 'Not specified'
df.Species[df.Species.str.contains("hoax")] = 'Not specified'
df.Species[df.Species.str.contains("specified")] = 'Not specified'
df.Species[df.Species.str.contains("Porbeagle")] = 'Not specified'
df.Species[df.Species.str.contains("Raggedtooth")] = 'Not specified'
df.Species[df.Species.str.contains("Reef")] = 'Not specified'
df.Species[df.Species.str.contains("story")] = 'Not specified'
df.Species[df.Species.str.contains("Salmon")] = 'Not specified'
df.Species[df.Species.str.contains("Sand")] = 'Not specified'
df.Species[df.Species.str.contains("Seven-gill")] = 'Not specified'
df.Species[df.Species.str.contains("turtle")] = 'Not specified'
df.Species[df.Species.str.contains("rough")] = 'Not specified'
df.Species[df.Species.str.contains("specified")] = 'Not specified'
df.Species[df.Species.str.contains("Sevengill")] = 'Not specified'
df.Species[df.Species.str.contains("Shovelnose")] = 'Not specified'
df.Species[df.Species.str.contains("Silvertip")] = 'Not specified'
df.Species[df.Species.str.contains("Small")] = 'Not specified'
df.Species[df.Species.str.contains("Soupfin")] = 'Not specified'
df.Species[df.Species.str.contains("unidentified")] = 'Not specified'
df.Species[df.Species.str.contains("Not")] = 'Not specified'
df.Species[df.Species.str.contains("Spinner")] = 'Not specified'
df.Species[df.Species.str.contains("Unidentified")] = 'Not specified'
df.Species[df.Species.str.contains("Thresher")] = 'Not specified'
df.Species[df.Species.str.contains("recovered")] = 'Not specified'
df.Species[df.Species.str.contains("Zambesi")] = 'Not specified'
df.Species[df.Species.str.contains("whaler")] = 'Not specified'

In [38]:
#Converted the file to a clean csv

In [120]:
df.to_csv('../Proyecto_TL/attacks_clean.csv', index=False)