In [28]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.style
import matplotlib as mpl
import seaborn as sns
import re as re

CARGO EL DATASET

In [2]:
dframe = pd.read_csv('attacks.csv',encoding="'ISO-8859-1'", dtype=str) 
dframe.columns = dframe.columns.str.rstrip() #Quito el espacio entre las columnas
dframe.head() #Muestra el encabezado del DF
pd.set_option('display.max_columns', None)
dframe.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN

In [1]:
#Muestra los datos duplicados

In [5]:
dframe.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
25718     True
25719     True
25720     True
25721     True
25722    False
Length: 25723, dtype: bool

In [6]:
#Para saber cuantos datos tengo duplicados

In [7]:
dframe.duplicated().sum() # Muestra la suma de todos los registros duplicados

19411

In [8]:
#Evaluar la validez de los datos sumar datos en columnas nulas
#En este caso el Data Frame tendría muchos elementos nulos, por lo que la fiabilidad disminuye

In [9]:
null_cols = dframe.isnull().sum()
null_cols

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [10]:
#Data Perdida

In [11]:
for col in dframe.columns:
    pct_missing = np.mean(dframe[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Case Number - 66%
Date - 76%
Year - 76%
Type - 76%
Country - 76%
Area - 77%
Location - 78%
Activity - 78%
Name - 76%
Sex - 78%
Age - 87%
Injury - 76%
Fatal (Y/N) - 78%
Time - 89%
Species - 87%
Investigator or Source - 76%
pdf - 76%
href formula - 76%
href - 76%
Case Number.1 - 76%
Case Number.2 - 76%
original order - 75%
Unnamed: 22 - 100%
Unnamed: 23 - 100%

In [12]:
#Muestra el DF
#Quita los espacios
#Hace un replace
#Sustituye por el valor "Unknown"

In [13]:
set(dframe[("Sex")])

{'.', 'F', 'M', 'M ', 'N', 'lli', nan}

COLUMNA SEX

In [14]:
set(dframe['Sex'])
dframe.columns = dframe.columns.str.strip()
dframe['Sex'] = dframe['Sex'].str.replace('N', 'M')
dframe['Sex'] = dframe['Sex'].str.strip()
dframe['Sex'] = dframe['Sex'].fillna('Unknown')
dframe['Sex'] = dframe['Sex'].str.replace('lli', 'Unknown')
dframe['Sex'] = dframe['Sex'].str.replace('.', 'Unknown')
set (dframe['Sex'])
dframe['Sex'].value_counts(dropna=True)

Unknown    19988
M           5098
F            637
Name: Sex, dtype: int64

COLUMNA AGE

In [15]:
set(dframe['Age'])
dframe.Age=dframe['Age'].fillna('0')
lst = []
patron = '\d+'
for e in dframe.Age:
    try:
        lst.append(re.findall(patron,e)[0])
    except:
        lst.append(0)
dframe.Age=lst

dframe.Age.value_counts()

0     22252
17      156
18      153
20      151
19      143
      ...
86        1
87        1
67        1
84        1
82        1
Name: Age, Length: 83, dtype: int64

COLUMNA YEAR

In [16]:
dframe['Year'].fillna('Unknown')

0           2018
1           2018
2           2018
3           2018
4           2018
          ...
25718    Unknown
25719    Unknown
25720    Unknown
25721    Unknown
25722    Unknown
Name: Year, Length: 25723, dtype: object

COLUMNA TYPE

In [17]:
dframe.Type = dframe.Type.fillna("Unknown")
dframe.Type[dframe.Type.str.contains("Boating")] = 'Sea Disaster'
dframe.Type[dframe.Type.str.contains("Boatomg")] = 'Sea Disaster'
dframe.Type[dframe.Type.str.contains("Boat")] = 'Sea Disaster'
dframe.Type[dframe.Type.str.contains("Invalid")] = 'Unknown'
dframe.Type[dframe.Type.str.contains("Boatomg")] = 'Boat'

print(dframe.Type)

0        Sea Disaster
1          Unprovoked
2             Unknown
3          Unprovoked
4            Provoked
             ...
25718         Unknown
25719         Unknown
25720         Unknown
25721         Unknown
25722         Unknown
Name: Type, Length: 25723, dtype: object

COLUMNA COUNTRY

In [18]:
dframe.Country = dframe.Country.fillna("UNKNOWN")
dframe.Country[dframe.Country.str.contains('EGYPT')] = 'EGYPT'
dframe.Country[dframe.Country.str.contains('ST HELENA, British overseas territory')] = 'ST HELENA'
dframe.Country[dframe.Country.str.contains('nan}')] = 'UNKNOWN'
dframe.Country[dframe.Country.str.contains('SOUTH ATLANTIC OCEAN')] = 'OTHERS'
dframe.Country[dframe.Country.str.contains('ANDAMAN / NICOBAR ISLANDAS')] = 'OTHERS'
dframe.Country[dframe.Country.str.contains('EGYPT / ISRAEL')] = 'OTHERS'
dframe.Country[dframe.Country.str.contains('SOLOMON ISLANDS / VANUATU')] = 'OTHERS'
dframe.Country[dframe.Country.str.contains('ATLANTIC OCEAN')] = 'OTHERS'

print(dframe.Country)

0              USA
1              USA
2              USA
3        AUSTRALIA
4           MEXICO
           ...
25718      UNKNOWN
25719      UNKNOWN
25720      UNKNOWN
25721      UNKNOWN
25722      UNKNOWN
Name: Country, Length: 25723, dtype: object

COLUMNA FATAL

In [19]:
set (dframe[("Fatal (Y/N)")])

dframe['Fatal (Y/N)'] = dframe['Fatal (Y/N)'].str.replace('2017', 'UNKNOWN')      
dframe['Fatal (Y/N)'] = dframe['Fatal (Y/N)'].str.strip()
dframe['Fatal (Y/N)'] = dframe['Fatal (Y/N)'].fillna('UNKNOWN')
dframe['Fatal (Y/N)'] = dframe['Fatal (Y/N)'].str.replace('y', 'Y')
dframe['Fatal (Y/N)'] = dframe['Fatal (Y/N)'].str.replace('M', 'UNKNOWN')

set(dframe['Fatal (Y/N)'])
dframe['Fatal (Y/N)'].value_counts(dropna=True)

UNKNOWN    20033
N           4301
Y           1389
Name: Fatal (Y/N), dtype: int64

COLUMNA MONTH

In [20]:
dframe['Date']=dframe['Date'].apply(str)
month_lst = []
for row in dframe['Date']:
    month_row = ''.join(re.findall('\-[A-Za-z]{3}\-',row)).lower()
    month_row = re.sub('\-','',month_row)
               
    if month_row == '':
        month_row = np.nan

    month_lst.append(month_row)

dframe['month'] = month_lst

dframe.Date.head()

0    25-Jun-2018
1    18-Jun-2018
2    09-Jun-2018
3    08-Jun-2018
4    04-Jun-2018
Name: Date, dtype: object

COLUMNA CLEAN HOURS

In [21]:
dframe.drop(dframe[dframe['Time'] == 'NaN'].index, inplace = True)
dframe.Time.value_counts()
dframe['Clean_Hours'] = dframe['Time'].str.extract("([0-9]+)", expand=False).dropna().astype(int)
dframe['Clean_Hours']= dframe[dframe['Clean_Hours']<25]['Clean_Hours']
dframe.drop(dframe[dframe['Clean_Hours'] == 'NaN'].index, inplace = True)
dframe['Clean_Hours'].value_counts(dropna=True)

11.0    259
16.0    240
15.0    238
14.0    237
12.0    204
13.0    200
17.0    199
10.0    181
18.0    131
9.0     124
8.0      93
7.0      83
19.0     53
6.0      39
20.0     30
5.0      11
3.0      10
2.0       9
23.0      8
1.0       6
4.0       6
22.0      5
21.0      5
0.0       1
Name: Clean_Hours, dtype: int64

In [22]:
import warnings # Importamos esta libraria para evitar el warning
warnings.simplefilter('ignore')

In [23]:

dframe['Injury'] = dframe['Injury'].fillna('Unknown')

dframe.Injury[dframe.Injury.str.contains('fatal')]='FATAL'
dframe.Injury[dframe.Injury.str.contains('FATAL')]='FATAL'
dframe.Injury[dframe.Injury.str.contains('fa')]='FATAL'
dframe.Injury[dframe.Injury.str.contains('Fa')]='FATAL'
dframe.Injury[dframe.Injury.str.contains('hark')]='FATAL'
dframe.Injury[dframe.Injury.str.contains('ultiples')]='FATAL'
dframe.Injury[dframe.Injury.str.contains('ajor')]='FATAL'
dframe.Injury[dframe.Injury.str.contains('Sur')]='Survived'
dframe.Injury[dframe.Injury.str.contains('vived')]='Survived'
dframe.Injury[dframe.Injury.str.contains('Survived')]='Survived'
dframe.Injury[dframe.Injury.str.contains('survived')]='Survived'
dframe.Injury[dframe.Injury.str.contains('Foot')]='Foot bitten'
dframe.Injury[dframe.Injury.str.contains('itten')]='Foot bitten'
dframe.Injury[dframe.Injury.str.contains('oot')]='Foot bitten'
dframe.Injury[dframe.Injury.str.contains('eg')]='Foot bitten'
dframe.Injury[dframe.Injury.str.contains('ot')]='Foot bitten'
dframe.Injury[dframe.Injury.str.contains('nee')]='Foot bitten'
dframe.Injury[dframe.Injury.str.contains('3')]='Foot bitten'
dframe.Injury[dframe.Injury.str.contains('eet')]='Foot bitten'
dframe.Injury[dframe.Injury.str.contains('NO')]='No injury'
dframe.Injury[dframe.Injury.str.contains('no jury')]='No injury'
dframe.Injury[dframe.Injury.str.contains('no In')]='No injury'
dframe.Injury[dframe.Injury.str.contains('no jury')]='No injury'
dframe.Injury[dframe.Injury.str.contains('no Injury')]='No injury'
dframe.Injury[dframe.Injury.str.contains('no jury')]='No injury'
dframe.Injury[dframe.Injury.str.contains('No injury ')]='No injury'
dframe.Injury[dframe.Injury.str.contains('No Injury ')]='No injury'
dframe.Injury[dframe.Injury.str.contains('"')]='No injury'
dframe.Injury[dframe.Injury.str.contains(',')]='No injury'
dframe.Injury[dframe.Injury.str.contains('aceration')]='Laceration'
dframe.Injury[dframe.Injury.str.contains('rated')]='Laceration'
dframe.Injury[dframe.Injury.str.contains('arm')]='Laceration'
dframe.Injury[dframe.Injury.str.contains('humb')]='Laceration'
dframe.Injury[dframe.Injury.str.contains('Left')]='Arm bitten'
dframe.Injury[dframe.Injury.str.contains('rated')]='Arm bitten'
dframe.Injury[dframe.Injury.str.contains('arm')]='Arm bitten'
dframe.Injury[dframe.Injury.str.contains('humb')]='Arm bitten'
dframe.Injury[dframe.Injury.str.contains('arm')]='Arm bitten'
dframe.Injury[dframe.Injury.str.contains('humb')]='Arm bitten'
dframe.Injury[dframe.Injury.str.contains('Hand')]='Arm bitten'
dframe.Injury[dframe.Injury.str.contains('hand')]='Arm bitten'
dframe.Injury[dframe.Injury.str.contains('2')]='Abrasion'
dframe.Injury[dframe.Injury.str.contains('3')]='Abrasion'
dframe.Injury[dframe.Injury.str.contains('Ab')]='Abrasion'
dframe.Injury[dframe.Injury.str.contains('AB')]='Abrasion'
dframe.Injury[dframe.Injury.str.contains('abrasion')]='Abrasion'
dframe.Injury[dframe.Injury.str.contains('sion')]='Abrasion'

In [24]:
dframe.to_csv('/Users/usuario/Desktop/Ironhack/Semana2/Proyecto_TL/attack_clean.csv', index=False)

In [25]:
ignore_encoding = lambda s: s.decode('utf8', 'ignore')