In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/mikel/Documents/week2/Proyecto_TL/attacks.csv", encoding= "latin1")

In [3]:
df.head()

,Case_number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator,pdf,href_formula,href,Case_n1,Case_n2,original_order,unnamed22,unnamed23
0,2018.06.25,2018-06-25 00:00:00,2018,Boating,Usa,California,"Oceanside, San Diego County",Unknown,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,unknown,unknown
1,2018.06.18,2018-06-18 00:00:00,2018,Unprovoked,Usa,Georgia,"St. Simon Island, Glynn County",Unknown,Adyson McNeely,F,...,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,unknown,unknown
2,2018.06.09,2018-06-09 00:00:00,2018,Invalid,Usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,unknown,unknown
3,2018.06.08,2018-06-08 00:00:00,2018,Unprovoked,Australia,New South Wales,Arrawarra Headland,Surfing,Unknown,M,...,Unknown,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,unknown,unknown
4,2018.06.04,2018-06-04 00:00:00,2018,Provoked,Mexico,Colima,La Ticla,Diving,Gustavo Ramos,M,...,Unknown,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,unknown,unknown

In [4]:
df.shape

(6302, 24)

In [5]:
#quito todas las filas que tengan nulls en todas las columnas.
df = df.dropna(how='all',axis=0)

In [6]:
df = df.dropna(0, thresh=3)

In [7]:
df.shape

(6302, 24)

In [8]:
#renombramos columnas para que no haya drama luego
df = df.rename(columns={'Unnamed: 22':'unnamed22', 'Unnamed: 23': 'unnamed23', 'Fatal (Y/N)': 'Fatal', 'original order': 'original_order', 'Case Number':'Case_number', 'Investigator or Source': 'Investigator', 'href formula':'href_formula', 'Case Number.1': 'Case_n1', 'Case Number.2': 'Case_n2', 'Sex ' : 'Sex', 'Species ':'Species', 'Fatal(Y/N)':'Fatal'})

In [9]:
df.head()

,Case_number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator,pdf,href_formula,href,Case_n1,Case_n2,original_order,unnamed22,unnamed23
0,2018.06.25,2018-06-25 00:00:00,2018,Boating,Usa,California,"Oceanside, San Diego County",Unknown,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,unknown,unknown
1,2018.06.18,2018-06-18 00:00:00,2018,Unprovoked,Usa,Georgia,"St. Simon Island, Glynn County",Unknown,Adyson McNeely,F,...,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,unknown,unknown
2,2018.06.09,2018-06-09 00:00:00,2018,Invalid,Usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,unknown,unknown
3,2018.06.08,2018-06-08 00:00:00,2018,Unprovoked,Australia,New South Wales,Arrawarra Headland,Surfing,Unknown,M,...,Unknown,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,unknown,unknown
4,2018.06.04,2018-06-04 00:00:00,2018,Provoked,Mexico,Colima,La Ticla,Diving,Gustavo Ramos,M,...,Unknown,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,unknown,unknown

In [10]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

# Columna Date

Las fechas están bastante mal, he pensado muchas formas de cambiarlas a un formato decente y esta es la que más me ha convencido

In [11]:
#Primero de todo, guardamos los valores de una columna nueva para no perderlos
df['_original_date'] = df.Date
df['_original_date']

0       2018-06-25 00:00:00
1       2018-06-18 00:00:00
2       2018-06-09 00:00:00
3       2018-06-08 00:00:00
4       2018-06-04 00:00:00
               ...
6297                Unknown
6298                Unknown
6299                Unknown
6300                Unknown
6301                Unknown
Name: _original_date, Length: 6302, dtype: object

In [12]:
#Hacemos la limpieza más básica
df['_original_date_pre_treated'] = \
    df._original_date \
        .apply(
                lambda x :
                    str(x)
                        .replace('Reported ', '')
                        .replace('Early ',    '')
                        .replace('Late ',     '')
                        .replace('--',        '-')
            )

In [13]:
#usamos la formula to_datetime de pandas. Forzando el coerce "If ‘coerce’, then invalid parsing will be set as NaT."
df.Date = pd.to_datetime(df._original_date_pre_treated, errors='coerce')

In [14]:
#computar decada
df.decade = df.Date.apply(lambda x : x.year - x.year % 10)

<ipython-input-14-4d008df60697>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.decade = df.Date.apply(lambda x : x.year - x.year % 10)

In [15]:
#tachán! esto me crea dos columnas que luego puedo eliminar
df.head()

,Case_number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,pdf,href_formula,href,Case_n1,Case_n2,original_order,unnamed22,unnamed23,_original_date,_original_date_pre_treated
0,2018.06.25,2018-06-25,2018,Boating,Usa,California,"Oceanside, San Diego County",Unknown,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,unknown,unknown,2018-06-25 00:00:00,2018-06-25 00:00:00
1,2018.06.18,2018-06-18,2018,Unprovoked,Usa,Georgia,"St. Simon Island, Glynn County",Unknown,Adyson McNeely,F,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,unknown,unknown,2018-06-18 00:00:00,2018-06-18 00:00:00
2,2018.06.09,2018-06-09,2018,Invalid,Usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,unknown,unknown,2018-06-09 00:00:00,2018-06-09 00:00:00
3,2018.06.08,2018-06-08,2018,Unprovoked,Australia,New South Wales,Arrawarra Headland,Surfing,Unknown,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,unknown,unknown,2018-06-08 00:00:00,2018-06-08 00:00:00
4,2018.06.04,2018-06-04,2018,Provoked,Mexico,Colima,La Ticla,Diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,unknown,unknown,2018-06-04 00:00:00,2018-06-04 00:00:00

In [16]:
df=df.drop('_original_date_pre_treated', axis=1)

In [17]:
df=df.drop('_original_date', axis=1)

In [18]:
df['Date'] = df['Date'].fillna('Unknown')

In [19]:
df.Date

0       2018-06-25 00:00:00
1       2018-06-18 00:00:00
2       2018-06-09 00:00:00
3       2018-06-08 00:00:00
4       2018-06-04 00:00:00
               ...
6297                Unknown
6298                Unknown
6299                Unknown
6300                Unknown
6301                Unknown
Name: Date, Length: 6302, dtype: object

# Columna year

La columna year viene como float, en un primer momento lo pasé solo a int y ya, previamente cambiando los nulls por 0. Bajo mi criterio esto no es lo óptimo, ya que puede llevar a confusión y error cuando los analístas calculen medias y demás.

Por ello, he optado por cambiarlo por un unknown, pero esto conlleva que quede como una string, después se ha quedado obviamente con fechas como 2018.0, y he hecho un strip.

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Case_number     6302 non-null   object
 1   Date            6302 non-null   object
 2   Year            6302 non-null   object
 3   Type            6302 non-null   object
 4   Country         6302 non-null   object
 5   Area            6302 non-null   object
 6   Location        6302 non-null   object
 7   Activity        6302 non-null   object
 8   Name            6302 non-null   object
 9   Sex             6302 non-null   object
 10  Age             6302 non-null   object
 11  Injury          6302 non-null   object
 12  Fatal           6302 non-null   object
 13  Time            6302 non-null   object
 14  Species         6302 non-null   object
 15  Investigator    6302 non-null   object
 16  pdf             6302 non-null   object
 17  href_formula    6302 non-null   object
 18  href            6302 non-null   object
 19  Case_n1         6302 non-null   object
 20  Case_n2         6302 non-null   object
 21  original_order  6302 non-null   float64
 22  unnamed22       6302 non-null   object
 23  unnamed23       6302 non-null   object
dtypes: float64(1), object(23)
memory usage: 1.2+ MB

In [21]:
df['Year'] = df['Year'].fillna('unknown')

In [22]:
df.Year=df.Year.astype(dtype='str')

In [23]:
df['Year'] = df['Year'].str.rstrip('.0')

# Columna type

In [24]:
df.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Unknown', 'Boat'], dtype=object)

In [25]:
df['Type'] = df['Type'].fillna('Unknown')

In [26]:
df.Type=df.Type.replace(to_replace =("Boatomg"), value ="Boat")

# Columna Country

In [27]:
df['Country'] = df['Country'].str.capitalize()

In [28]:
df['Country'] = df['Country'].str.rstrip('?')

In [29]:
df['Country'] = df['Country'].fillna('Unknown')

# Columna Area

En este caso lo que ocurre es que hay bastante basura en los datos, tener como área "a 100km de Sri Lanka" es mejor que nada, pero en análisis con muchos datos esto no es útil. Por ello creo que es mejor quitar todos datos dejandolos como unknown y apoyarnos en Country - location.

In [30]:
df['Area'] = df['Area'].fillna('Unknown')

In [31]:
df.Area.replace('numeric', 'unknown')

0              California
1                 Georgia
2                  Hawaii
3         New South Wales
4                  Colima
              ...
6297    Western Australia
6298    Western Australia
6299       North Carolina
6300              Unknown
6301     Eastern Province
Name: Area, Length: 6302, dtype: object

# Columna Location

In [32]:
df.Location.unique()

array(['Oceanside, San Diego County', 'St. Simon Island, Glynn County',
       'Habush, Oahu', ..., 'Ocracoke Inlet', 'Panama Bay 8ºN, 79ºW',
       'Below the English fort, Trincomalee'], dtype=object)

In [33]:
df['Location'] = df['Location'].fillna('Unknown')

In [34]:
df.Location=df.Location.astype(dtype='str')

# Columna Activity

In [35]:
df.Activity.unique()

array(['Unknown', 'Surfing', 'Diving', 'Swimming', 'Fishing'],
      dtype=object)

In [36]:
df['Activity'] = df['Activity'].fillna('Unknown')

In [37]:
df.loc[df['Activity'].str.contains('\wwimming', regex=True, case=False), 'Activity'] = 'Swimming'

In [38]:
df.loc[df['Activity'].str.contains('\wurf', regex=True, case=False), 'Activity'] = 'Surfing'

In [39]:
df.loc[df['Activity'].str.contains('\wiv', regex=True, case=False), 'Activity'] = 'Diving'

In [40]:
df.loc[df['Activity'].str.contains('\wish', regex=True, case=False), 'Activity'] = 'Fishing'

In [41]:
activity_lst = ['Swimming','Surfing', 'Diving', 'Fishing']

In [42]:
df.Activity=df.Activity.apply(lambda x: 'Unknown' if x not in activity_lst else x)

In [43]:
df.Activity.value_counts()

Unknown     2184
Surfing     1244
Fishing     1134
Swimming    1117
Diving       623
Name: Activity, dtype: int64

# Columna name

In [44]:
df.Name=df.Name.replace(to_replace =["male", "female"], value ="Unknown")

In [45]:
df['Name'] = df['Name'].fillna('Unknown')

# Columna Sex

In [46]:
df.Sex.unique()

array(['F', 'M', 'Unknown'], dtype=object)

In [47]:
df['Sex'] = df['Sex'].fillna('Unknown')

In [48]:
df.Sex=df.Sex.replace(to_replace =("M "), value ="M")

In [49]:
df.Sex.unique()

array(['F', 'M', 'Unknown'], dtype=object)

In [50]:
#Saco las rows con N para ver que ha pasado. La hipótesis de que la n está cerca de la m queda rechazada.
df.loc[df['Sex'] == 'N']

Empty DataFrame
Columns: [Case_number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal, Time, Species, Investigator, pdf, href_formula, href, Case_n1, Case_n2, original_order, unnamed22, unnamed23]
Index: []

[0 rows x 24 columns]

In [51]:
#Los cambio por Males porque ambos casos contienen hombres
df.Sex=df.Sex.replace(to_replace =("N"), value ="M")

In [52]:
df.Sex.unique()

array(['F', 'M', 'Unknown'], dtype=object)

In [53]:
df.loc[df['Sex'] == 'lli']

Empty DataFrame
Columns: [Case_number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal, Time, Species, Investigator, pdf, href_formula, href, Case_n1, Case_n2, original_order, unnamed22, unnamed23]
Index: []

[0 rows x 24 columns]

In [54]:
df.Sex=df.Sex.replace(to_replace =("lli"), value ="M")

In [55]:
df.loc[df['Sex'] == '.']

Empty DataFrame
Columns: [Case_number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal, Time, Species, Investigator, pdf, href_formula, href, Case_n1, Case_n2, original_order, unnamed22, unnamed23]
Index: []

[0 rows x 24 columns]

In [56]:
df.Sex=df.Sex.replace(to_replace =("."), value ="Unknown")

In [57]:
df.Sex.unique()

array(['F', 'M', 'Unknown'], dtype=object)

# Columna Age

In [58]:
df.Age.unique()

array(['57', '11', '48', 'Unknown', '18', '52', '15', '12', '32', '10',
       '21', '34', '30', '60', '33', '29', '54', '41', '37', '56', '19',
       '25', '69', '38', '55', '35', '46', '45', '14', '40', '28', '20',
       '24', '26', '49', '22', '7', '31', '17', '13', '42', '3', '8',
       '50', '16', '82', '73', '68', '51', '39', '58', 'Teen', '47', '61',
       '65', '36', '66', '43', '9', '72', '59', '6', '27', '64', '23',
       '71', '44', '62', '63', '70', '18 month', '53', 'teen', '77', '74',
       '28 & 26', '5', '86', '18 or 20', '12 or 13', '46 & 34',
       '28, 23 & 30', '36 & 26', '8 or 10', '84', '\xa0 ', ' ',
       '30 or 36', '6½', '21 & ?', '75', '33 or 37', 'mid-30', '23 & 20',
       ' 30', '7      &    31', ' 28', '20?', "60'", '32 & 30',
       '16 to 18', '87', '67', 'Elderly', 'mid-20', 'Ca. 33', '74 ',
       '45 ', '21 or 26', '20 ', '>50', '18 to 22', 'adult', '9 & 12',
       '? & 19', '9 month', '25 to 35', '23 & 26', '1', '(adult)',
       '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35',
       '30 & 32', '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18',
       '34 & 19', '33 & 26', '2 to 3 month', 'MAKE LINE GREEN', ' 43',
       '81', '"young"', '7 or 8', '78', '17 & 16', 'F', 'Both 11',
       '9 or 10', 'young', '36 & 23', '  ', 'A.M', '?    &   14',
       '10 or 12', '31 or 33', '2½', '13 or 14'], dtype=object)

In [59]:
df['Age'] = df['Age'].fillna('Unknown')

In [60]:
for i in df.Age:
    if i.endswith('s'):
        df['Age'] = df['Age'].str.rstrip('.s')
    else:
        pass

In [61]:
df.loc[df['Age'].str.contains('\[a-z]+', regex=True, case=False), 'Age'] = 'Unknown'

# Columna injury

No es la sección de la que estoy mas orgulloso, he ido aprendiendo lo de starts with y contain mientras lo hacía y se nota. Es un poco desorganizado pero n general lo que hago es quitar duplicados y agrupar por las repeticiones que voy viendo

In [62]:
df['Injury'] = df['Injury'].fillna('Unknown')

In [63]:
df.loc[df['Injury'].str.contains('\wo injury', regex=True, case=False), 'Injury'] = 'No injury'

In [64]:
df.Injury=df.Injury.apply(lambda x: 'FATAL' if x.startswith(('Death', 'Dead')) else x)

In [65]:
df.loc[df['Injury'].str.contains('\wrm', regex=True, case=False), 'Injury'] = 'Arm injury'

In [66]:
df.loc[df['Injury'].str.contains('\woot', regex=True, case=False), 'Injury'] = 'Leg injury'

In [67]:
df.loc[df['Injury'].str.contains('\weg', regex=True, case=False), 'Injury'] = 'Leg injury'

In [68]:
df.loc[df['Injury'].str.contains('\wand', regex=True, case=False), 'Injury'] = 'Arm injury'

In [69]:
df.loc[df['Injury'].str.contains('\watal', regex=True, case=False), 'Injury'] = 'FATAL'

In [70]:
df.loc[df['Injury'].str.contains('\wit', regex=True, case=False), 'Injury'] = 'Bitten'

In [71]:
df.loc[df['Injury'].str.contains('\wuncture', regex=True, case=False), 'Injury'] = 'Puncture'

In [72]:
df.loc[df['Injury'].str.contains('\waceration', regex=True, case=False), 'Injury'] = 'Laceration'

In [73]:
df.loc[df['Injury'].str.contains('\winor', regex=True, case=False), 'Injury'] = 'Minor Injuries'

In [74]:
injury_lst = ['Unknown', 'Arm injury', 'No injury', 'Leg injury', 'Laceration', 'Minor Injuries', 'Puncture', 'Bitten', 'FATAL']

In [75]:
df.Injury=df.Injury.apply(lambda x: 'Unknown' if x not in injury_lst else x)

In [76]:
#He optado por no agrupar los PROVOKED INCIDENT, ya que no da info sobre el injury
#Si nos interesa esa info, creamos una nueva columna con un booleano yes/no
df.Injury.value_counts()

Leg injury        1618
FATAL             1127
Arm injury        1009
No injury          804
Unknown            791
Bitten             549
Laceration         239
Minor Injuries      90
Puncture            75
Name: Injury, dtype: int64

# Columna fatal

In [77]:
df.Fatal.unique()

array(['N', 'Y', 'Unknown'], dtype=object)

In [78]:
df['Fatal'] = df['Fatal'].fillna('Unknown')

In [79]:
df.Fatal=df.Fatal.replace(to_replace =(" N"), value ="N")

In [80]:
df.Fatal=df.Fatal.replace(to_replace =("N "), value ="N")

In [81]:
df.Fatal=df.Fatal.replace(to_replace =("y"), value ="Y")

In [82]:
df.Fatal=df.Fatal.replace(to_replace =("UNKNOWN"), value ="Unknown")

In [83]:
df.Fatal=df.Fatal.replace(to_replace =("M"), value ="Unknown")

In [84]:
df.Fatal=df.Fatal.replace(to_replace =("2017"), value ="Unknown")

In [85]:
df.Fatal.unique()

array(['N', 'Y', 'Unknown'], dtype=object)

# Columna time

In [86]:
df['Time'] = df['Time'].fillna('Unknown')

In [87]:
#Empaqueto las horas en Morning, Afternoon, evening y night

In [88]:
df.Time=df.Time.apply(lambda x: 'Morning' if x.startswith('06') else x)

In [89]:
df.Time=df.Time.apply(lambda x: 'Morning' if x.startswith('07') else x)

In [90]:
df.Time=df.Time.apply(lambda x: 'Morning' if x.startswith('08') else x)

In [91]:
df.Time=df.Time.apply(lambda x: 'Morning' if x.startswith('8') else x)

In [92]:
df.Time=df.Time.apply(lambda x: 'Morning' if x.startswith('09') else x)

In [93]:
df.Time=df.Time.apply(lambda x: 'Morning' if x.startswith('10') else x)

In [94]:
df.Time=df.Time.apply(lambda x: 'Morning' if x.startswith('11') else x)

In [95]:
df.Time=df.Time.apply(lambda x: 'Morning' if x.startswith('12') else x)

In [96]:
df.Time=df.Time.apply(lambda x: 'Afternoon' if x.startswith('13') else x)

In [97]:
df.Time=df.Time.apply(lambda x: 'Afternoon' if x.startswith('14') else x)

In [98]:
df.Time=df.Time.apply(lambda x: 'Afternoon' if x.startswith('15') else x)

In [99]:
df.Time=df.Time.apply(lambda x: 'Afternoon' if x.startswith('16') else x)

In [100]:
df.Time=df.Time.apply(lambda x: 'Afternoon' if x.startswith('17') else x)

In [101]:
df.Time=df.Time.apply(lambda x: 'Evening' if x.startswith('18') else x)

In [102]:
df.Time=df.Time.apply(lambda x: 'Evening' if x.startswith('19') else x)

In [103]:
df.Time=df.Time.apply(lambda x: 'Evening' if x.startswith('20') else x)

In [104]:
df.Time=df.Time.apply(lambda x: 'Evening' if x.startswith('21') else x)

In [105]:
df.Time=df.Time.apply(lambda x: 'Night' if x.startswith('22') else x)

In [106]:
df.Time=df.Time.apply(lambda x: 'Night' if x.startswith('23') else x)

In [107]:
df.Time=df.Time.apply(lambda x: 'Night' if x.startswith('0') else x)

In [108]:
df.loc[df['Time'].str.contains('\wrning', regex=True, case=False), 'Time'] = 'Morning'

In [109]:
df.loc[df['Time'].str.contains('\wfternoon', regex=True, case=False), 'Time'] = 'Afternoon'

In [110]:
df.loc[df['Time'].str.contains('\wvening', regex=True, case=False), 'Time'] = 'Evening'

In [111]:
df.loc[df['Time'].str.contains('\wight', regex=True, case=False), 'Time'] = 'Night'

In [112]:
df.loc[df['Time'].str.contains('\woon', regex=True, case=False), 'Time'] = 'Afternoon'

In [113]:
df.Time=df.Time.apply(lambda x: 'Morning' if x.startswith('Early morning') else x)

In [114]:
df.Time=df.Time.apply(lambda x: 'Afternoon' if x.startswith('Early afternoon') else x)

In [115]:
df.Time.value_counts()

Unknown      3466
Afternoon    1350
Morning      1107
Evening       255
Night         124
Name: Time, dtype: int64

In [116]:
day_lst = ['Morning', 'Afternoon', 'Evening', 'Night', 'Unknown']

In [117]:
df.Time=df.Time.apply(lambda x: 'Unknown' if x not in day_lst else x)

In [118]:
df.Time.value_counts()

Unknown      3466
Afternoon    1350
Morning      1107
Evening       255
Night         124
Name: Time, dtype: int64

In [119]:
df.head()

,Case_number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator,pdf,href_formula,href,Case_n1,Case_n2,original_order,unnamed22,unnamed23
0,2018.06.25,2018-06-25 00:00:00,2018,Boating,Usa,California,"Oceanside, San Diego County",Unknown,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,unknown,unknown
1,2018.06.18,2018-06-18 00:00:00,2018,Unprovoked,Usa,Georgia,"St. Simon Island, Glynn County",Unknown,Adyson McNeely,F,...,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,unknown,unknown
2,2018.06.09,2018-06-09 00:00:00,2018,Invalid,Usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,unknown,unknown
3,2018.06.08,2018-06-08 00:00:00,2018,Unprovoked,Australia,New South Wales,Arrawarra Headland,Surfing,Unknown,M,...,Unknown,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,unknown,unknown
4,2018.06.04,2018-06-04 00:00:00,2018,Provoked,Mexico,Colima,La Ticla,Diving,Gustavo Ramos,M,...,Unknown,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,unknown,unknown

# Columna especies

In [120]:
df.Species.unique()

array(['White shark', 'Unknown', 'Tiger shark', 'Bull shark',
       'Nurse shark', 'Undifined Small shark', 'Undifined Large shark'],
      dtype=object)

In [121]:
df['Species'] = df['Species'].fillna('Unknown')

In [122]:
###Primero separamos por razas principales

In [123]:
df.loc[df['Species'].str.contains('\white', regex=True, case=False), 'Species'] = 'White shark'

In [124]:
df.loc[df['Species'].str.contains('\wull', regex=True, case=False), 'Species'] = 'Bull shark'

In [125]:
df.loc[df['Species'].str.contains('\witer', regex=True, case=False), 'Species'] = 'Tiger shark'

In [126]:
df.loc[df['Species'].str.contains('\rey', regex=True, case=False), 'Species'] = 'Grey shark'

In [127]:
df.loc[df['Species'].str.contains('\wurse', regex=True, case=False), 'Species'] = 'Nurse shark'

In [128]:
###Si no sabemos raza, vamos por tamaño aunque sea indefinido el tipo de tiburón

In [129]:
df.loc[df['Species'].str.contains('\warge', regex=True, case=False), 'Species'] = 'Undifined Large shark'

In [130]:
df.loc[df['Species'].str.contains('\wmall', regex=True, case=False), 'Species'] = 'Undifined Small shark'

In [131]:
shark_lst= ['White shark', 'Bull shark', 'Tiger shark', 'Grey shark', 'Nurse shark', 'Undifined Large shark', 'Undifined Small shark']

In [132]:
df.Species=df.Species.apply(lambda x: 'Unknown' if x not in shark_lst else x)

In [133]:
df.Species.value_counts()

Unknown                  5195
White shark               667
Bull shark                186
Nurse shark                97
Undifined Small shark      76
Tiger shark                73
Undifined Large shark       8
Name: Species, dtype: int64

# Columna investigador

In [134]:
df.Investigator.unique()

array(['R. Collier, GSAF', 'K.McMurray, TrackingSharks.com',
       'B. Myatt, GSAF', ..., 'F. Schwartz, p.23; C. Creswell, GSAF',
       'The Sun, 10/20/1938', 'S.W. Baker'], dtype=object)

In [135]:
df['Investigator'] = df['Investigator'].fillna('Unknown')

# Columnas PDF, Href1 y Href2

In [136]:
df['pdf'] = df['pdf'].fillna('No pdf')

In [137]:
df['href_formula'] = df['href_formula'].fillna('No link')

In [138]:
df['href'] = df['href'].fillna('No link')

In [139]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

# Columnas case_n1 y case_n2

In [140]:
df.Case_n1

0       2018.06.25
1       2018.06.18
2       2018.06.09
3       2018.06.08
4       2018.06.04
           ...
6297       ND.0005
6298       ND.0004
6299       ND.0003
6300       ND.0002
6301       ND.0001
Name: Case_n1, Length: 6302, dtype: object

In [141]:
for i in df.Case_n1:
    if i.endswith('a'):
        df['Case_n1'] = df['Case_n1'].str.rstrip('.a')
    elif i.endswith('b'):
        df['Case_n1'] = df['Case_n1'].str.rstrip('.b')
    elif i.endswith('c'):
        df['Case_n1'] = df['Case_n1'].str.rstrip('.c')
    elif i.endswith('d'):
        df['Case_n1'] = df['Case_n1'].str.rstrip('.d')
    elif i.endswith('R'):
        df['Case_n1'] = df['Case_n1'].str.rstrip('.R')
    else:
        pass

In [142]:
for i in df.Case_n1:
    if i.endswith('a'):
        df['Case_n2'] = df['Case_n2'].str.rstrip('.a')
    elif i.endswith('b'):
        df['Case_n2'] = df['Case_n2'].str.rstrip('.b')
    elif i.endswith('c'):
        df['Case_n2'] = df['Case_n2'].str.rstrip('.c')
    elif i.endswith('d'):
        df['Case_n2'] = df['Case_n2'].str.rstrip('.d')
    elif i.endswith('R'):
        df['Case_n2'] = df['Case_n2'].str.rstrip('.R')
    else:
        pass

# Columnas unamed, Case_number y original order

In [143]:
df['unnamed22'] = df['unnamed22'].fillna('unknown')

In [144]:
df['unnamed23'] = df['unnamed23'].fillna('unknown')

In [145]:
df['Case_number'] = df['Case_number'].fillna('unknown')

In [146]:
df.original_order=df.original_order.astype(dtype='str')

In [147]:
df['original_order'] = df['original_order'].str.rstrip('.0')

In [148]:
df.head()

,Case_number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator,pdf,href_formula,href,Case_n1,Case_n2,original_order,unnamed22,unnamed23
0,2018.06.25,2018-06-25 00:00:00,2018,Boating,Usa,California,"Oceanside, San Diego County",Unknown,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,unknown,unknown
1,2018.06.18,2018-06-18 00:00:00,2018,Unprovoked,Usa,Georgia,"St. Simon Island, Glynn County",Unknown,Adyson McNeely,F,...,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,unknown,unknown
2,2018.06.09,2018-06-09 00:00:00,2018,Invalid,Usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,unknown,unknown
3,2018.06.08,2018-06-08 00:00:00,2018,Unprovoked,Australia,New South Wales,Arrawarra Headland,Surfing,Unknown,M,...,Unknown,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,63,unknown,unknown
4,2018.06.04,2018-06-04 00:00:00,2018,Provoked,Mexico,Colima,La Ticla,Diving,Gustavo Ramos,M,...,Unknown,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,unknown,unknown

# Las check

In [149]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [150]:
df.info

<bound method DataFrame.info of      Case_number                 Date     Year        Type  \
0     2018.06.25  2018-06-25 00:00:00     2018     Boating
1     2018.06.18  2018-06-18 00:00:00     2018  Unprovoked
2     2018.06.09  2018-06-09 00:00:00     2018     Invalid
3     2018.06.08  2018-06-08 00:00:00     2018  Unprovoked
4     2018.06.04  2018-06-04 00:00:00     2018    Provoked
...          ...                  ...      ...         ...
6297     ND.0005              Unknown  Unknown  Unprovoked
6298     ND.0004              Unknown  Unknown  Unprovoked
6299     ND.0003              Unknown  Unknown  Unprovoked
6300     ND.0002              Unknown  Unknown  Unprovoked
6301     ND.0001              Unknown  Unknown  Unprovoked

                 Country               Area  \
0                    Usa         California
1                    Usa            Georgia
2                    Usa             Hawaii
3              Australia    New South Wales
4                 Mexico             Colima
...                  ...                ...
6297           Australia  Western Australia
6298           Australia  Western Australia
6299                 Usa     North Carolina
6300              Panama            Unknown
6301  Ceylon (sri lanka)   Eastern Province

                                 Location  Activity                   Name  \
0             Oceanside, San Diego County   Unknown            Julie Wolfe
1          St. Simon Island, Glynn County   Unknown        Adyson McNeely
2                            Habush, Oahu   Surfing            John Denges
3                      Arrawarra Headland   Surfing                Unknown
4                                La Ticla    Diving         Gustavo Ramos
...                                   ...       ...                    ...
6297                          Roebuck Bay    Diving                Unknown
6298                              Unknown    Diving                  Ahmun
6299                       Ocracoke Inlet  Swimming  Coast Guard personnel
6300                 Panama Bay 8ºN, 79ºW   Unknown        Jules Patterson
6301  Below the English fort, Trincomalee  Swimming                Unknown

     Sex  ...      Species                           Investigator  \
0      F  ...  White shark                       R. Collier, GSAF
1      F  ...      Unknown         K.McMurray, TrackingSharks.com
2      M  ...      Unknown         K.McMurray, TrackingSharks.com
3      M  ...      Unknown                         B. Myatt, GSAF
4      M  ...      Unknown                              A .Kipper
...   ..  ...          ...                                    ...
6297   M  ...      Unknown       H. Taunton; N. Bartlett,  p. 234
6298   M  ...      Unknown  H. Taunton; N. Bartlett,  pp. 233-234
6299   M  ...      Unknown   F. Schwartz, p.23; C. Creswell, GSAF
6300   M  ...      Unknown                    The Sun, 10/20/1938
6301   M  ...      Unknown                             S.W. Baker

                                 pdf  \
0               2018.06.25-Wolfe.pdf
1             2018.06.18-McNeely.pdf
2              2018.06.09-Denges.pdf
3           2018.06.08-Arrawarra.pdf
4               2018.06.04-Ramos.pdf
...                              ...
6297          ND-0005-RoebuckBay.pdf
6298               ND-0004-Ahmun.pdf
6299  ND-0003-Ocracoke_1900-1905.pdf
6300      ND-0002-JulesPatterson.pdf
6301              ND-0001-Ceylon.pdf

                                           href_formula  \
0     http://sharkattackfile.net/spreadsheets/pdf_di...
1     http://sharkattackfile.net/spreadsheets/pdf_di...
2     http://sharkattackfile.net/spreadsheets/pdf_di...
3     http://sharkattackfile.net/spreadsheets/pdf_di...
4     http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                 ...
6297  http://sharkattackfile.net/spreadsheets/pdf_di...
6298  http://sharkattackfile.net/spreadsheets/pdf_di...
6299  http://sharkattackfile.net/spreadsheets/pdf_di...
6300  http://sharkattackfile.net/spreadsheets/pdf_di...
6301  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href     Case_n1  \
0     http://sharkattackfile.net/spreadsheets/pdf_di...  2018.06.25
1     http://sharkattackfile.net/spreadsheets/pdf_di...  2018.06.18
2     http://sharkattackfile.net/spreadsheets/pdf_di...  2018.06.09
3     http://sharkattackfile.net/spreadsheets/pdf_di...  2018.06.08
4     http://sharkattackfile.net/spreadsheets/pdf_di...  2018.06.04
...                                                 ...         ...
6297  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
6298  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
6299  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
6300  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
6301  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

         Case_n2 original_order unnamed22 unnamed23
0     2018.06.25           6303   unknown   unknown
1     2018.06.18           6302   unknown   unknown
2     2018.06.09           6301   unknown   unknown
3     2018.06.08             63   unknown   unknown
4     2018.06.04           6299   unknown   unknown
...          ...            ...       ...       ...
6297     ND.0005              6   unknown   unknown
6298     ND.0004              5   unknown   unknown
6299     ND.0003              4   unknown   unknown
6300     ND.0002              3   unknown   unknown
6301     ND.0001              2   unknown   unknown

[6302 rows x 24 columns]>

In [151]:
# Export comma-separated variable file
df.to_csv('/Users/mikel/Documents/week2/Proyecto_TL/attacks.csv', index=False, encoding = "latin1")

In [152]:
df

,Case_number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator,pdf,href_formula,href,Case_n1,Case_n2,original_order,unnamed22,unnamed23
0,2018.06.25,2018-06-25 00:00:00,2018,Boating,Usa,California,"Oceanside, San Diego County",Unknown,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,unknown,unknown
1,2018.06.18,2018-06-18 00:00:00,2018,Unprovoked,Usa,Georgia,"St. Simon Island, Glynn County",Unknown,Adyson McNeely,F,...,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,unknown,unknown
2,2018.06.09,2018-06-09 00:00:00,2018,Invalid,Usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,unknown,unknown
3,2018.06.08,2018-06-08 00:00:00,2018,Unprovoked,Australia,New South Wales,Arrawarra Headland,Surfing,Unknown,M,...,Unknown,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,63,unknown,unknown
4,2018.06.04,2018-06-04 00:00:00,2018,Provoked,Mexico,Colima,La Ticla,Diving,Gustavo Ramos,M,...,Unknown,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,unknown,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Unknown,Unknown,Unprovoked,Australia,Western Australia,Roebuck Bay,Diving,Unknown,M,...,Unknown,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,unknown,unknown
6298,ND.0004,Unknown,Unknown,Unprovoked,Australia,Western Australia,Unknown,Diving,Ahmun,M,...,Unknown,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,unknown,unknown
6299,ND.0003,Unknown,Unknown,Unprovoked,Usa,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Unknown,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,unknown,unknown
6300,ND.0002,Unknown,Unknown,Unprovoked,Panama,Unknown,"Panama Bay 8ºN, 79ºW",Unknown,Jules Patterson,M,...,Unknown,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,unknown,unknown
6301,ND.0001,Unknown,Unknown,Unprovoked,Ceylon (sri lanka),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unknown,M,...,Unknown,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,unknown,unknown