In [1]:
import pandas as pd
import numpy as np


pd.set_option('display.max_columns', None)

import warnings
warnings.simplefilter('ignore')

In [2]:
df=pd.read_csv('attacks.csv', encoding='latin1')

df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
dim_original=df.shape  # variable shape original

df.shape

(25723, 24)

In [4]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
nuevas_cols=[c.lower() for c in df.columns]    # Renombrar las columnas MINUSCULAS
df=df.rename(columns={k:v for k,v in zip(df.columns, nuevas_cols)})

In [6]:
new_cols=[c.strip() for c in df.columns]
df=df.rename(columns={k:v for k,v in zip(df.columns, new_cols)}) # Eliminar espacios columnas

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal (y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator or source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case number.1           6302 non-null   object
 20  case number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  unnamed: 22             1 non-null      object
 23  unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [8]:
nan_cols = df.isna().sum()

In [9]:
nan_cols[nan_cols>0]

case number               17021
date                      19421
year                      19423
type                      19425
country                   19471
area                      19876
location                  19961
activity                  19965
name                      19631
sex                       19986
age                       22252
injury                    19449
fatal (y/n)               19960
time                      22775
species                   22259
investigator or source    19438
pdf                       19421
href formula              19422
href                      19421
case number.1             19421
case number.2             19421
original order            19414
unnamed: 22               25722
unnamed: 23               25721
dtype: int64

In [10]:
nan_cols[nan_cols>1e4].index

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal (y/n)', 'time',
       'species', 'investigator or source', 'pdf', 'href formula', 'href',
       'case number.1', 'case number.2', 'original order', 'unnamed: 22',
       'unnamed: 23'],
      dtype='object')

In [11]:
df.duplicated().sum()

19411

In [12]:
df=df.drop_duplicates() #Eliminar duplicados

In [13]:
dim_original,df.shape

((25723, 24), (6312, 24))

In [14]:
df.head()

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [15]:
#df['date']=pd.to_datetime(df['date'], errors='coerce') #Cambiar el tipo de dato de object a date

In [16]:
#df['date']=pd.to_datetime(df['date'], errors='coerce')

In [17]:
#df.fillna('Unknown')

In [18]:
df2 = df.dropna (how='all')

In [19]:
df2

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df2= df2.dropna(thresh = 3) # Eliminar filas nulas

In [21]:
df2.year=df2.year.fillna(0) # Rellenar filas nulas de columna year por 0

In [22]:
df2.year = df2.year.astype(dtype='int64')

In [23]:
df2

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case number             6301 non-null   object
 1   date                    6302 non-null   object
 2   year                    6302 non-null   int64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal (y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator or source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case number.1           6302 non-null   object
 20  case number.2           6302 non-null   object
 21  original order          6302 non-null   float64
 22  unnamed: 22             1 non-null      object
 23  unnamed: 23             2 non-null      object
dtypes: float64(1), int64(1), object(22)
memory usage: 1.2+ MB

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case number             6301 non-null   object
 1   date                    6302 non-null   object
 2   year                    6302 non-null   int64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal (y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator or source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case number.1           6302 non-null   object
 20  case number.2           6302 non-null   object
 21  original order          6302 non-null   float64
 22  unnamed: 22             1 non-null      object
 23  unnamed: 23             2 non-null      object
dtypes: float64(1), int64(1), object(22)
memory usage: 1.2+ MB

In [26]:
df2.sex.value_counts()

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: sex, dtype: int64

In [27]:
df2['sex'] = df2['sex'].str.replace('N', 'M')
df2['sex'] = df2['sex'].str.strip()
df2['sex'] = df2['sex'].fillna('Unknown')
df2['sex'] = df2['sex'].str.replace('lli', 'Unknown')
df2['sex'] = df2['sex'].str.replace('.', 'Unknown')
set(df2['sex'])
df2['sex'].value_counts(dropna=True)

M          5098
F           637
Unknown     567
Name: sex, dtype: int64

In [28]:
df2.sex.head()

0    F
1    F
2    M
3    M
4    M
Name: sex, dtype: object

In [29]:
df2.sex.value_counts()

M          5098
F           637
Unknown     567
Name: sex, dtype: int64

In [30]:
df2.date.value_counts()

1957            11
1942             9
1956             8
1941             7
1950             7
                ..
11-Mar-2017      1
16-Jun-2002      1
31-July-2009     1
09-Mar-1975      1
26-Oct-2017      1
Name: date, Length: 5433, dtype: int64

In [31]:
df2.time.value_counts()

Afternoon        187
11h00            128
Morning          121
12h00            109
15h00            108
                ...
"Night"            1
Late night         1
"Evening"          1
19h55              1
11h00 / 11h30      1
Name: time, Length: 366, dtype: int64

In [32]:
df2['time'] = df2['time'].str.replace('11h00', 'Morning')

In [33]:
df2.time.value_counts()

Morning             249
Afternoon           187
12h00               109
15h00               108
16h00               101
                   ...
19h55                 1
"Evening"             1
10h00 -- Morning      1
                      1
11h57                 1
Name: time, Length: 365, dtype: int64

In [34]:
df2['fatal (y/n)'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: fatal (y/n), dtype: int64

In [35]:
df2['fatal (y/n)'] = df2['fatal (y/n)'].str.replace('2017', 'UNKNOWN')      # Cambiar todos los valores para homogeneizar la colunna FATAL YN
df2['fatal (y/n)'] = df2['fatal (y/n)'].str.strip()
df2['fatal (y/n)'] = df2['fatal (y/n)'].fillna('UNKNOWN')
df2['fatal (y/n)'] = df2['fatal (y/n)'].str.replace('y', 'Y')
df2['fatal (y/n)'] = df2['fatal (y/n)'].str.replace('M', 'UNKNOWN')

set(df2['fatal (y/n)'])
df2['fatal (y/n)'].value_counts(dropna=True)

N          4301
Y          1389
UNKNOWN     612
Name: fatal (y/n), dtype: int64

In [36]:
df2.head()

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [37]:
df2['original order'] = df2['original order'].astype(dtype='int64')

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case number             6301 non-null   object
 1   date                    6302 non-null   object
 2   year                    6302 non-null   int64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     6302 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal (y/n)             6302 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator or source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case number.1           6302 non-null   object
 20  case number.2           6302 non-null   object
 21  original order          6302 non-null   int64
 22  unnamed: 22             1 non-null      object
 23  unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.2+ MB

In [39]:
df2.head()

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN

In [40]:
set(df.age)

{' ',
 '  ',
 ' 28',
 ' 30',
 ' 43',
 '"middle-age"',
 '"young"',
 '(adult)',
 '1',
 '10',
 '10 or 12',
 '11',
 '12',
 '12 or 13',
 '13',
 '13 or 14',
 '13 or 18',
 '14',
 '15',
 '16',
 '16 to 18',
 '17',
 '17 & 16',
 '17 & 35',
 '18',
 '18 months',
 '18 or 20',
 '18 to 22',
 '19',
 '2 to 3 months',
 '20',
 '20 ',
 '20?',
 '20s',
 '21',
 '21 & ?',
 '21 or 26',
 '21, 34,24 & 35',
 '22',
 '23',
 '23 & 20',
 '23 & 26',
 '24',
 '25',
 '25 or 28',
 '25 to 35',
 '26',
 '27',
 '28',
 '28 & 26',
 '28, 23 & 30',
 '29',
 '2½',
 '3',
 '30',
 '30 & 32',
 '30 or 36',
 '30s',
 '31',
 '31 or 33',
 '32',
 '32 & 30',
 '33',
 '33 & 26',
 '33 & 37',
 '33 or 37',
 '34',
 '34 & 19',
 '35',
 '36',
 '36 & 23',
 '36 & 26',
 '37',
 '37, 67, 35, 27,  ? & 27',
 '38',
 '39',
 '40',
 '40s',
 '41',
 '42',
 '43',
 '44',
 '45',
 '45 ',
 '46',
 '46 & 34',
 '47',
 '48',
 '49',
 '5',
 '50',
 '50 & 30',
 '50s',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '6',
 '60',
 "60's",
 '60s',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '6½',
 '7',
 '7      &    31',
 '7 or 8',
 '70',
 '71',
 '72',
 '73',
 '74',
 '74 ',
 '75',
 '77',
 '78',
 '8',
 '8 or 10',
 '81',
 '82',
 '84',
 '86',
 '87',
 '9',
 '9 & 12',
 '9 months',
 '9 or 10',
 '>50',
 '?    &   14',
 '? & 19',
 'A.M.',
 'Both 11',
 'Ca. 33',
 'Elderly',
 'F',
 'MAKE LINE GREEN',
 'Teen',
 'Teens',
 'X',
 'adult',
 'mid-20s',
 'mid-30s',
 nan,
 'teen',
 'young',
 '\xa0 '}

In [41]:
df2.shape

(6302, 24)

In [42]:
import re

In [43]:
df2.age = df['age'].fillna('0')
df2.age

0       57
1       11
2       48
3        0
4        0
        ..
6297     0
6298     0
6299     0
6300     0
6301    15
Name: age, Length: 6302, dtype: object

In [44]:
lst= []

patron = '\d+'
for e in df2.age:
    try:
        lst.append(re.findall(patron,e)[0])
    except:
        lst.append('Unknown')

In [45]:
df2.age=lst

In [46]:
df2.age.value_counts()

0     2831
17     156
18     153
20     151
19     143
      ...
82       1
86       1
81       1
67       1
87       1
Name: age, Length: 83, dtype: int64

In [47]:
df2.head()

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,0,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN

In [48]:
df2.injury.value_counts()

FATAL                                                  802
Survived                                                97
Foot bitten                                             87
No injury                                               82
Leg bitten                                              72
                                                      ...
Left forearm bitten, surgically amputated?               1
Severe kacerations, FATAL                                1
Lacerations to little finger                             1
Leg & thigh bitten                                       1
2' cut to dorsum of foot, 2 puncture wounds to sole      1
Name: injury, Length: 3737, dtype: int64

In [49]:
df2.shape

(6302, 24)

In [50]:
df2.injury = df.injury.fillna('Unknown')

In [51]:
df.injury.value_counts()

FATAL                                                  802
Survived                                                97
Foot bitten                                             87
No injury                                               82
Leg bitten                                              72
                                                      ...
Left forearm bitten, surgically amputated?               1
Severe kacerations, FATAL                                1
Lacerations to little finger                             1
Leg & thigh bitten                                       1
2' cut to dorsum of foot, 2 puncture wounds to sole      1
Name: injury, Length: 3737, dtype: int64

In [52]:
set(df2)

{'activity',
 'age',
 'area',
 'case number',
 'case number.1',
 'case number.2',
 'country',
 'date',
 'fatal (y/n)',
 'href',
 'href formula',
 'injury',
 'investigator or source',
 'location',
 'name',
 'original order',
 'pdf',
 'sex',
 'species',
 'time',
 'type',
 'unnamed: 22',
 'unnamed: 23',
 'year'}

In [53]:
df2.injury[df2.injury.str.contains("Fatal")] = 'FATAL'      #definir unas variables para la columna injury 
df2.injury[df2.injury.str.contains("FATAL")] = 'FATAL'
df2.injury[df2.injury.str.contains("fatal")] = 'FATAL'
df2.injury[df2.injury.str.contains("died")] = 'FATAL'
df2.injury[df2.injury.str.contains("Died")] = 'FATAL'
df2.injury[df2.injury.str.contains("FATAL")] = 'FATAL'
df2.injury[df2.injury.str.contains("Survived")] = 'Survived'
df2.injury[df2.injury.str.contains("survived")] = 'Survived'
df2.injury[df2.injury.str.contains("neck")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("necks")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Head")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("head")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("lacerated")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("lacerations")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Lacerations")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Multiple")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("multiple")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("multiples")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Multiples")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Laceration")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("laceration")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Major")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("major")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Seriuos")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Serious injuries")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("No injury")] = 'No injury'
df2.injury[df2.injury.str.contains("no injury")] = 'No injury'
df2.injury[df2.injury.str.contains("No Injury")] = 'No injury'
df2.injury[df2.injury.str.contains("No")] = 'No injury'
df2.injury[df2.injury.str.contains("no")] = 'No injury'
df2.injury[df2.injury.str.contains("Survived")] = 'No injury'
df2.injury[df2.injury.str.contains("survived")] = 'No injury'
df2.injury[df2.injury.str.contains("survivor")] = 'No injury'
df2.injury[df2.injury.str.contains("Leg")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("leg")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("ankle")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Ankle")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("femur")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("tibia")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("heel")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("knee")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Torso")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("torso")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Back")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("back")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Abdomen")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Abrasion")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("abrasion")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Abrasions")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("abrasion")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Chest")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("chest")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("cheek")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("hand")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Hand")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Hands")] = 'Low Injury'
df2.injury[df2.injury.str.contains("hands")] = 'Low Injury'
df2.injury[df2.injury.str.contains("finger")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Finger")] = 'Low Injury'
df2.injury[df2.injury.str.contains("wounds")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Foot")] = 'Low Injury'
df2.injury[df2.injury.str.contains("foot")] = 'Low Injury'
df2.injury[df2.injury.str.contains("arm")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Arm")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Thigh")] = 'Low Injury'
df2.injury[df2.injury.str.contains("thigh")] = 'Low Injury'
df2.injury[df2.injury.str.contains("thighs")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Minor")] = 'Low Injury'
df2.injury[df2.injury.str.contains("minor")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Punctures")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Puncture")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Left")] = 'Low Injury'
df2.injury[df2.injury.str.contains("left")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Shoulder")] = 'Low Injury'
df2.injury[df2.injury.str.contains("shoulder")] = 'Low Injury'
df2.injury[df2.injury.str.contains("bite")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Bite")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Knee")] = 'Low Injury'
df2.injury[df2.injury.str.contains("knee")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Heel")] = 'Low Injury'
df2.injury[df2.injury.str.contains("heel")] = 'Low Injury'
df2.injury[df2.injury.str.contains("toe")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Toe")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Right")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Left")] = 'Low Injury'
df2.injury[df2.injury.str.contains("right")] = 'Low Injury'
df2.injury[df2.injury.str.contains("left")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Shin")] = 'Low Injury'
df2.injury[df2.injury.str.contains("shin")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Bruise")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Calf")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Bitten")] = 'Low Injury'
df2.injury[df2.injury.str.contains("bitten")] = 'Low Injury'
df2.injury[df2.injury.str.contains("bruised")] = 'Low Injury'
df2.injury[df2.injury.str.contains("shark")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("Shark")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("sharks")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("sharks")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("drowning")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("details")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("re")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("Re")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("Boat")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("PROVOKED")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Shark attack not defined')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Missing')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Human')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Never')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Jumped')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Extensive')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Board')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Feet')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Mauled')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Doubtful')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Small bruise to calf ')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('General')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Suit ripped    ')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('on board')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Found to be a hoax ')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('One man')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('perished')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Toothmarks')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Several broken ribs')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('posterior')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('been downing')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('be fiction')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Found to be a hoax')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Suit ripped')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Small bruise to calf')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("Serious")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("Shark attack not defined")] = 'Shark attack not defined'

In [54]:
df2.injury.value_counts()

Shark attack not defined    1655
FATAL                       1373
No injury                   1335
Low Injury                  1222
Medium Injury                717
Name: injury, dtype: int64

In [55]:
set(df2.injury)

{'FATAL',
 'Low Injury',
 'Medium Injury',
 'No injury',
 'Shark attack not defined'}

In [56]:
df2.shape, dim_original

((6302, 24), (25723, 24))

In [57]:
df2.time=df2.time.fillna('Unknown')

In [58]:
df2.time[df2.time.str.contains("00h")] = 'Night'
df2.time[df2.time.str.contains("01h")] = 'Night'
df2.time[df2.time.str.contains("02h")] = 'Night'
df2.time[df2.time.str.contains("03h")] = 'Night'
df2.time[df2.time.str.contains("04h")] = 'Night'
df2.time[df2.time.str.contains("05h")] = 'Night'
df2.time[df2.time.str.contains("06h")] = 'Night'
df2.time[df2.time.str.contains("07h")] = 'Morning'
df2.time[df2.time.str.contains("08h")] = 'Morning'
df2.time[df2.time.str.contains("09h")] = 'Morning'
df2.time[df2.time.str.contains("10h")] = 'Morning'
df2.time[df2.time.str.contains("11h")] = 'Morning'
df2.time[df2.time.str.contains("12h")] = 'Morning'
df2.time[df2.time.str.contains("13h")] = 'Morning'
df2.time[df2.time.str.contains("14h")] = 'Afternoon'
df2.time[df2.time.str.contains("15h")] = 'Afternoon'
df2.time[df2.time.str.contains("16h")] = 'Afternoon'
df2.time[df2.time.str.contains("17h")] = 'Afternoon'
df2.time[df2.time.str.contains("18h")] = 'Afternoon'
df2.time[df2.time.str.contains("19h")] = 'Afternoon'
df2.time[df2.time.str.contains("20h")] = 'Afternoon'
df2.time[df2.time.str.contains("21h")] = 'Afternoon'
df2.time[df2.time.str.contains("22h")] = 'Afternoon'
df2.time[df2.time.str.contains("23h")] = 'Afternoon'
df2.time[df2.time.str.contains("Evening")] = 'Night'
df2.time[df2.time.str.contains("dawn")] = 'Night'
df2.time[df2.time.str.contains("morning")] = 'Morning'
df2.time[df2.time.str.contains("afternoon")] = 'Afternoon'
df2.time[df2.time.str.contains("dawn")] = 'Night'
df2.time[df2.time.str.contains("lunchtime")] = 'Afternoon'
df2.time[df2.time.str.contains("afternoon")] = 'Afternoon'
df2.time[df2.time.str.contains("Night")] = 'Night'
df2.time[df2.time.str.contains("Mid")] = 'Afternoon'
df2.time[df2.time.str.contains("noon")] = 'Afternoon'
df2.time[df2.time.str.contains("Midday")] = 'Morning'
df2.time[df2.time.str.contains("Midnight")] = 'Night'
df2.time[df2.time.str.contains("Morning")] = 'Morning'
df2.time[df2.time.str.contains("Possibly")] = 'Morning'
df2.time[df2.time.str.contains("Noon")] = 'Morning'
df2.time[df2.time.str.contains("P")] = 'Morning'
df2.time[df2.time.str.contains("dusk")] = 'Night'
df2.time[df2.time.str.contains("night")] = 'Night'
df2.time[df2.time.str.contains("\xa0")] = 'Night'
df2.time[df2.time.str.contains("Sunset")] = 'Night'
df2.time[df2.time.str.contains(' ')] = 'Unknown'
df2.time[df2.time.str.contains('  ')] = 'Unknown'
df2.time[df2.time.str.contains('   ')] = 'Unknown'
df2.time[df2.time.str.contains('After dark')] = 'Night'
df2.time[df2.time.str.contains('After lunch')] = 'Afternoon'
df2.time[df2.time.str.contains('Early evening')] = 'Afternoon'
df2.time[df2.time.str.contains('Evening')] = 'Evening'
df2.time[df2.time.str.contains('Night')] = 'Night'
df2.time[df2.time.str.contains('shortly before dusk')] = 'Evening'
df2.time[df2.time.str.contains('--')] = 'Unknown'
df2.time[df2.time.str.contains('0500')] = 'Night'
df2.time[df2.time.str.contains('06j00')] = 'Night'
df2.time[df2.time.str.contains('0830')] = 'Morning'
df2.time[df2.time.str.contains('1300')] = 'Night'
df2.time[df2.time.str.contains('1500')] = 'Afternoon'
df2.time[df2.time.str.contains('15j45')] = 'Afternoon'
df2.time[df2.time.str.contains('1600')] = 'Afternoon'
df2.time[df2.time.str.contains('2 hours after Opperman')] = 'Afternoon'
df2.time[df2.time.str.contains('2 hrs before sunset')] = 'Night'
df2.time[df2.time.str.contains('30 minutes after 1992.07.08.a')] = 'Afternoon'
df2.time[df2.time.str.contains('8:04 pm')] = 'Afternoon'
df2.time[df2.time.str.contains('9h00')] = 'Morning'
df2.time[df2.time.str.contains('A.M.')] = 'Morning'
df2.time[df2.time.str.contains('AM')] = 'Morning'
df2.time[df2.time.str.contains('After Dusk')] = 'Night'
df2.time[df2.time.str.contains('After dusk')] = 'Night'
df2.time[df2.time.str.contains('After midnight')] = 'Afternoon'
df2.time[df2.time.str.contains('After noon')] = 'Afternoon'
df2.time[df2.time.str.contains('Afternoon')] = 'Afternoon'
df2.time[df2.time.str.contains('Before daybreak')] = 'Afternoon'
df2.time[df2.time.str.contains('Dark')] = 'Night'
df2.time[df2.time.str.contains('Dawn')] = 'Morning'
df2.time[df2.time.str.contains('Daybreak')] = 'Afternoon'
df2.time[df2.time.str.contains('Daytime')] = 'Afternoon'
df2.time[df2.time.str.contains('Dusk')] = 'Afternoon'
df2.time[df2.time.str.contains('Early Morning')] = 'Morning'
df2.time[df2.time.str.contains('Early morning')] = 'Morning'
df2.time[df2.time.str.contains('Evening')] = 'Evening'

df2.time[df2.time.str.contains('X')] = 'Afternoon'

In [59]:
df2.time.value_counts()

Unknown      3376
Afternoon    1418
Morning      1311
Night         196
Lunchtime       1
Name: time, dtype: int64

In [60]:
set(df2.time)

{'Afternoon', 'Lunchtime', 'Morning', 'Night', 'Unknown'}

In [61]:
df2.time.value_counts()

Unknown      3376
Afternoon    1418
Morning      1311
Night         196
Lunchtime       1
Name: time, dtype: int64

In [62]:
df2.head()

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,No injury,N,Afternoon,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,No injury,N,Afternoon,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Medium Injury,N,Morning,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,0,No injury,N,Unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0,Shark attack not defined,N,Unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN

In [63]:
df2.type = df2.type.fillna("Unknown")                            #Rellenar Nans
df2.type[df2.type.str.contains("Boating")] = 'Sea Disaster'
df2.type[df2.type.str.contains("Boatomg")] = 'Sea Disaster'     # limpieza de datos y homogeneizacion columna Type
df2.type[df2.type.str.contains("Boat")] = 'Sea Disaster'
df2.type[df2.type.str.contains("Invalid")] = 'Unknown'
df2.type[df2.type.str.contains("Boatomg")] = 'Boat'

In [64]:
df2.type.value_counts()

Unprovoked      4595
Sea Disaster     580
Provoked         574
Unknown          551
Questionable       2
Name: type, dtype: int64

In [65]:
df2.area.value_counts()

Florida                       1037
New South Wales                486
Queensland                     311
Hawaii                         298
California                     290
                              ...
Mugla Province                   1
Grand Cayman                     1
Dar-es-Salaam                    1
Sharon                           1
Between DR and Puerto Rico       1
Name: area, Length: 825, dtype: int64

In [66]:
df2.area= df2.area.fillna('Uknown')

In [67]:
set(df2.area)

{' Kikori River mouth',
 ' La Libertad',
 ' Lau Province',
 ' Loyalty Islands',
 ' Manila Bay',
 ' New Jersey',
 ' North Carolina',
 ' Nusa Tenggara',
 ' Primorje-Gorski Kotar County',
 ' Split-Dalmatia Count,',
 ' Split-Dalmatia County',
 ' Upolu Island',
 '"Head of the Gulf"',
 '(Southwestern Pacific)',
 '04.05N-13.23W',
 '1,000 miles east of Hawaii',
 '1000 miles west of Hawaii',
 '10ºS, 142ºE',
 '12 miles off the north coast',
 '150 miles offshore',
 '165  miles from Bermuda',
 '180 miles southeast of Okinawa',
 '18S / 50E',
 '19S, 178?E',
 '2 to 3 miles off Taboguilla Island, Pacific Ocean',
 '200 nm southeast of Manila',
 '22ºN, 88ºE',
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
 "250 miles southwest of O'ahu, Hawaii",
 '30 nm from Singapore',
 '300 miles east of Luzon',
 '300 miles east of Mauritius',
 '300 miles east of St. Thomas (Virgin Islands)',
 '300 miles from Antigua',
 '330 to 350 miles east of Wake Island',
 '33N, 68W',
 "35º39 : 165º8'",
 '40 miles off Grand Bahama Island',
 '40 miles south of Naples ',
 '400 miles southeast of Sri Lanka',
 '5aint-Denis',
 '60 miles north of San Domingo in the West Indies',
 '600 nm west of the Canary Islands',
 '740 miles SE of Tarawa Atoll',
 '800 miles from land',
 '9.35N 79.35W',
 'Abaco Islands',
 'Abau Sub District, Central Province',
 'Abau Subdistrict,Central Province',
 'Adana Province',
 'Aden',
 'Admiralty Islands, Manus Province',
 'Adriatic Sea',
 'Ahirkapi coast',
 'Aichi Prefecture',
 'Alabama',
 'Alagoas',
 'Alaska',
 'Alicante',
 'Alicante Province',
 'Alifu Alifu Atoll',
 'Alinglaplap Atoll',
 'Alpes Maritime',
 'Altagracia Province',
 'Ambergris Caye',
 'Amirante Islands',
 'Anatolia',
 'Ancona Province',
 'Andalucia',
 'Andaman Islands',
 'Andikira Fokithes',
 'Andros Islands',
 'Anjouan',
 'Antalya Province',
 'Antarctic Ocean',
 'Antibes',
 'Antofagasta Province',
 'Antsiranana Province',
 'Anzoategui',
 'Apolima Strait',
 'Argyll',
 'Argyllshire',
 'Arran',
 'Ascension Bay',
 'Ascension Island',
 'Atsumi peninsula',
 'Attica',
 'Aulong Island',
 'Ba Ria-Vung Tau  Province',
 'Baatan',
 'Bahia',
 'Baie de Sainte-Marie',
 'Baja California',
 'Baja California Sur',
 'Balearics',
 'Bali',
 'Balneário Camboriú',
 'Banaadir Region',
 'Bandar Ma\x92shur sea inlet',
 'Bardestrand',
 'Barlavento Islands',
 'Basrah',
 'Basrah City',
 'Batanes Provine',
 'Batangas province',
 'Bay Islands',
 'Bay of Bengal',
 'Bay of Biscay',
 'Bay of Campeche',
 'Bay of Fundy',
 'Bay of Maputo',
 'Bay of Maputu',
 'Bay of Monaco',
 'Bayelsa State',
 'Beaufonds',
 'Bernardino Strait near Gulf of Leyte',
 'Berry Islands',
 'Between Australia & USA',
 'Between Beira & Maputo',
 'Between Comores & Madagascar',
 'Between DR and Puerto Rico',
 'Between England & South Africa',
 'Between Hastings & Fairlight, Sussex',
 'Between Hawaii & Wake Island',
 'Between Hawaii and U.S.A.',
 'Between Honiara & Isabel Island',
 'Between Kwajalein Atoll & Johnston Island',
 'Between New Ireland & New Britain',
 'Between Noumea & Sydney',
 'Between Perth & Colombo',
 'Between Somalia & Yemen',
 'Between Southampton & Canary Islands',
 'Between Timor & Darwin, Australia',
 'Bikini Atoll',
 'Bimini',
 'Bimini Islands',
 'Binh Dinh Province',
 'Bird Island',
 'Biserta',
 'Black River',
 'Boa Vista Island',
 'Bocas',
 'Bocas del Toro',
 'Bocas del Toro Province',
 'Boi Island, Victoria',
 'Bois-Blanc ',
 'Bonin Islands',
 'Bora Bora',
 'Bougainville (North Solomons)',
 'Brindisi Province',
 'British Colombia',
 'Brittany',
 'Buenos Aires Province',
 'Bwagaoia',
 'CUBA',
 'Cabo San Lucas',
 'Caicos Bank',
 'Calabria',
 'California',
 'Calvados Archipelago',
 'Camaguey Province',
 'Camiguin Island',
 'Canal Zone',
 'Canary Islands',
 'Cap Vert Peninsula',
 'Cap-Vert Peninsula',
 'Cape Coast',
 'Cape Haitien',
 'Carabobo',
 'Cargados Carajos Shoals (St. Brandon)',
 'Caribbean Coast',
 'Caribbean Sea',
 'Caroline Islands',
 'Carpathian Sea',
 'Casamance',
 'Castellón',
 'Cat Cay',
 'Catalonia',
 'Catalunya',
 'Cavite Province, Luzon',
 'Cay Sal Bank',
 'Central Philippines',
 'Central Province',
 'Central Tuamotu',
 'Chatham Islands',
 'Chatham Islands ',
 'Chatham Islands, east of New  Zealand',
 'Cheshire',
 'Chungnam',
 'Cienfuegos Province',
 'Cikobia Island (north of Vanua Levu)',
 'Clarendon',
 'Clearwater Bay',
 'Coast Province',
 'Cocos Island',
 'Colima',
 'Colon',
 'Colon Province',
 'Colón Province',
 'Conakry Region',
 'Congreve Channel',
 'Connecticut',
 'Conservatória District',
 'Cook Islands',
 'Cook Strait',
 'Cook islans',
 'Coquimbo',
 'Corfu',
 'Corfu ',
 'Corfu Island',
 'Cornwall',
 'Corregidor Island',
 'Cortés',
 'Costa Blanca',
 'Cumberland',
 'Curacao',
 'Cyclades',
 'Cyclades archipelago',
 'Cyrenaica',
 'Cádiz',
 "Côte d'Azur ",
 "Côte d'Azur  ",
 'Dar-es-Salaam ',
 'Delagoa Bay',
 'Delaware',
 'Delta',
 'Demerara County',
 'Devon',
 'Dodecanese Islands',
 'Dorset',
 'Dubai',
 'Duke of York Islands',
 'East Flores',
 'East Java',
 'East New Britain',
 'East New Britain Province',
 'East Sepik',
 'East Wall',
 'East Yorkshire',
 'East coast',
 'East of the Gulf of Aqaba',
 'Easter Ross',
 'Eastern  Province',
 'Eastern Cape  Province',
 'Eastern Cape Province',
 'Eastern Caroline Islands',
 'Eastern Catalona',
 'Eastern Province',
 'Edinburgh',
 'Ehime Prefecture',
 'Eleuthera',
 'Elqui Province',
 'English Channel',
 'Eniwetok Atoll',
 'Enroute from Suez to Aden (Yemen)',
 'Eronogo Region',
 'Essequibo',
 'Estuaire Province',
 'Exuma Islands',
 'Fernando Po Island',
 'Fernando de Noronha',
 'Fife',
 'Fishing Grounds',
 'Florida',
 'Florida ',
 'Florida Straits',
 'Foveaux Strait',
 'French Southern Territories',
 'Fujairah Emirate',
 'Galapagos Islands',
 'Galica',
 'Galicia',
 'Ganges-Brahmaputra delta',
 'Gaza',
 'Genoa  Province',
 'Genoa Province',
 'Georges Bank',
 'Georgia',
 'Gibraltar',
 'Gilbert Islands',
 'Golfo de Venezia',
 'Golfo di Genova in the Ligurian Sea',
 'Gran Canaria',
 'Granada',
 'Grand Bahama Island',
 'Grand Baie',
 'Grand Canary Island',
 'Grand Cayman',
 'Grand Terre',
 'Grand Turk Island',
 "Grand'Anse",
 'Great Exuma',
 'Great Exuma Island',
 'Green Bay',
 'Guadalcanal Province',
 'Guam',
 'Guanacaste',
 'Guantanamo Province',
 'Guerrero',
 'Guerro',
 'Guerrrero',
 'Gujarat',
 'Gulf Province',
 'Gulf of California',
 'Gulf of Lyons',
 'Gulf of Panama',
 'Gulf of Suez',
 'Gulf of Tadjoura',
 'Guyamas',
 "Ha'api",
 "Ha'api ",
 'Halifax',
 'Hamilton',
 'Harare Province',
 'Havana Province',
 'Hawaii',
 'Herzliyah',
 'Ho Ha Wan Marine Park',
 'Hokkaido Prefecture',
 'Holquin Province',
 'Hong Kong',
 'Honiara',
 'Hoogly River',
 'Hua Hin',
 'Ibaraki Prefecture',
 'Ibiza Island',
 'Illeginni Atoll',
 'Illinois',
 'Imperia Province',
 'In Convoy OB 274',
 'In the English Channel ',
 'In the Gulf Stream ',
 'In transit between Tinian and Leyte',
 'Inhambane Province',
 'Inhambe Province',
 'Inner Hebrides',
 'Inner Islands',
 'Ionian Sea',
 'Isla Provedencia',
 'Island of Kos',
 'Island of St. Thomas',
 'Island of Volos',
 'Isle of Man',
 'Isle of Wight',
 'Isles del Rosario',
 'Istanbul',
 'Istria',
 'Istria County',
 'Izo Islands',
 'Jakarta Harbour',
 'Java',
 'Jeju Province',
 'Johnston Atoll',
 'Johor',
 'Kadavu',
 'Kadavu Island Group',
 'Kagawa Prefecture',
 'Kagoshima Prefecture',
 'Karun River',
 'Kedah',
 'Kent',
 'Kentucky',
 'Kerala',
 'Khuzestan Province',
 'Khánh Hòa Province',
 'Kingston Parish',
 'Kochi Prefecture',
 'Kowloon Peninsula',
 'Kumamoto Prefecture',
 'Kuril Islands in the Pacific',
 'KwaZulu-Natal',
 'KwaZulu-Natal between Port Edward and Port St Johns',
 'Kwajalein',
 'Kwajalein Atoll',
 "L' Etang Salé-les-Bains",
 "L'Etang-Sale",
 "L'Etang-Salé",
 'La Libertad',
 'La Saline-les-Bains',
 'Lagos ',
 'Lake Nicaragua (fresh water)',
 'Lamu Archipelago',
 'Las Perlas archipelago',
 'Lau Group',
 'Laucala Island',
 'Le Port',
 'Leyte',
 'Leyte Island',
 'Liguaria',
 'Liguria',
 'Ligurian Sea',
 'Limpopo River',
 'Limón Province',
 'Line Islands',
 'Lomaiviti  Island Group',
 'Lomaiviti Province',
 'Lomaiviti Provine',
 'Lomaloma, Lau',
 'Los Roques  Islands',
 'Los Vilos',
 'Louisiade Archipelago',
 'Louisiana',
 'Lower San Juan River',
 'Loyalty Islands',
 'Lucy',
 'Lukovo',
 'Luzon',
 'Luzon Island',
 'Madang',
 'Madang (WO)',
 'Madang Province',
 'Madeira',
 'Madeira Islands',
 'Mafia Island',
 'Magarita or Cubagua Islands',
 'Magdalena Department',
 'Maharashtra',
 'Maine',
 'Majorca',
 'Makira-Ulawa Province',
 'Makira-Uluwa Province',
 'Makora-Ulawa Province',
 'Malaga',
 'Malaita Province',
 'Malampa Province',
 'Maldonado coast',
 'Maluku Province',
 'Manfredonia ',
 'Mangaia Island',
 'Manila',
 'Manus Island',
 'Maputo Province',
 'Maranhão',
 'Marches region',
 'Marovo Lagoon',
 'Marquesas',
 'Maryland',
 'Masbate',
 'Massachusetts',
 'Matanzas Province (north coast)',
 'Mediterranean Sea',
 'Mercury Islands',
 'Merizo',
 'Mersin Province',
 'Mexico / Caribbean Sea',
 'Middle Caicos',
 'Midway Atoll',
 'Milne Bay  Province',
 'Milne Bay Province',
 'Mindanao',
 'Mindoro',
 'Mindoro Occidental',
 'Minerva Reef',
 'Mirs Bay ',
 'Misamis Oriental',
 'Mississippi',
 'Missouri',
 'Miyako',
 'Miyako Island',
 'Moala Island',
 'Moluccas',
 'Mombasa',
 'Montserrado',
 'Moorea',
 'Moray',
 'Moro Gulf',
 'Morobe Province',
 'Mount Lebanon',
 'Mozambique Channel',
 'Muala',
 'Mugla Province',
 'Muhafazat Hadramawt',
 'Munxar Reef',
 'Málaga ',
 'Nagasaki Prefecture',
 'Namonuito Atoll',
 'Naples Province',
 'Near Bougainville (North Solomons)',
 'Near Dakar, Cap Vert Peninsula',
 'Near Puntarenas',
 'Near the Andaman & Nicobar Islands',
 'Near the Fiji Islands',
 'Negros ',
 'New Britain',
 'New Britain, Bismarck Archipelago',
 'New Brunswick',
 'New Georgia',
 'New Ireland',
 'New Ireland Province',
 'New Ireland Province, Bismarck Archipelago',
 'New Ireland, Bismarck Archipelago',
 'New Jersey',
 'New Mexico',
 'New Providence',
 'New Providence ',
 'New Providence District',
 'New Providence Island',
 'New South Wales',
 'New Territories',
 'New York',
 'New York ',
 'Newfoundland',
 'Nice & Marseilles',
 'Nicoya Peninsula',
 'Niua ',
 'Norfolk',
 'Norfolk Island',
 'North & South Carolina',
 'North Carolina',
 'North Carolina ',
 'North China',
 'North Devon',
 'North Island',
 'North Pacific coast',
 'North Palawan',
 'North Province',
 'North Region',
 'North Sumatra',
 'North of Pernambuco, Brazil',
 'Northern (Oro) Province',
 'Northern Bahamas',
 'Northern District',
 'Northern Java',
 'Northern Peloponnese',
 'Northern Province',
 'Northern Taiwan',
 'Northern Territory',
 'Northlands',
 'Northwest Italy',
 'Northwest of Papua New Guinea',
 'Northwest of Viti Levu',
 'Nova Scotia',
 'Nueva Esparta',
 "Nuku'alofa",
 'Oaxaca',
 'Off Cape Haitien',
 'Off Green Island',
 'Off Ireland',
 'Off Libya',
 'Off Samar Island in the Gulf of Leyte',
 'Off South American coast',
 'Off Thessaly',
 'Off Vanua Levu',
 'Off coast of Ecuador',
 'Off coast of West Africa',
 'Off the Coromandel Peninsula, North Island',
 'Off the coast of South America',
 'Off the coast of West Africa',
 'Off the western coast of peninsular Malaysia',
 'Okayama Prefecture',
 'Okinawa Prefecture',
 'On the Kowloon penisula, south of Sai Kung',
 'Open sea',
 'Oregon',
 'Orissa',
 'Oslo Fjord',
 'Out Islands',
 'PANAMA',
 'Pacific Ocean',
 'Pacific coast',
 'Pagasitikos Gulf',
 'Paget',
 'Palawan',
 'Palmyra Atoll',
 'Pamplemousses ',
 'Panama Bay (Pacific Ocean)',
 'Panama City',
 'Paraiba',
 'Pearl Islands',
 'Pennsylvania',
 'Pernambuco',
 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
 'Phang nga Province',
 'Phoenix Islands',
 'Phuket',
 'Pinas Bay',
 'Piraeus',
 'Port Louis Province',
 'Port Shelter',
 'Porto Seguro',
 'Praslin',
 'Primorje-Gorski Kotar County',
 'Primorje-Gorski Kotar County ',
 'Primorsky Krai',
 'Provence',
 'Providenciales',
 'Puerto Rico',
 'Puntarenas Province',
 'Queaon',
 'Queensland',
 'Queensland ',
 'Quezon',
 'Quintana Roo',
 'Ralik Archipelago',
 'Ralik Chain',
 'Rangiroa',
 'Rangoon',
 'Ratak ',
 'Rayong Province',
 'Red Sea',
 'Red Sea Protectorate',
 'Red Sea State',
 'Reggio Calabria Province',
 'Rhode Island',
 'Riau Province',
 'Rigo subdistrict',
 'Rio Grande Do Sul',
 'Rio Grande de Norte',
 'Rio San Juan',
 'Rio de Janeiro',
 'Rivers State',
 'Rocha',
 'Rocha ',
 'Rodrigues',
 'Rombion Province',
 'Romblon Province',
 'Roncador Bank',
 'Ryukyu',
 'Sago Prefecture',
 'Saint Gilles ',
 'Saint Leu',
 'Saint-Andre',
 'Saint-Benoit',
 'Saint-Benoît',
 'Saint-Denis',
 'Saint-Gilles',
 'Saint-Gilles-les-Bains',
 'Saint-Joseph',
 'Saint-Leu',
 'Saint-Louis',
 'Saint-Paul',
 'Saint-Paul ',
 'Saint-Philippe',
 'Saint-Pierre',
 'Sainte-Marie',
 'Sainte-Suzanne',
 'Saipan',
 'Salerno',
 'Salerno Province',
 'Salinas Bay',
 'Samaná Province',
 'San Andrés archipelago',
 'San Blas',
 'San Blas Islands',
 'San Blas coast',
 'San Carlos',
 'Sandaun Province',
 'Sanma Province',
 'Santa Catarina State',
 'Santa Cruz Island',
 'Santa Elena',
 'Santa Isabel Province',
 'Santiago Island',
 'Santiago de Cuba Province',
 'Santo Domingo',
 'Sants-Montjic',
 'Sardinia',
 'Savona',
 'Sea of Japan',
 'Sepang',
 'Sfax',
 'Shanghai',
 'Sharjah, ',
 'Sharon',
 'Shat-Al-Arab River',
 'Shatt-al-Arab River',
 'Shatt-el-Arab River',
 'Shefa Province',
 'Shizuoka Prefecture',
 'Sicily',
 'Simpson Bay',
 'Sinai Peninsula',
 'Sinaloa',
 'Singapore Harbor',
 'Skagerrak arm of the North Sea',
 'Slovenia',
 'Society Islands',
 'Socotra Islands',
 'Sofala Province',
 'Somewhere between Philadelphia and Hiogo, Japan',
 'South Atlantic Ocean',
 'South Australia',
 'South Carolina',
 'South Carolina ',
 "South Ch'ungch'ong Province",
 'South China Sea 200 miles from Hong Kong',
 'South Chungcheong Province',
 'South Coast, East New Britain',
 'South Devon',
 'South Island',
 'South Island, near Karitane north of Dunedin',
 'South Island?',
 'South Korea',
 'South Pacific Ocean',
 'South Province',
 'South Sinai Peninsula',
 'South Sinai, Gulf of Aqaba',
 'South of the Equator ',
 'South shore ',
 'Southern Cyprus',
 'Southern District',
 'Southern Japan',
 'Southern Province',
 'Southern Thailand',
 'Southland',
 'Southwest coast',
 'St Helena',
 "St John's",
 'St Michael Parish',
 'St. Andrew Parish',
 'St. Anne',
 'St. Catherine',
 'St. Georges ',
 'St. Johns Reef',
 "St. Mary's Parish",
 'St. Thomas Bay',
 'Strait of Malacca',
 'Strait of Messina',
 'Sucre',
 'Suez',
 'Suez Canal',
 'Sumatra',
 'Surigao del Norte',
 'Sussex',
 'Syracuse',
 'Tabasco',
 'Tabuk Province',
 'Tafea Province',
 'Taipei Hsien',
 'Taitung ',
 'Tamaulipas',
 'Tamil Nadu',
 'Taranto',
 'Taranto province',
 'Tasmania',
 'Tavenui',
 'Taveuni',
 'Tel Aviv',
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)',
 'Teramo',
 'Territory of Cocos (Keeling) Islands',
 'Texas',
 'Thessaly',
 'Tiburon Peninsula',
 'Toamasina Province',
 'Tokyo Bay',
 'Tokyo Prefecture',
 'Tongapatu Group',
 'Tongatapu',
 'Torres Strait',
 'Torres Strait ',
 'Transvaal',
 'Trelawney Province',
 'Trieste',
 'Trinidad',
 'Trois-Bassins',
 'Tuamotos',
 'Tuamotus',
 'Turtle Bogue',
 'Tuscany',
 'Tutuila Island',
 'Tyrrenian Sea',
 'Tyrrhenian Sea',
 'US Virgin Islands',
 'Uknown',
 'Umm al Qaywayan Province',
 'United Arab Emirates',
 'Unknown, treated at Wick, SCOTLAND',
 'Upolu Island',
 'Valencia',
 'Valencia ',
 'Valpariso Province',
 'Vancouver',
 'Vanua Levu',
 "Vava'u",
 'Vava\x92u',
 'Venice Province',
 'Vera Cruz',
 'Veracruz',
 'Veracruz ',
 'Victoria',
 'Victoria ',
 'Villa Clara Province',
 'Virginia',
 'Viscayan Sea',
 'Vita Levu',
 'Viti Levu',
 'Viti Levu Island',
 'Viti Levu group',
 'Vitu Levu',
 'Wakaya Island',
 'Wakayama Prefecture',
 'Wake Island',
 'Wake Island (EnenKio)',
 'Walkers Cay',
 'Wallis and Futuna',
 'Washington',
 'West Africa',
 'West Bengal',
 'West End',
 'West New Britain Province',
 'West coast',
 'West of Ceylon (Sri  Lanka)',
 'Westerm Australia',
 'Western Area',
 'Western Area ',
 'Western Australia',
 'Western Banks',
 'Western Cape Province',
 'Western Caroline Islands',
 'Western Caroline Islands (North Pacific Ocean)',
 'Western District',
 'Western Luzon Island',
 'Western Papuan Gulf',
 'Western Province',
 'Western Viscayas',
 'Westmoreland Parish',
 'Woodlark Islands',
 'Worcestershire',
 'Yasawa Islands',
 'Ysabel Island',
 'Yucatan Channel',
 'Zadar County',
 'Zambesi River',
 'Zamboanga del Sur Province',
 'd\x92Étang-Salé'}

In [68]:
df2.area[df2.area.str.contains("Southwestern Pacific")] = 'Southwestern Pacific'       #Limpiar coordenadas y homogeneizacion
df2.area[df2.area.str.contains("04.05N-13.23W")] = 'Atlantic Ocean '
df2.area[df2.area.str.contains("1,000 miles east of Hawaii")] = 'Hawaii'
df2.area[df2.area.str.contains("1000 miles west of Hawaii")] = 'Hawaii'
df2.area[df2.area.str.contains("10ºS, 142ºE")] = 'Australia'
df2.area[df2.area.str.contains("12 miles off the north coast'")] = 'Unknown'
df2.area[df2.area.str.contains("12 miles off the north coast'")] = 'Unknown'

df2.area[df2.area.str.contains("12 miles off the north coast")] = 'Unknown'

df2.area[df2.area.str.contains("180 miles southeast of Okinawa")] = 'Okinawa'

df2.area[df2.area.str.contains("165  miles from Bermuda")] = 'Bermuda'

df2.area[df2.area.str.contains("50 miles offshore")] = 'Unknown'


df2.area[df2.area.str.contains("18S / 50E")] = 'Indian Ocean'

df2.area[df2.area.str.contains("19S, 178?E")] = 'Fiyi'

df2.area[df2.area.str.contains("2 to 3 miles off Taboguilla Island, Pacific Ocean")] = 'Pacific Ocean'

df2.area[df2.area.str.contains("Canary")] = 'Canary Island'

df2.area[df2.area.str.contains("Manila")] = 'Manila'

df2.area[df2.area.str.contains("22ºN, 88ºE")] = 'India'
df2.area[df2.area.str.contains("25 km off the coast of Iran & 483km from mouth of Persian Gulf")] = 'Iran'
df2.area[df2.area.str.contains("Haw")] = 'Hawaii'
df2.area[df2.area.str.contains("Luzon")] = 'Luzon'

df2.area[df2.area.str.contains("Mauritius")] = 'Mauritius'
df2.area[df2.area.str.contains("Virgin Islands")] = 'Virgin Islands'
df2.area[df2.area.str.contains("Antigua")] = 'Antigua'
df2.area[df2.area.str.contains("Wake Island")] = 'Wake Island'
df2.area[df2.area.str.contains("Singapore")] = 'Singapore'

df2.area[df2.area.str.contains("33N, 68W")] = 'Atlantic Ocean'
df2.area[df2.area.str.contains("35º39 : 165º8")] = 'Pacific Ocean'
df2.area[df2.area.str.contains("40 miles south of Naples")] = 'Naples'
df2.area[df2.area.str.contains("40 miles off Grand Bahama Island")] = 'Bahama Island'
df2.area[df2.area.str.contains("Sri Lanka")] = 'Sri Lanka'

df2.area[df2.area.str.contains("5aint-Denis")] = 'Saint-Denis'

df2.area[df2.area.str.contains("Sri Lanka")] = 'Sri Lanka'


df2.area[df2.area.str.contains("San Domingo")] = 'San Domingo'

df2.area[df2.area.str.contains("740 miles SE of Tarawa Atoll")] = 'Tarawa Atoll'



df2.area[df2.area.str.contains("800 miles from land")] = 'Unknown'

df2.area[df2.area.str.contains("19S")] = 'Fiji'

df2.area[df2.area.str.contains("9.35N 79.35W")] = 'Panama'





df2.area[df2.area.str.contains("d\x92Étang-Sal")] = 'Unknown'

In [69]:
df2.area.value_counts()

Florida                       1037
New South Wales                486
Uknown                         455
Queensland                     311
Hawaii                         305
                              ...
Rangiroa                         1
Trois-Bassins                    1
Granada                          1
Halifax                          1
Between DR and Puerto Rico       1
Name: area, Length: 802, dtype: int64

In [70]:
set(df2.area)

{' Kikori River mouth',
 ' La Libertad',
 ' Lau Province',
 ' Loyalty Islands',
 ' New Jersey',
 ' North Carolina',
 ' Nusa Tenggara',
 ' Primorje-Gorski Kotar County',
 ' Split-Dalmatia Count,',
 ' Split-Dalmatia County',
 ' Upolu Island',
 '"Head of the Gulf"',
 'Abaco Islands',
 'Abau Sub District, Central Province',
 'Abau Subdistrict,Central Province',
 'Adana Province',
 'Aden',
 'Admiralty Islands, Manus Province',
 'Adriatic Sea',
 'Ahirkapi coast',
 'Aichi Prefecture',
 'Alabama',
 'Alagoas',
 'Alaska',
 'Alicante',
 'Alicante Province',
 'Alifu Alifu Atoll',
 'Alinglaplap Atoll',
 'Alpes Maritime',
 'Altagracia Province',
 'Ambergris Caye',
 'Amirante Islands',
 'Anatolia',
 'Ancona Province',
 'Andalucia',
 'Andaman Islands',
 'Andikira Fokithes',
 'Andros Islands',
 'Anjouan',
 'Antalya Province',
 'Antarctic Ocean',
 'Antibes',
 'Antigua',
 'Antofagasta Province',
 'Antsiranana Province',
 'Anzoategui',
 'Apolima Strait',
 'Argyll',
 'Argyllshire',
 'Arran',
 'Ascension Bay',
 'Ascension Island',
 'Atlantic Ocean',
 'Atlantic Ocean ',
 'Atsumi peninsula',
 'Attica',
 'Aulong Island',
 'Australia',
 'Ba Ria-Vung Tau  Province',
 'Baatan',
 'Bahama Island',
 'Bahia',
 'Baie de Sainte-Marie',
 'Baja California',
 'Baja California Sur',
 'Balearics',
 'Bali',
 'Balneário Camboriú',
 'Banaadir Region',
 'Bandar Ma\x92shur sea inlet',
 'Bardestrand',
 'Barlavento Islands',
 'Basrah',
 'Basrah City',
 'Batanes Provine',
 'Batangas province',
 'Bay Islands',
 'Bay of Bengal',
 'Bay of Biscay',
 'Bay of Campeche',
 'Bay of Fundy',
 'Bay of Maputo',
 'Bay of Maputu',
 'Bay of Monaco',
 'Bayelsa State',
 'Beaufonds',
 'Bermuda',
 'Bernardino Strait near Gulf of Leyte',
 'Berry Islands',
 'Between Australia & USA',
 'Between Beira & Maputo',
 'Between Comores & Madagascar',
 'Between DR and Puerto Rico',
 'Between England & South Africa',
 'Between Hastings & Fairlight, Sussex',
 'Between Honiara & Isabel Island',
 'Between Kwajalein Atoll & Johnston Island',
 'Between New Ireland & New Britain',
 'Between Noumea & Sydney',
 'Between Perth & Colombo',
 'Between Somalia & Yemen',
 'Between Timor & Darwin, Australia',
 'Bikini Atoll',
 'Bimini',
 'Bimini Islands',
 'Binh Dinh Province',
 'Bird Island',
 'Biserta',
 'Black River',
 'Boa Vista Island',
 'Bocas',
 'Bocas del Toro',
 'Bocas del Toro Province',
 'Boi Island, Victoria',
 'Bois-Blanc ',
 'Bonin Islands',
 'Bora Bora',
 'Bougainville (North Solomons)',
 'Brindisi Province',
 'British Colombia',
 'Brittany',
 'Buenos Aires Province',
 'Bwagaoia',
 'CUBA',
 'Cabo San Lucas',
 'Caicos Bank',
 'Calabria',
 'California',
 'Calvados Archipelago',
 'Camaguey Province',
 'Camiguin Island',
 'Canal Zone',
 'Canary Island',
 'Cap Vert Peninsula',
 'Cap-Vert Peninsula',
 'Cape Coast',
 'Cape Haitien',
 'Carabobo',
 'Cargados Carajos Shoals (St. Brandon)',
 'Caribbean Coast',
 'Caribbean Sea',
 'Caroline Islands',
 'Carpathian Sea',
 'Casamance',
 'Castellón',
 'Cat Cay',
 'Catalonia',
 'Catalunya',
 'Cay Sal Bank',
 'Central Philippines',
 'Central Province',
 'Central Tuamotu',
 'Chatham Islands',
 'Chatham Islands ',
 'Chatham Islands, east of New  Zealand',
 'Cheshire',
 'Chungnam',
 'Cienfuegos Province',
 'Cikobia Island (north of Vanua Levu)',
 'Clarendon',
 'Clearwater Bay',
 'Coast Province',
 'Cocos Island',
 'Colima',
 'Colon',
 'Colon Province',
 'Colón Province',
 'Conakry Region',
 'Congreve Channel',
 'Connecticut',
 'Conservatória District',
 'Cook Islands',
 'Cook Strait',
 'Cook islans',
 'Coquimbo',
 'Corfu',
 'Corfu ',
 'Corfu Island',
 'Cornwall',
 'Corregidor Island',
 'Cortés',
 'Costa Blanca',
 'Cumberland',
 'Curacao',
 'Cyclades',
 'Cyclades archipelago',
 'Cyrenaica',
 'Cádiz',
 "Côte d'Azur ",
 "Côte d'Azur  ",
 'Dar-es-Salaam ',
 'Delagoa Bay',
 'Delaware',
 'Delta',
 'Demerara County',
 'Devon',
 'Dodecanese Islands',
 'Dorset',
 'Dubai',
 'Duke of York Islands',
 'East Flores',
 'East Java',
 'East New Britain',
 'East New Britain Province',
 'East Sepik',
 'East Wall',
 'East Yorkshire',
 'East coast',
 'East of the Gulf of Aqaba',
 'Easter Ross',
 'Eastern  Province',
 'Eastern Cape  Province',
 'Eastern Cape Province',
 'Eastern Caroline Islands',
 'Eastern Catalona',
 'Eastern Province',
 'Edinburgh',
 'Ehime Prefecture',
 'Eleuthera',
 'Elqui Province',
 'English Channel',
 'Eniwetok Atoll',
 'Enroute from Suez to Aden (Yemen)',
 'Eronogo Region',
 'Essequibo',
 'Estuaire Province',
 'Exuma Islands',
 'Fernando Po Island',
 'Fernando de Noronha',
 'Fife',
 'Fiji',
 'Fishing Grounds',
 'Florida',
 'Florida ',
 'Florida Straits',
 'Foveaux Strait',
 'French Southern Territories',
 'Fujairah Emirate',
 'Galapagos Islands',
 'Galica',
 'Galicia',
 'Ganges-Brahmaputra delta',
 'Gaza',
 'Genoa  Province',
 'Genoa Province',
 'Georges Bank',
 'Georgia',
 'Gibraltar',
 'Gilbert Islands',
 'Golfo de Venezia',
 'Golfo di Genova in the Ligurian Sea',
 'Gran Canaria',
 'Granada',
 'Grand Bahama Island',
 'Grand Baie',
 'Grand Cayman',
 'Grand Terre',
 'Grand Turk Island',
 "Grand'Anse",
 'Great Exuma',
 'Great Exuma Island',
 'Green Bay',
 'Guadalcanal Province',
 'Guam',
 'Guanacaste',
 'Guantanamo Province',
 'Guerrero',
 'Guerro',
 'Guerrrero',
 'Gujarat',
 'Gulf Province',
 'Gulf of California',
 'Gulf of Lyons',
 'Gulf of Panama',
 'Gulf of Suez',
 'Gulf of Tadjoura',
 'Guyamas',
 "Ha'api",
 "Ha'api ",
 'Halifax',
 'Hamilton',
 'Harare Province',
 'Havana Province',
 'Hawaii',
 'Herzliyah',
 'Ho Ha Wan Marine Park',
 'Hokkaido Prefecture',
 'Holquin Province',
 'Hong Kong',
 'Honiara',
 'Hoogly River',
 'Hua Hin',
 'Ibaraki Prefecture',
 'Ibiza Island',
 'Illeginni Atoll',
 'Illinois',
 'Imperia Province',
 'In Convoy OB 274',
 'In the English Channel ',
 'In the Gulf Stream ',
 'In transit between Tinian and Leyte',
 'India',
 'Indian Ocean',
 'Inhambane Province',
 'Inhambe Province',
 'Inner Hebrides',
 'Inner Islands',
 'Ionian Sea',
 'Iran',
 'Isla Provedencia',
 'Island of Kos',
 'Island of St. Thomas',
 'Island of Volos',
 'Isle of Man',
 'Isle of Wight',
 'Isles del Rosario',
 'Istanbul',
 'Istria',
 'Istria County',
 'Izo Islands',
 'Jakarta Harbour',
 'Java',
 'Jeju Province',
 'Johnston Atoll',
 'Johor',
 'Kadavu',
 'Kadavu Island Group',
 'Kagawa Prefecture',
 'Kagoshima Prefecture',
 'Karun River',
 'Kedah',
 'Kent',
 'Kentucky',
 'Kerala',
 'Khuzestan Province',
 'Khánh Hòa Province',
 'Kingston Parish',
 'Kochi Prefecture',
 'Kowloon Peninsula',
 'Kumamoto Prefecture',
 'Kuril Islands in the Pacific',
 'KwaZulu-Natal',
 'KwaZulu-Natal between Port Edward and Port St Johns',
 'Kwajalein',
 'Kwajalein Atoll',
 "L' Etang Salé-les-Bains",
 "L'Etang-Sale",
 "L'Etang-Salé",
 'La Libertad',
 'La Saline-les-Bains',
 'Lagos ',
 'Lake Nicaragua (fresh water)',
 'Lamu Archipelago',
 'Las Perlas archipelago',
 'Lau Group',
 'Laucala Island',
 'Le Port',
 'Leyte',
 'Leyte Island',
 'Liguaria',
 'Liguria',
 'Ligurian Sea',
 'Limpopo River',
 'Limón Province',
 'Line Islands',
 'Lomaiviti  Island Group',
 'Lomaiviti Province',
 'Lomaiviti Provine',
 'Lomaloma, Lau',
 'Los Roques  Islands',
 'Los Vilos',
 'Louisiade Archipelago',
 'Louisiana',
 'Lower San Juan River',
 'Loyalty Islands',
 'Lucy',
 'Lukovo',
 'Luzon',
 'Madang',
 'Madang (WO)',
 'Madang Province',
 'Madeira',
 'Madeira Islands',
 'Mafia Island',
 'Magarita or Cubagua Islands',
 'Magdalena Department',
 'Maharashtra',
 'Maine',
 'Majorca',
 'Makira-Ulawa Province',
 'Makira-Uluwa Province',
 'Makora-Ulawa Province',
 'Malaga',
 'Malaita Province',
 'Malampa Province',
 'Maldonado coast',
 'Maluku Province',
 'Manfredonia ',
 'Mangaia Island',
 'Manila',
 'Manus Island',
 'Maputo Province',
 'Maranhão',
 'Marches region',
 'Marovo Lagoon',
 'Marquesas',
 'Maryland',
 'Masbate',
 'Massachusetts',
 'Matanzas Province (north coast)',
 'Mauritius',
 'Mediterranean Sea',
 'Mercury Islands',
 'Merizo',
 'Mersin Province',
 'Mexico / Caribbean Sea',
 'Middle Caicos',
 'Midway Atoll',
 'Milne Bay  Province',
 'Milne Bay Province',
 'Mindanao',
 'Mindoro',
 'Mindoro Occidental',
 'Minerva Reef',
 'Mirs Bay ',
 'Misamis Oriental',
 'Mississippi',
 'Missouri',
 'Miyako',
 'Miyako Island',
 'Moala Island',
 'Moluccas',
 'Mombasa',
 'Montserrado',
 'Moorea',
 'Moray',
 'Moro Gulf',
 'Morobe Province',
 'Mount Lebanon',
 'Mozambique Channel',
 'Muala',
 'Mugla Province',
 'Muhafazat Hadramawt',
 'Munxar Reef',
 'Málaga ',
 'Nagasaki Prefecture',
 'Namonuito Atoll',
 'Naples',
 'Naples Province',
 'Near Bougainville (North Solomons)',
 'Near Dakar, Cap Vert Peninsula',
 'Near Puntarenas',
 'Near the Andaman & Nicobar Islands',
 'Near the Fiji Islands',
 'Negros ',
 'New Britain',
 'New Britain, Bismarck Archipelago',
 'New Brunswick',
 'New Georgia',
 'New Ireland',
 'New Ireland Province',
 'New Ireland Province, Bismarck Archipelago',
 'New Ireland, Bismarck Archipelago',
 'New Jersey',
 'New Mexico',
 'New Providence',
 'New Providence ',
 'New Providence District',
 'New Providence Island',
 'New South Wales',
 'New Territories',
 'New York',
 'New York ',
 'Newfoundland',
 'Nice & Marseilles',
 'Nicoya Peninsula',
 'Niua ',
 'Norfolk',
 'Norfolk Island',
 'North & South Carolina',
 'North Carolina',
 'North Carolina ',
 'North China',
 'North Devon',
 'North Island',
 'North Pacific coast',
 'North Palawan',
 'North Province',
 'North Region',
 'North Sumatra',
 'North of Pernambuco, Brazil',
 'Northern (Oro) Province',
 'Northern Bahamas',
 'Northern District',
 'Northern Java',
 'Northern Peloponnese',
 'Northern Province',
 'Northern Taiwan',
 'Northern Territory',
 'Northlands',
 'Northwest Italy',
 'Northwest of Papua New Guinea',
 'Northwest of Viti Levu',
 'Nova Scotia',
 'Nueva Esparta',
 "Nuku'alofa",
 'Oaxaca',
 'Off Cape Haitien',
 'Off Green Island',
 'Off Ireland',
 'Off Libya',
 'Off Samar Island in the Gulf of Leyte',
 'Off South American coast',
 'Off Thessaly',
 'Off Vanua Levu',
 'Off coast of Ecuador',
 'Off coast of West Africa',
 'Off the Coromandel Peninsula, North Island',
 'Off the coast of South America',
 'Off the coast of West Africa',
 'Off the western coast of peninsular Malaysia',
 'Okayama Prefecture',
 'Okinawa',
 'Okinawa Prefecture',
 'On the Kowloon penisula, south of Sai Kung',
 'Open sea',
 'Oregon',
 'Orissa',
 'Oslo Fjord',
 'Out Islands',
 'PANAMA',
 'Pacific Ocean',
 'Pacific coast',
 'Pagasitikos Gulf',
 'Paget',
 'Palawan',
 'Palmyra Atoll',
 'Pamplemousses ',
 'Panama',
 'Panama Bay (Pacific Ocean)',
 'Panama City',
 'Paraiba',
 'Pearl Islands',
 'Pennsylvania',
 'Pernambuco',
 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
 'Phang nga Province',
 'Phoenix Islands',
 'Phuket',
 'Pinas Bay',
 'Piraeus',
 'Port Louis Province',
 'Port Shelter',
 'Porto Seguro',
 'Praslin',
 'Primorje-Gorski Kotar County',
 'Primorje-Gorski Kotar County ',
 'Primorsky Krai',
 'Provence',
 'Providenciales',
 'Puerto Rico',
 'Puntarenas Province',
 'Queaon',
 'Queensland',
 'Queensland ',
 'Quezon',
 'Quintana Roo',
 'Ralik Archipelago',
 'Ralik Chain',
 'Rangiroa',
 'Rangoon',
 'Ratak ',
 'Rayong Province',
 'Red Sea',
 'Red Sea Protectorate',
 'Red Sea State',
 'Reggio Calabria Province',
 'Rhode Island',
 'Riau Province',
 'Rigo subdistrict',
 'Rio Grande Do Sul',
 'Rio Grande de Norte',
 'Rio San Juan',
 'Rio de Janeiro',
 'Rivers State',
 'Rocha',
 'Rocha ',
 'Rodrigues',
 'Rombion Province',
 'Romblon Province',
 'Roncador Bank',
 'Ryukyu',
 'Sago Prefecture',
 'Saint Gilles ',
 'Saint Leu',
 'Saint-Andre',
 'Saint-Benoit',
 'Saint-Benoît',
 'Saint-Denis',
 'Saint-Gilles',
 'Saint-Gilles-les-Bains',
 'Saint-Joseph',
 'Saint-Leu',
 'Saint-Louis',
 'Saint-Paul',
 'Saint-Paul ',
 'Saint-Philippe',
 'Saint-Pierre',
 'Sainte-Marie',
 'Sainte-Suzanne',
 'Saipan',
 'Salerno',
 'Salerno Province',
 'Salinas Bay',
 'Samaná Province',
 'San Andrés archipelago',
 'San Blas',
 'San Blas Islands',
 'San Blas coast',
 'San Carlos',
 'San Domingo',
 'Sandaun Province',
 'Sanma Province',
 'Santa Catarina State',
 'Santa Cruz Island',
 'Santa Elena',
 'Santa Isabel Province',
 'Santiago Island',
 'Santiago de Cuba Province',
 'Santo Domingo',
 'Sants-Montjic',
 'Sardinia',
 'Savona',
 'Sea of Japan',
 'Sepang',
 'Sfax',
 'Shanghai',
 'Sharjah, ',
 'Sharon',
 'Shat-Al-Arab River',
 'Shatt-al-Arab River',
 'Shatt-el-Arab River',
 'Shefa Province',
 'Shizuoka Prefecture',
 'Sicily',
 'Simpson Bay',
 'Sinai Peninsula',
 'Sinaloa',
 'Singapore',
 'Skagerrak arm of the North Sea',
 'Slovenia',
 'Society Islands',
 'Socotra Islands',
 'Sofala Province',
 'Somewhere between Philadelphia and Hiogo, Japan',
 'South Atlantic Ocean',
 'South Australia',
 'South Carolina',
 'South Carolina ',
 "South Ch'ungch'ong Province",
 'South China Sea 200 miles from Hong Kong',
 'South Chungcheong Province',
 'South Coast, East New Britain',
 'South Devon',
 'South Island',
 'South Island, near Karitane north of Dunedin',
 'South Island?',
 'South Korea',
 'South Pacific Ocean',
 'South Province',
 'South Sinai Peninsula',
 'South Sinai, Gulf of Aqaba',
 'South of the Equator ',
 'South shore ',
 'Southern Cyprus',
 'Southern District',
 'Southern Japan',
 'Southern Province',
 'Southern Thailand',
 'Southland',
 'Southwest coast',
 'Southwestern Pacific',
 'Sri Lanka',
 'St Helena',
 "St John's",
 'St Michael Parish',
 'St. Andrew Parish',
 'St. Anne',
 'St. Catherine',
 'St. Georges ',
 'St. Johns Reef',
 "St. Mary's Parish",
 'St. Thomas Bay',
 'Strait of Malacca',
 'Strait of Messina',
 'Sucre',
 'Suez',
 'Suez Canal',
 'Sumatra',
 'Surigao del Norte',
 'Sussex',
 'Syracuse',
 'Tabasco',
 'Tabuk Province',
 'Tafea Province',
 'Taipei Hsien',
 'Taitung ',
 'Tamaulipas',
 'Tamil Nadu',
 'Taranto',
 'Taranto province',
 'Tarawa Atoll',
 'Tasmania',
 'Tavenui',
 'Taveuni',
 'Tel Aviv',
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)',
 'Teramo',
 'Territory of Cocos (Keeling) Islands',
 'Texas',
 'Thessaly',
 'Tiburon Peninsula',
 'Toamasina Province',
 'Tokyo Bay',
 'Tokyo Prefecture',
 'Tongapatu Group',
 'Tongatapu',
 'Torres Strait',
 'Torres Strait ',
 'Transvaal',
 'Trelawney Province',
 'Trieste',
 'Trinidad',
 'Trois-Bassins',
 'Tuamotos',
 'Tuamotus',
 'Turtle Bogue',
 'Tuscany',
 'Tutuila Island',
 'Tyrrenian Sea',
 'Tyrrhenian Sea',
 'Uknown',
 'Umm al Qaywayan Province',
 'United Arab Emirates',
 'Unknown',
 'Unknown, treated at Wick, SCOTLAND',
 'Upolu Island',
 'Valencia',
 'Valencia ',
 'Valpariso Province',
 'Vancouver',
 'Vanua Levu',
 "Vava'u",
 'Vava\x92u',
 'Venice Province',
 'Vera Cruz',
 'Veracruz',
 'Veracruz ',
 'Victoria',
 'Victoria ',
 'Villa Clara Province',
 'Virgin Islands',
 'Virginia',
 'Viscayan Sea',
 'Vita Levu',
 'Viti Levu',
 'Viti Levu Island',
 'Viti Levu group',
 'Vitu Levu',
 'Wakaya Island',
 'Wakayama Prefecture',
 'Wake Island',
 'Walkers Cay',
 'Wallis and Futuna',
 'Washington',
 'West Africa',
 'West Bengal',
 'West End',
 'West New Britain Province',
 'West coast',
 'West of Ceylon (Sri  Lanka)',
 'Westerm Australia',
 'Western Area',
 'Western Area ',
 'Western Australia',
 'Western Banks',
 'Western Cape Province',
 'Western Caroline Islands',
 'Western Caroline Islands (North Pacific Ocean)',
 'Western District',
 'Western Papuan Gulf',
 'Western Province',
 'Western Viscayas',
 'Westmoreland Parish',
 'Woodlark Islands',
 'Worcestershire',
 'Yasawa Islands',
 'Ysabel Island',
 'Yucatan Channel',
 'Zadar County',
 'Zambesi River',
 'Zamboanga del Sur Province'}

In [71]:
df2.name.value_counts()

male                            550
female                           97
boy                              23
2 males                          16
boat                             14
                               ...
Dalton Baldwin                    1
Victor Mooney                     1
9 fishermen & pregnant woman      1
Laurent Borgna                    1
Yee Wing Ping (male)              1
Name: name, Length: 5230, dtype: int64

In [72]:
df2.name = df2.name.fillna('Unknown')

df2.name[df2.name.str.contains("male")] = 'Unknown'
df2.name[df2.name.str.contains("female")] = 'Unknown'
df2.name[df2.name.str.contains("boy")] = 'Unknown'
df2.name[df2.name.str.contains("2")] = 'Unknown'
df2.name[df2.name.str.contains("boat")] = 'Unknown'

In [73]:
set(df2.name)

{'Ioannis Chrysafis',
 'Ranji Lal',
 '4 crew',
 'A young pearl trader',
 'Jacob Horn',
 ' Braxton Rocha',
 'Alfred Burgess',
 'Stephen Rylor',
 'Sarah Williams',
 'Horace Hewison',
 'Catherine Vissers',
 'Caleb Swanepoel',
 'Christiaan Nel',
 'Andrew Sinagra',
 'Corporal N.S. LeBlanc',
 'Kyra Bandy',
 'Shaka Galera',
 'Eduardo Rodrigues da Cruz',
 'Jone Waiteatei',
 'Syed Khaleeulla ',
 'Egan',
 'Andres Balmacda',
 'Werner Danielsen',
 'Antonio de Carvalho Miguel Pereira ',
 'Benjamin Rios',
 'Ali Kaymaz',
 'Jacob Alegood',
 'Elinor Dempsey',
 'Ivana Iacaccia',
 '15 Royal Canadian Airforce crew & 1 passenger',
 'Paye León Salomón',
 'Kyle James Burden',
 'Leslie Oswald Harris',
 'Carl Lafazio',
 'Albertus, a Malay',
 'William McLeod',
 'Allison Foreman',
 'a Japanese diver',
 'Bettina Pereira',
 'Larry Press',
 'David Redmond',
 'Neil Sorenson',
 'David Curry',
 'Kobus de Jager',
 'Jason Lee',
 'William Oakley',
 'Albert Thomas Burless',
 'Gerjo Van Niekerk',
 'Aaron Kawado',
 'Nolan Sutliff',
 'Juan Suarez Morales',
 'Luis Soares de Arruda',
 'Charles Kaufmann',
 'Dan Prather',
 'Edwin Riley III',
 'Nicholas Nagurney',
 'Garrett Gollihugh',
 'Gary Grace',
 'D. R. Nelson, J. Greenberg & S.H. Gruber',
 'Goddard',
 'Mike Seymore',
 'Gabriel Fernandez',
 'Eric Reichardt',
 'Kenneth Gray',
 'Erik Norrie',
 'Anthony Bunn',
 'Abraham Yates',
 'Tony Hodgson',
 'Suk Kyu (Steve) Park',
 'Steve',
 'Crisolog Urizar',
 'Sam Hicks, a gunner',
 'a dock worker',
 'John Cataris',
 'John Cooper',
 'Eddie Roe',
 '4 people killed in the past week, others injured',
 'Olivier Bertholom',
 'Al Schneppershoff',
 'Adolph Crouse',
 'Jorge Fernandez',
 'Herbert Jack',
 'Brian Alcorn',
 'Mac Lupold',
 'Derek Crane',
 'E. Burnside',
 'Chris Haynes, Jr.',
 'Tane Tokona',
 'Kanematsu Oshiro',
 'Mr. Manning',
 'Rene Richbourg',
 'Salvatore & Agostino Bugeja',
 'Captain George Jacob Hanscheldt',
 'Terry Adams',
 "Richard O'Connor",
 'Colin Cook',
 'Barbara Green',
 'Anthony Arnachallan ',
 'Ronald Dickerson',
 'Clyde Trudeau',
 'Daniel Lance McNally',
 'Christian Sanhueza',
 'Roy Cloke',
 'Marco Flagg',
 'Jessica Brothers',
 'Josh Halverson ',
 'Christopher Riley',
 'Avery Goo',
 'P. Wagener',
 'Juan Miguel Infante Ramírez',
 'William Edward Brown',
 'Shizuo Nakachi',
 'US Army fliers',
 'Mr. Moriyoshi Takehara',
 'Barney Wilkes',
 'Gerald Arthur Edwin Denny',
 'Two men',
 'N. Buchanan',
 'Ted Luck',
 'Allan Oppert',
 'Alexandre Naussance',
 'Carol Viau',
 'Sharna Babd',
 'Occupant:     Mr. Maciotta',
 'Leeanne Ericson',
 'Jei Turrell',
 'Ronald Mason',
 'Jennifer Manis',
 'Glen Folkard',
 'Michael van Niekerk',
 'Fiona Casey',
 'John Ferrerira',
 'Brian Tyska ',
 'Lee Fontan',
 'Bernard Venables',
 'Theodore C. Swienty',
 'Bogana Sabati',
 'Geoff Johnson',
 'Jean Hotchkiss ',
 'Russ Shearman',
 'Halletts',
 'a girl',
 'Jose Diter Roque ',
 'M. Malabon',
 'John Welsh',
 'James Gleeson',
 'anonymous',
 'Maurice Bede Philips',
 'Bianca Freeman',
 'Justin Ellingham',
 'Richard Tebutt',
 'Leonard Gant',
 'Howard Fawkes',
 'Henry Peterson',
 'Krishna Thompson',
 'Yagirua Agiramon',
 'James Douglas Munn',
 'Axel Slettsten',
 'Michael Sproule',
 'American child',
 'Edward Sierks, skipper',
 'T. S. Ramsbottom',
 'Joseph Fox',
 'Manama Mari',
 'John Campion',
 'Rudy Varney ',
 'Mike Fraser',
 'Jeff Herrin',
 'Jude Chamberlin',
 'Lieutenant Edward Smith',
 'Mr. Gruner',
 'Ralph Sammis',
 'Earl DeVore',
 'Maurice Lilloux',
 'Valentin Limatoc',
 'R.K. Halbert',
 'Wayne Brown',
 'T.F. Davies',
 'Belton Larkin',
 'Andrew Morris',
 'Pollione Perrini & Fioravante Perini ',
 'Sandra Fletcher',
 'Greg Sims',
 'Gabrielle Eason',
 'Kevin Paffrath',
 'Matthew Smithers',
 'James Bailey',
 'Jeff Weakley',
 'James Kelley',
 'Luke Guy & Finn Bald',
 'Private. Michael Garten',
 'Daniel Lund',
 'Joo Whan Hong',
 'Dr. James Woolby',
 'Anna Wurn',
 'a chief',
 'Ken Kelton',
 'Paul Wilson ',
 'Glenn Friedman',
 'Lacoon',
 'an Austrian tourist',
 'Pilot, Neil Womack',
 'George Grant',
 'Curt Brown',
 'Corey Howell',
 'David Pearson',
 'Earl Dunnam',
 'Kirk Gastrich',
 'Patape',
 'Robert Pamperin',
 'Nick Romano',
 'Larry Olson',
 'Jeffery Joel',
 'Patrick Gee',
 'Rolf Ridge',
 'Sam Kellett ',
 'Jessica Lynch',
 'Sammy Mira',
 'Jeanne Schaefer ',
 'Miriam Picklesimer',
 'Tham Key',
 'Charles Peterson',
 'Royce Fraley',
 'Roger Brissom',
 'Mike Milea',
 'Scott Dulmage',
 'Thomas Houstan',
 'Dunstan Hogan',
 'Stephen Flowers',
 'Daniel Macatee',
 'Pat Bowring',
 'Ryan Evans',
 'Brian Mills',
 'Lewis Boren',
 'Barry Kumara',
 'Peter Nash',
 'George Keywood',
 'Avalon, a carbon kevlar monohull: 8 occupants',
 'Leroy French',
 'Jean Foucher-Createau',
 'James Elton',
 'Joseph Simms',
 'The widowed Marchioness of Lendinez',
 'Joel Bacud',
 'Akira',
 'William Siskalo',
 'Brian Martel',
 'C.K.',
 'Jon Grace',
 'Stephen Wiltshire',
 'Vincent Bouju',
 'Kris "Cutty" Kildosher',
 'S.R.B.',
 'Morslem Aken',
 '1 man',
 'Adolphe Bollander',
 'Brook Watson',
 'Godfrey Msemwa',
 'Jonathan Leon Guerrero',
 'Adyson\xa0McNeely ',
 'a servant of General Diaz',
 'Markus Groh',
 'Michael Land',
 'Craig Ison',
 'Clive Dumayne',
 'Joe Folsom',
 'Harry Weatherall',
 'diver',
 'Clyde Kelly Ormand, Jr.',
 'C.J. Wickersham',
 'Mariko Haugen ',
 'Michael Loxton',
 'Jonathan Kathrein',
 'Gregory Slaughter',
 'Peter Clark',
 'James Hay',
 'George Parkin',
 'Jokin Leizaola',
 'Clyde steamer Glen Sannox',
 'Carly',
 'Thomas Butler',
 'Guisne Oscoto (Japanese)',
 'James Elliott',
 'Ramon Cordoba',
 'Ken Bernard',
 'Alfetto',
 'Bruce Lucas',
 'Mitchell Warner',
 'James L. Oetzel',
 'Mthokozisi Cedrick Mpanza',
 'Sylvia Lanner',
 'Michael Adler',
 'Nagisa Yasuhara',
 'John Puljak',
 'Nicolas Wright',
 'Tim Roberts',
 'Wild Oats XI',
 'Larry Stroup',
 'Ross Spowart',
 'Albert Battles, James Dean & 4 crew',
 'David Paton',
 'O. Jaimaung & friend',
 'Travis Raigan',
 'Jack Smedley',
 'Andrew Gavriliu',
 'William Hodges',
 'Gladys Sackville',
 'Michael Bedford',
 'John Heagan',
 'Peter Kirn',
 'Sylvia Lucas',
 'William Lee Bailey',
 'M.F. Turnipseed',
 'Craig Gibson',
 'Hitola Hekure',
 'Pak Kyong-sun ',
 'Ernest Conroy',
 'Elizabeth Dunn',
 'Noel Yates',
 'Rixon, an aboriginal',
 'Hans Pruss',
 'Matt Tichenor',
 'Quentin Gorrell',
 'Tumia, a Torres Strait Islander',
 'Aristede',
 'Theo Watts Brown',
 'Ross Doe',
 'Kaholo',
 'Occupants: Ivan Angjus & Stevo Kentera',
 'Christian Fairbourne',
 'Intriago Diego',
 'Jack Carlsen',
 'Carla Podzum',
 'Carson Jewell',
 'Woody Vidgens',
 'Amos Thompson',
 'Wilma van Molendorff',
 'Roy C. Kametani',
 'Steve Lawson',
 'Bruce Eldridge',
 'Robert McAuliffe',
 'Henry Jones',
 'Dylan Fugitt',
 'B. Hooper ',
 'Blake Garnett',
 'Jean Blanchet',
 'Sairol  Harun',
 'Paulo Fernandes Alves Ferreira',
 'Mr. Nagib',
 'A \'tinnie". Occupants :Paul Sweeny, Paul Nieuwkerdk, John and Mark Kik ',
 'Kevin Hulkes',
 'Gabriel Echiavarria',
 'David Alger',
 'Julia Anne Mittleberg',
 'Chris Van Niekerk',
 'Sally Jo Scott',
 'George Gaspar',
 'Manuel Romero',
 'Allan Countryman',
 'David Adams',
 'Dylan Hapworth',
 'Mark Moquin',
 'Andrew I. Brown',
 'Leonard Harrison Hancock',
 'William Kennedy',
 'Eric Ridley',
 'Kazuhiho Kato',
 'Josh Vaughan',
 'Narcisco Tomaz',
 'Alysa Whetro',
 'Jack May',
 'A Spanish fisherman',
 'Vanuatu  Weekly Hebdomadaire',
 'Nick Anthony',
 'Jonathan Allen',
 'Wiley Beevers',
 'Kelvin Harvey',
 'Captain Jack Kelly',
 'a local dignitary',
 'Edward Arthur Lane',
 'German sailor',
 'Daniel Adams',
 '"a youth"',
 '4-m runabout. Occupant: Allen Gade',
 'Megan Wallis',
 'Mr. Kuppasamy',
 'Alexandre Rassiga',
 'Robert Colby',
 'Dale Webster',
 'Matt Bowen',
 'Tony Perez',
 "Francis L'Engle",
 'Marsh',
 'Bill Nash',
 'Rodney Orr',
 'Duane Strosaker',
 'Andrew Haas',
 'Chris Garvin',
 'Johnny Moira',
 'L.G',
 'H.R.W.',
 'Tahei Nakatani, a Japanese seaman from the fishing vessel Seiju Maru',
 'Bjørn Jensen',
 'Hurdenis Jérez ',
 'William  Moseley',
 'Tala Lui, a Torres Strait islander',
 'Frank Athol Riley',
 'fisherman',
 'Gérald Préau',
 'C. Thackwray',
 'Tom Schaliniski',
 'Johannes Jonk',
 'Robert Bartle',
 'John H. Gray & another member of the Tehuantepec surveying party',
 'Eric Vaughters',
 'Joshua White',
 'Stanton Waterman',
 'William Munich',
 'Barry Wilson',
 'Jacob Nkomo',
 'A.N.',
 'Jokini Rasoki',
 'Petra Rijoes',
 'Richard Clark Best, Jr.',
 'Kula',
 'Richard George Soden',
 'Charles Roberto Soares Veras',
 'Kenny Ruszenas',
 'Jade Fitzpatrick',
 'Captain Billy Verbanas',
 'Llewellyn Maske',
 'Mr. Keatly',
 'Giuseppe Campodonico',
 'Bosun of the ship',
 'Jay Scrivner',
 'Pat DuNah',
 'U. Mataafa',
 "Billy O'Leary",
 'Hamish Murray',
 'Ernie Reathaford',
 'Ben Edelstein',
 'Cornelius Meyer',
 'Gavin Duncan',
 'Nicole Moore',
 'Frank Johnson, Jr.',
 'Luke Baker',
 'Charles Swan, a returned soldier',
 'E.W.',
 'Anthony Hayes',
 'Turua William Maretapu',
 'Arnold Lum',
 'A Japanese fisherman from Miyagi',
 'Jarod Ruszkowski ',
 'Alcindo de Souza Leão Júnior',
 'Noel Holliday',
 'Brooklyn Daniel',
 'Jeff Wells claimed he rescued his "daughter" from a 4 m tiger shark',
 'Gabriel Botha, a lifesaver',
 'Philip Barone',
 'Jan Ligrov',
 'Wyndham Kapan',
 'B.D.',
 'Mike Uramai',
 'Donald "Harvey" Smith',
 'Lester Stillwell',
 'Shirley Anne Durdin',
 'Johannes J. Rickert',
 'Verdon Harrison',
 'Luke Cook',
 'Frank Ilett',
 'Craig Adam Hutto',
 'Jordon Garosalo',
 'Lionel Jarvis',
 'Roberts',
 'Theresa Fernandez',
 'Malcolm Robertson & Tom Hasler',
 'Mrs. D. F. Gunn',
 'Richard Moss',
 'Sergio Capri',
 'Gregory Kuehlewind ',
 'Mr. Barnsfield',
 'Mr. Perumal',
 'William Miller',
 'Leslie Nye',
 'Keith Caruso',
 'Carl Derrick Benzoin',
 "Mr. Abbas Jasem (Mr. Kasem Jasem's son)",
 'a dinghy, occupant Neil Parker',
 'Isaul Coba',
 'Chris Humphrey',
 'Inflatable kayak Occupants:  Andrej Kultan & Steve Hopkins.\n\n',
 'Johnny Silva',
 'Peter C. Knoop',
 'Tsang Kai-shing',
 'Taylor Trumbauer',
 'Kosuo Mizokawa, Captain of a Japanese trawler',
 'Joshua Johnson',
 'Peter S. Ball',
 'Bryan Brock',
 'Matthew Lee',
 'Sean Sullivan',
 'Dr. J. J. Marais',
 'Gary Duncan',
 'Ralph Reginald Rives, Jr.',
 'Leo Wohill',
 'Roland Gerbeau',
 'Hermann Schwebke',
 'Warren William',
 'Paul Sue',
 'James Ogilvy, 31st in line for the British Throne',
 'John Graham',
 'Jason Licamele',
 'C.T. Clark',
 'Hudson Anthony',
 'Paul Menta',
 'Jimmy Grunewald',
 'R. Vidler',
 'Mark Quirt',
 'American',
 'Jon Hines',
 'arm recovered from hooked shark',
 'Robin Lyons',
 'Sinsa',
 '4 fishermen',
 'Seldon Jee',
 'Beth Shannon',
 'Gerald Correria',
 'Charles Taylor',
 'Federico Jaime',
 'Tod Wallersheim',
 'Rob Konrad',
 'Brian Adona',
 'Racing scull, occupant: C.E. Slaughter, Queensland sculling champion',
 'Alton Curtis',
 'Alexander Cameron',
 'Eva Cameron',
 'Katrina Tipio',
 'Louise Sourisseau',
 'Ron Arney',
 'Father Serafin de Oliveira',
 'Karen Bredesen Stræte ',
 'Marc Jucker',
 'Brandon Beaver',
 'Colin James Stewart',
 'Malisson Lima ',
 'Adam Haling ',
 'Cefor Lewis',
 'Judy Fischman',
 'Mark Lemelin',
 'Lydia Ward',
 'Joshua Bradley',
 'Ian Alexander',
 'Eric Napier Cockerill',
 'Scott Barton',
 'Eloise Tavares',
 'Leo Streng',
 'Captain Mark Robinson',
 'Earl Yager & Riley McLachlan',
 'Joseph McGonigal',
 'Sarah Haiden',
 'Gordon Gibbs',
 'Hoku Aki',
 'Doug Amelio',
 'Odd Ingebretsen',
 'Daniel Kennedy',
 'A. B. "Lofty" Roets',
 'Graham Smith',
 'Hunter Treschel',
 'Michael Demasi',
 'Omar Abdel Qader',
 'Marc Andrews',
 'Andrew Barron',
 'Frederic Marechal',
 'Hans Vegsund',
 'Cheryl Teague',
 'Christian Lombard',
 'Mr. Meares',
 'Jarryd Tinson ',
 'Nick Peterson',
 'Chris Blair',
 'Ray Boundy',
 'Raymond Hemsworth',
 'Ray Bennett',
 'Captain Aleck Robertson',
 'Kaleo Roberson ',
 'Bruce Lang',
 'Fanie Schreuder',
 'Darren Good',
 'Lowell Nickerson',
 'W.W. Fitzsimmons',
 'Fijian',
 'Stan Wing',
 'Ronnie De Wet',
 'Margoulis',
 'Tony Dell',
 'Paul Maurer',
 'Sgt James Lacasse & Sgt David Milsten, USAF divers',
 'William McConnell',
 'Yitzhak Steinberg',
 'Charles Bruder',
 'Justus Franz',
 'Curran See & Harry Lake',
 "Megan O'Leary",
 'Roniel Jacobs',
 'Ian Martin Redmond',
 'Roghai',
 'Shaun Wright',
 'Philip Dorn',
 'Pete Swenson',
 '5 people swimming for shore (pilot & 4 passengers)',
 'Sutto Cumar Mukerjea, a.k.a. Haboo',
 'Robert Kennedy III',
 'Lydia Paulk',
 'Robert Corowa',
 'Graham Scott',
 'Lisa Drenko',
 'David Silva',
 'African slaves',
 'Joe Lawrence',
 'Chief Petty Officer A. E. King',
 'Elizabeth Schelk',
 'John Foley',
 'Mosley',
 'Ryla Underwood',
 'George Facey',
 'Charles Weymouth',
 'William Newbury',
 'skiff with Dr. William T. Healey, Dr. Henry Callahan on board',
 'Kobus Goosen',
 'Darrel Rowe',
 'Dr. Leo Ephraim Fischer',
 'Wal Lewis',
 'Gino Bardolini',
 'Kimberly Popp',
 'Dick Roads ',
 'Aniello Mattera and Giorgio Allori',
 'Marc Fraser & Blair Fraser',
 'C. Gregory',
 'Carol Diliberto',
 'an "old native"',
 'Jack Rochette',
 'Kim Courtenay ',
 'Austin White',
 'Ian Watkins',
 'Félix Júnior Lainez Trejos',
 'Robert Land',
 'Jacob Shoup',
 'Wanewa, a Torres Strait Islander',
 'Sunarko',
 'Gian Paolo Porta Casucci',
 'Sammy Levine & his pet parrot',
 'Max Lagao',
 'Parker Simpson',
 'Thad T. Moore',
 'Bruce Doss',
 'Rod Duguid',
 'Tamaki Amano',
 'Carlos Iribam',
 'Eli Zawadzki',
 'Tony Simmonson',
 'Rolf Ericson',
 'Josia McSpadden',
 'Albano Gomes Dias Filho',
 'C.D. Dollar',
 'Leslie Francis Jordan',
 'Inche Bin Saini',
 'Judy St. Clair',
 'Walter L. Huges',
 'William Muller',
 'Brian Lavelle',
 'Donald Joslin',
 'Joel Healy, Jr.',
 'Jana Lutteropp',
 'Mr. Cummings',
 'John Seaver',
 'Alan Horsfield',
 'Marvin Estridge',
 'John P. Seiner',
 'Owen',
 'Brian Derry, a Naval Rating',
 'Mitch Milan',
 'Jack Hoey',
 'a young Scotsman',
 'Padma Shri Taranath Narayan Shenoy',
 'Sabit Plana',
 'Mary Eggemeyer',
 'Edward G. Pells',
 'McDonald van der Merwe',
 'Don White',
 'Robert Stein',
 'J. Jordaan',
 'Mark Majors III',
 'Peter Curruthers',
 'Louis Zamperini  & Russell Phillips ',
 'Cristina Ojeda-Thies ',
 'Alfred Aniba, a Torres Strait Islander',
 'Nick Kawa',
 'Chris Volz',
 'Cuban refugees',
 'Juliette Shipp',
 'Emma G. Megginson',
 'Takayuki Miura',
 'Noel Buxton Redfern',
 'Pfc. Donald Tasking',
 'Jamie  Harrington',
 'Kirk Koster',
 'William Barnes',
 'Stephen Curtis Powell',
 'Philip Ashton',
 'yacht Even',
 'Thomas Harrington',
 'Zorca Prinz',
 'Thomas Ashe, a ship\x92s pilot',
 'No survivors. 189 people were lost',
 'Irené  Rose',
 'skipper of a coasting schooner',
 'José Rogério da Silva',
 'Navy seaman',
 'Okomoto',
 'P. Allen',
 'Scott Yerby',
 'Buck Jones',
 'Oku Hayadi',
 'Janie Pelser',
 'Russell Easton',
 'Mailia Ola',
 'Carl Bruster',
 '135 passengers & 13 crew',
 'Thomas Richards',
 'Hans Fix',
 'Sametra Mestri',
 'Mark Tisserand',
 'Josh Crawford',
 'Patrick Turowski',
 'Christine Armstrong',
 'Akiyoshi Morita',
 'Mr. M. Donovan',
 'Ben Linden',
 'Zhang Liang ',
 'Murray Henderson',
 'John Carlson',
 'Barry Nakamura',
 'Scott Armstrong',
 'Brad Jamieson ',
 'Monte Gray',
 'Alex Reeber',
 'Ismail',
 'George (or Edward) Eaton',
 'Huynh Nhu Hoang',
 'Gary Landwirth',
 'Pierre deWet',
 'Marin Alice Melton',
 'Donald Jukes',
 'Paul Morris',
 'Jane Derry',
 'Conwell Kris',
 'Leslie Cook',
 'Jason Cablish',
 'Ivan Gerger',
 'Leroy Hancock',
 'Charlotte Brynn',
 'Sam Chief',
 'Charles Brown',
 'Sage St. Clair',
 'a seaman from the Johann Brodersen',
 'Dave Fordson',
 'Richard A Snead',
 'Amir Badi',
 'Coast Guard personnel',
 'Samuel Coolidge',
 'Glenda Simmons',
 'Heinz Plotsky',
 'Wagner Cataldo-Beugleu',
 'Greg Ferry',
 'Cedric Coucom',
 'Yako Yajima',
 'Alfredo Aubone',
 'Steve Polack',
 'Alex Mumzhiu',
 'Hussain Ali',
 'Frankie Gonsalves',
 'Christopher Wang',
 'Paul Buckley',
 'Brian Von Berg',
 'Sydney James',
 'Ervin Maccarty',
 'James Fyfe',
 'Gilbertese fisherman',
 'Kirra-Belle Olsson',
 'Brian Love',
 'John Petty',
 'Dally Bayo',
 'John Taylor Wilson',
 'Fabrício José de Carvalho',
 'George Lawson',
 'Fishermen',
 'Brandon Murray',
 'Iona Asai',
 'Norman Severs & horse',
 'Peter Kontspoulas',
 'Hamish Currie',
 'E.E., water tender of the U.S.S. Dale',
 'Jack W. Caldwell',
 'Omni (rescuer)',
 'Attie Louw',
 'Jordan Springer',
 'Eileen Skeie',
 'Paul Wilcox',
 'Robert Rice',
 'Andrew McLeod',
 'Crew of the schooner Mary',
 "16' motor launch owned by A. & E. Norton",
 'a young Arab',
 'Dev De Lange',
 'Dominco Iaciofano',
 'Kaugatava Orurutm',
 'John Demartino',
 'Ryan Welborn',
 'Beatrice Aharonowich',
 'Nathan Shaxson',
 'Mark Dotter',
 'Manuel Pereira',
 'Desmond Chandley',
 'W. A. Strijdom',
 'Andre Hartman',
 'Cindy Jones',
 'Geoffrey Martin Corner',
 'Clive Passmore',
 'Gregory Moffatt',
 'James Edward Clifton Donald',
 'Raymundo Ayus, Jr.',
 'Peter McCallum',
 'Ray Booth',
 'Justin James',
 'Grantley Butcher',
 'Thomas Browne',
 "10' skiff. Occupants F. Whitehead & L. Honeybone",
 'a sailor from ther RM steam packet Solent',
 'Garry Turner',
 'Stacie Alexander',
 'Steven Friedman',
 'Zak Kedem',
 'Bailleigh Foster',
 'Harold Souza',
 'Richard Bauer',
 'Dr. George Lapin',
 'an Indian',
 'Bobby Phillips',
 'Rod Stanley',
 'Dunham Coxetter',
 'Awin Ieromia',
 'Frank Glenn',
 'Justin Worral',
 'Ashley Milford',
 'Alan Murray',
 "Ken O'Keefe",
 'Arthur George Reading, Naval aviator',
 'Cook',
 'Steven Osterman',
 'Chad Refro',
 'Jackie Lynn',
 'Edward J. Nicholson',
 'Justin White',
 'Philip Horley',
 'Glenn Dickson',
 'OneDLL',
 'Geoffrey Walter Black',
 'Andree Moscari',
 'Jan-Henrick Opperman',
 'Charles Cook',
 'Joseph Salengo',
 'Martha Joy Morrell',
 'Eugene Rihl III',
 'Sadao Nakatus',
 'Jason Krafft',
 'Timothy Knipper',
 'Andrew Hindley',
 'John Sojoski ',
 'Erika Hailey',
 'Ken Crew',
 'Randy Weldon',
 'Dean Norburn',
 'A diver from Spain',
 'Marlene Evler',
 'Eichi Nakata, of the the crew of the trawler Kayo Maru',
 'Marcia Hathaway',
 'Nita Derritt',
 'The Captain & 3 crew',
 'Joanna Salmon',
 'Peter Edmonds',
 'Carlos Veraga M.',
 'George Plowman',
 'Brady Noyes',
 'Ryan Johnson',
 'Shane Lancaster',
 'Talon Bishop',
 'Helga Pogl',
 'Darren Harrity',
 'Flint Cowden',
 'Nguyen Thi Tanh ',
 'Stephen Massfeller',
 'Shawn Hamilton',
 'teen',
 'Jonathon Lee',
 'Joeli Bulu, missionary',
 'Norman Payne',
 'Shannon Morsy',
 'Dovi',
 'Dean Brougham',
 'Debbie McMillan',
 'Psarofa-gomenes',
 'Mrs. Despo Snow-Christensen ',
 'Eric Kozak',
 'Aaron Perez',
 '4.3 m skiff: occupants: James L. Randles, Jr. & James Myers',
 'Brian Storch',
 'Mr. Paniry',
 'Aaron Conti',
 'T. Washington',
 'Chad Guthrie',
 'Jay Muscat',
 'Raul Tozo',
 'William C. Lamb',
 'O.D.',
 'an infant',
 'Hans Hass',
 'Stanley Victor Locksley',
 'H. Gebler',
 'Geeteh Toussaint',
 'Christopher Cowan',
 'Matt Searcy',
 'A.W.F. Patterson',
 'Harold F. Brook',
 'Jay Worrell',
 'Abdul Hussain',
 'Jack Brinkley',
 'Indian',
 'David Cales',
 'Madelaine Dalton',
 'Andrew Lindop',
 'Peter Garrett',
 'Pakau',
 'Shintaro Hara',
 'Cecil Bethencourt',
 'Dr. Lucas',
 'Chucky Luciano',
 'Eric Keys',
 'Michael  Karras, Jr.',
 'Barry Berg',
 'Richard Simpson',
 'Jesús Cabrera González ',
 'Felipe Tavares Marinho',
 'Gicquel Tanguy',
 'Reginald Gibbs',
 'Lindsay Phillips',
 'Matt Wishengrad',
 'Vincent Motais ',
 'Gerald Soukoff',
 'Masanori Ishikawa',
 'Garrett Sebesta ',
 'Jurandir Amorim Silva',
 'James Speirs',
 '11 stoways',
 'William Shaw',
 'Malvis Cristino de Souza',
 'Yang Ching-Hui',
 'David Quinliven',
 'Wolfgang Leander',
 'Harold Dickinson',
 'Lydia Strunk',
 'William Hookway',
 'Tarcisio Mayora',
 'Pahi',
 'Martin Gunner',
 'Gordon S. Chun',
 'Richard Hansell',
 'Cuthbert Vere Lysaght',
 'Nicaso Balanoba & Julian Dona',
 'Eric Gijsendorfer ',
 'James Smodell',
 'Earl Brewster',
 'Ian Marks',
 'Japanese sailor',
 'Jack Moir',
 'Bruce Coucom',
 'Eric McMichael',
 'Lee Frees',
 'Richard Carnoy',
 'Brad Satchell',
 'sailors',
 'Seneca Rus',
 'Kila',
 'Chuck Wilson',
 'a father of six',
 'Matthew May',
 'Robert Nicholson',
 'Colin Oxenbridge',
 'Captain Sanna',
 'Andrew Goggin',
 'Frank Wacha',
 ...}

In [74]:
df2.name = df2.name.astype(str)

In [75]:
patron=r'\d+'
patron=r'\W+'

In [76]:
lst= []

patron = '\d+' , '\W+'
for e in df2.name:
    try:
        lst.append(re.findall(patron,e)[0])
    except:
        lst.append('Classified')

In [77]:
df2.name=lst

In [78]:
df2.name.value_counts()

Classified    6302
Name: name, dtype: int64

In [79]:
df2.head()

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Sea Disaster,USA,California,"Oceanside, San Diego County",Paddling,Classified,F,57,No injury,N,Afternoon,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Classified,F,11,No injury,N,Afternoon,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Unknown,USA,Hawaii,"Habush, Oahu",Surfing,Classified,M,48,Medium Injury,N,Morning,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Classified,M,0,No injury,N,Unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Classified,M,0,Shark attack not defined,N,Unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN

In [80]:
set(df2.name)

{'Classified'}

In [81]:
df2['investigator or source'] = df2['investigator or source'].fillna('Unknown') #rellenar valornes

In [82]:
df2['case number.1']=df['case number.1'].replace(np.nan, 0)

In [83]:
df2['case number.1']=[ 'None' for i in range(len(df2))]   
df2['case number.2']=[ 'None' for i in range(len(df2))]
df2['unnamed: 22']=[ 'None' for i in range(len(df2))]
df2['unnamed: 23']=[ 'None' for i in range(len(df2))]

df2.href=[ 'None' for i in range(len(df2))]

In [84]:
df2.date = df2.date.astype(str)
df2['date'] = df2['date'].str.replace('.R', 'Unknown')
df2['date'] = df2['date'].str.replace(' ', 'Unknown')

In [85]:
df2['date']=pd.to_datetime(df2['date'], errors='coerce') #Poner dato formato date

In [86]:
df2.activity = df2.activity.fillna ('Not relevant')
df2.activity[df2.activity.str.contains("Swimming")] = 'Swimming'
df2.activity[df2.activity.str.contains("swimming")] = 'Swimming'
df2.activity[df2.activity.str.contains("Floating")] = 'Swimming'
df2.activity[df2.activity.str.contains("floating")] = 'Swimming'
df2.activity[df2.activity.str.contains("Bathing")] = 'Swimming'
df2.activity[df2.activity.str.contains("bathing")] = 'Swimming'
df2.activity[df2.activity.str.contains("Crossing")] = 'Swimming'
df2.activity[df2.activity.str.contains("crossing")] = 'Swimming'
df2.activity[df2.activity.str.contains("Snork")] = 'Swimming'
df2.activity[df2.activity.str.contains("Standing")] = 'Swimming'
df2.activity[df2.activity.str.contains("standing")] = 'Swimming'
df2.activity[df2.activity.str.contains("Playing")] = 'Swimming'
df2.activity[df2.activity.str.contains("playing")] = 'Swimming'
df2.activity[df2.activity.str.contains("Sitting")] = 'Swimming'
df2.activity[df2.activity.str.contains("sitting")] = 'Swimming'
df2.activity[df2.activity.str.contains("Jumped")] = 'Swimming'
df2.activity[df2.activity.str.contains("Diving")] = 'Swimming'
df2.activity[df2.activity.str.contains("diving")] = 'Swimming'
df2.activity[df2.activity.str.contains("Wading")] = 'Swimming'
df2.activity[df2.activity.str.contains("Walking")] = 'Swimming'
df2.activity[df2.activity.str.contains("Splashing")] = 'Swimming'

df2.activity[df2.activity.str.contains("Fishing")] = 'Fishing'
df2.activity[df2.activity.str.contains("fishing")] = 'Fishing'
df2.activity[df2.activity.str.contains("Collecting")] = 'Fishing'
df2.activity[df2.activity.str.contains("collecting")] = 'Fishing'
df2.activity[df2.activity.str.contains("Hunting")] = 'Fishing'
df2.activity[df2.activity.str.contains("Catching")] = 'Fishing'
df2.activity[df2.activity.str.contains("catching")] = 'Fishing'
df2.activity[df2.activity.str.contains("Crabbing")] = 'Fishing'
df2.activity[df2.activity.str.contains("crabbing")] = 'Fishing'
df2.activity[df2.activity.str.contains("Treading")] = 'Fishing'

df2.activity[df2.activity.str.contains("Boat")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("boat")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Fell")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Adrift")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("fell")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("adrift")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Jumping")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("jumping")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("sea")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Sea")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Ocean")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("ocean")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Siking")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Cleaning")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("cleaning")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("ship")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Ship")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Plane")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("plane")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("disaster")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Disaster")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Force")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("force")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("washing")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Washing")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("The")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Exploted")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("exploted")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Wreck")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Sinking")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("life")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("sank")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("cyclone")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("submerged")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("capsized")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("survivors")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("junk")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("wrecked")] = 'Boating Accident'

df2.activity[df2.activity.str.contains("Paddling")] = 'Paddling'
df2.activity[df2.activity.str.contains("paddling")] = 'Paddling'
df2.activity[df2.activity.str.contains("Paddle")] = 'Paddling'
df2.activity[df2.activity.str.contains("paddle")] = 'Paddling'
df2.activity[df2.activity.str.contains("boarding")] = 'Paddling'
df2.activity[df2.activity.str.contains("Boarding")] = 'Paddling'
df2.activity[df2.activity.str.contains("Kakaying")] = 'Paddling'
df2.activity[df2.activity.str.contains("Kayaking")] = 'Paddling'
df2.activity[df2.activity.str.contains("Canoe")] = 'Paddling'
df2.activity[df2.activity.str.contains("canoe")] = 'Paddling'
df2.activity[df2.activity.str.contains("catamaran")] = 'Paddling'


df2.activity[df2.activity.str.contains("Surfing")] = 'Surfing'
df2.activity[df2.activity.str.contains("surfing")] = 'Surfing'
df2.activity[df2.activity.str.contains("surf")] = 'Surfing'
df2.activity[df2.activity.str.contains("Surf")] = 'Surfing'
df2.activity[df2.activity.str.contains("Board")] = 'Surfing'
df2.activity[df2.activity.str.contains("board")] = 'Surfing'

df2.activity[df2.activity.str.contains("Attempting")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("attempting")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Helping")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Netting")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Removing")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("removing")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("touching")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Touching")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Dragging")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Feeding")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Holding")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Dragging")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Shark")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("shark")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("fish")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Fish")] = 'Approaching a shark'

df2.activity[df2.activity.str.contains("Filming")] = 'Documental'
df2.activity[df2.activity.str.contains("filming")] = 'Documental'
df2.activity[df2.activity.str.contains("Recording")] = 'Documental'
df2.activity[df2.activity.str.contains("recording")] = 'Documental'
df2.activity[df2.activity.str.contains("Photographing")] = 'Documental'
df2.activity[df2.activity.str.contains("Film")] = 'Documental'
df2.activity[df2.activity.str.contains("film")] = 'Documental'
df2.activity[df2.activity.str.contains("Documental")] = 'Documental'

In [87]:
nan_cols = df2.isna().sum()

In [88]:
nan_cols[nan_cols>0]

case number        1
date             949
country           50
location         540
species         2838
href formula       1
dtype: int64

In [89]:
df2['case number'] = df2['case number'].fillna('Unknown')
df2['location'] = df2['location'].fillna('Unknown')
df2['name'] = df2['name'].fillna('Unknown')
df2['species'] = df2['species'].fillna('Unknown')
df2['investigator or source'] = df2['investigator or source'].fillna('Unknown')

In [90]:
df2.country.value_counts()

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
                    ...
MALDIVES               1
NICARAGUA              1
GABON                  1
JAVA                   1
COOK ISLANDS           1
Name: country, Length: 212, dtype: int64

In [91]:
df2.country = df2.country.fillna("UNKNOWN")
df2.country[df2.country.str.contains('EGYPT')] = 'EGYPT'
df2.country[df2.country.str.contains('ST HELENA, British overseas territory')] = 'ST HELENA'
df2.country[df2.country.str.contains('nan}')] = 'UNKNOWN'
df2.country[df2.country.str.contains('SOUTH ATLANTIC OCEAN')] = 'OTHERS'
df2.country[df2.country.str.contains('ANDAMAN / NICOBAR ISLANDAS')] = 'OTHERS'
df2.country[df2.country.str.contains('EGYPT / ISRAEL')] = 'OTHERS'
df2.country[df2.country.str.contains('SOLOMON ISLANDS / VANUATU')] = 'OTHERS'
df2.country[df2.country.str.contains('ATLANTIC OCEAN')] = 'OTHERS'

In [92]:
df2.head()

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,2018-06-25,2018,Sea Disaster,USA,California,"Oceanside, San Diego County",Paddling,Classified,F,57,No injury,N,Afternoon,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,6303,None,None
1,2018.06.18,2018-06-18,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Swimming,Classified,F,11,No injury,N,Afternoon,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,6302,None,None
2,2018.06.09,2018-06-09,2018,Unknown,USA,Hawaii,"Habush, Oahu",Surfing,Classified,M,48,Medium Injury,N,Morning,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,6301,None,None
3,2018.06.08,2018-06-08,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Classified,M,0,No injury,N,Unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,6300,None,None
4,2018.06.04,2018-06-04,2018,Provoked,MEXICO,Colima,La Ticla,Swimming,Classified,M,0,Shark attack not defined,N,Unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,6299,None,None

In [93]:
df2.species[df2.species.str.contains("White")] = 'White shark'
df2.species[df2.species.str.contains("white")] = 'White shark'

df2.species[df2.species.str.contains("Tiger")] = 'Tiger shark'
df2.species[df2.species.str.contains("tiger")] = 'Tiger shark'

df2.species[df2.species.str.contains("Bull")] = 'Bull Shark'
df2.species[df2.species.str.contains("bull")] = 'Bull Shark'

df2.species[df2.species.str.contains("Reef")] = 'Reef shark'
df2.species[df2.species.str.contains("reef")] = 'Reef shark'

df2.species[df2.species.str.contains("nurse")] = 'Grey nurse shark'
df2.species[df2.species.str.contains("Nurse")] = 'Grey nurse shark'
df2.species[df2.species.str.contains("grey")] = 'Grey nurse shark'
df2.species[df2.species.str.contains("Grey")] = 'Grey nurse shark'
df2.species[df2.species.str.contains("Gray")] = 'Grey nurse shark'

df2.species[df2.species.str.contains("nurse")] = 'Grey nurse shark'
df2.species[df2.species.str.contains("Nurse")] = 'Grey nurse shark'

df2.species[df2.species.str.contains("Blacktip")] = 'Blacktip shark'
df2.species[df2.species.str.contains("blacktip")] = 'Blacktip shark'

df2.species[df2.species.str.contains("Blue")] = 'Blue shark'
df2.species[df2.species.str.contains("blue")] = 'Blue shark'

df2.species[df2.species.str.contains("Bronze")] = 'Bronze shark'
df2.species[df2.species.str.contains("bronze")] = 'Bronze shark'

df2.species[df2.species.str.contains("hammerhead")] = 'Hammerhead shark'
df2.species[df2.species.str.contains("Hammerhead")] = 'Hammerhead shark'

df2.species[df2.species.str.contains("Lemon")] = 'Lemon shark'
df2.species[df2.species.str.contains("lemon")] = 'Lemon shark'

df2.species[df2.species.str.contains("Mako")] = 'Mako shark'
df2.species[df2.species.str.contains("mako")] = 'Mako shark'

df2.species[df2.species.str.contains("Dusky")] = 'Dusky shark'
df2.species[df2.species.str.contains("dusky")] = 'Dusky shark'

df2.species[df2.species.str.contains("Spinner")] = 'Spinner shark'
df2.species[df2.species.str.contains("spinner")] = 'Spinner shark'

df2.species[df2.species.str.contains("Wobbegong")] = 'Wobbegong shark'
df2.species[df2.species.str.contains("wobbegong")] = 'Wobbegong shark'

df2.species[df2.species.str.contains("raggedtooth")] = 'Raggedtooth shark'
df2.species[df2.species.str.contains("Raggedtooth")] = 'Raggedtooth shark'

df2.species[df2.species.str.contains("Sevengill")] = 'Sevengill shark'
df2.species[df2.species.str.contains("sevengill")] = 'Sevengill shark'

df2.species[df2.species.str.contains("Carpet")] = 'Carpet shark'
df2.species[df2.species.str.contains("carpet")] = 'Carpet shark'

df2.species[df2.species.str.contains("Porbeagle")] = 'Porbeagle shark'
df2.species[df2.species.str.contains("porbeagle")] = 'Porbeagle shark'

df2.species[df2.species.str.contains("Sand")] = 'Sand shark'
df2.species[df2.species.str.contains("sand")] = 'Sand shark'

df2.species[df2.species.str.contains("involvement")] = 'Not specified'
df2.species[df2.species.str.contains("involve")] = 'Not specified'
df2.species[df2.species.str.contains("Remains")] = 'Not specified'
df2.species[df2.species.str.contains("small")] = 'Not specified'
df2.species[df2.species.str.contains("specified")] = 'Not specified'
df2.species[df2.species.str.contains("Possibly")] = 'Not specified'
df2.species[df2.species.str.contains("Questionable")] = 'Not specified'
df2.species[df2.species.str.contains("authenticated")] = 'Not specified'
df2.species[df2.species.str.contains("Invalid")] = 'Not specified'
df2.species[df2.species.str.contains("'")] = 'Not specified'
df2.species[df2.species.str.contains("1")] = 'Not specified'
df2.species[df2.species.str.contains("2")] = 'Not specified'
df2.species[df2.species.str.contains("3")] = 'Not specified'
df2.species[df2.species.str.contains("4")] = 'Not specified'
df2.species[df2.species.str.contains("5")] = 'Not specified'
df2.species[df2.species.str.contains("6")] = 'Not specified'
df2.species[df2.species.str.contains("7")] = 'Not specified'
df2.species[df2.species.str.contains("8")] = 'Not specified'
df2.species[df2.species.str.contains("9")] = 'Not specified'
df2.species[df2.species.str.contains("10")] = 'Not specified'
df2.species[df2.species.str.contains("brown-colored")] = 'Not specified'
df2.species[df2.species.str.contains("pack")] = 'Not specified'
df2.species[df2.species.str.contains("Attacked")] = 'Not specified'
df2.species[df2.species.str.contains("Dog")] = 'Not specified'
df2.species[df2.species.str.contains("caught")] = 'Not specified'
df2.species[df2.species.str.contains("large")] = 'Not specified'
df2.species[df2.species.str.contains("black-tipped")] = 'Not specified'
df2.species[df2.species.str.contains("dog")] = 'Not specified'
df2.species[df2.species.str.contains("large")] = 'Not specified'
df2.species[df2.species.str.contains("little")] = 'Not specified'
df2.species[df2.species.str.contains("school")] = 'Not specified'
df2.species[df2.species.str.contains("young")] = 'Not specified'
df2.species[df2.species.str.contains("tipped")] = 'Not specified'
df2.species[df2.species.str.contains("grey")] = 'Not specified'
df2.species[df2.species.str.contains("gray")] = 'Not specified'
df2.species[df2.species.str.contains("juvenile")] = 'Not specified'
df2.species[df2.species.str.contains("whiptail")] = 'Not specified'
df2.species[df2.species.str.contains("According")] = 'Not specified'
df2.species[df2.species.str.contains("Angel")] = 'Not specified'
df2.species[df2.species.str.contains("Blacktip")] = 'Not specified'
df2.species[df2.species.str.contains("Basking")] = 'Not specified'
df2.species[df2.species.str.contains("Blue")] = 'Not specified'
df2.species[df2.species.str.contains("Bronze")] = 'Not specified'
df2.species[df2.species.str.contains("Bull")] = 'Not specified'
df2.species[df2.species.str.contains("leucas")] = 'Not specified'
df2.species[df2.species.str.contains("maculpinnis")] = 'Not specified'
df2.species[df2.species.str.contains("Carpet")] = 'Not specified'
df2.species[df2.species.str.contains("Considered")] = 'Not specified'
df2.species[df2.species.str.contains("Doubtful")] = 'Not specified'
df2.species[df2.species.str.contains("Cookiecutter")] = 'Not specified'
df2.species[df2.species.str.contains("Copper")] = 'Not specified'
df2.species[df2.species.str.contains("Cow")] = 'Not specified'
df2.species[df2.species.str.contains("drowning")] = 'Not specified'
df2.species[df2.species.str.contains("Description")] = 'Not specified'
df2.species[df2.species.str.contains("Dusky")] = 'Not specified'
df2.species[df2.species.str.contains("Fishermen")] = 'Not specified'
df2.species[df2.species.str.contains("Galapagos")] = 'Not specified'
df2.species[df2.species.str.contains("Goblin")] = 'Not specified'
df2.species[df2.species.str.contains("Hammerhead")] = 'Not specified'
df2.species[df2.species.str.contains("gangeticus")] = 'Not specified'
df2.species[df2.species.str.contains("eel")] = 'Not specified'
df2.species[df2.species.str.contains("invovlement")] = 'Not specified'
df2.species[df2.species.str.contains("invovlement")] = 'Not specified'
df2.species[df2.species.str.contains("hoax")] = 'Not specified'
df2.species[df2.species.str.contains("specified")] = 'Not specified'
df2.species[df2.species.str.contains("Porbeagle")] = 'Not specified'
df2.species[df2.species.str.contains("Raggedtooth")] = 'Not specified'
df2.species[df2.species.str.contains("Reef")] = 'Not specified'
df2.species[df2.species.str.contains("story")] = 'Not specified'
df2.species[df2.species.str.contains("Salmon")] = 'Not specified'
df2.species[df2.species.str.contains("Sand")] = 'Not specified'
df2.species[df2.species.str.contains("Seven-gill")] = 'Not specified'
df2.species[df2.species.str.contains("turtle")] = 'Not specified'
df2.species[df2.species.str.contains("rough")] = 'Not specified'
df2.species[df2.species.str.contains("specified")] = 'Not specified'
df2.species[df2.species.str.contains("Sevengill")] = 'Not specified'
df2.species[df2.species.str.contains("Shovelnose")] = 'Not specified'
df2.species[df2.species.str.contains("Silvertip")] = 'Not specified'
df2.species[df2.species.str.contains("Small")] = 'Not specified'
df2.species[df2.species.str.contains("Soupfin")] = 'Not specified'
df2.species[df2.species.str.contains("unidentified")] = 'Not specified'
df2.species[df2.species.str.contains("Not")] = 'Not specified'
df2.species[df2.species.str.contains("Spinner")] = 'Not specified'
df2.species[df2.species.str.contains("Unidentified")] = 'Not specified'
df2.species[df2.species.str.contains("Thresher")] = 'Not specified'
df2.species[df2.species.str.contains("recovered")] = 'Not specified'
df2.species[df2.species.str.contains("Zambesi")] = 'Not specified'
df2.species[df2.species.str.contains("whaler")] = 'Not specified'

In [94]:
df2.species.value_counts()

Unknown             2839
Not specified       2260
White shark          667
Tiger shark          283
Grey nurse shark     104
Mako shark            54
Wobbegong shark       50
Lemon shark           34
                       6
                       2
Whale shark            2
Leopard shark          1
Name: species, dtype: int64

In [97]:
df2.to_csv('../Proyecto_TL/shark_clean.xlsx', index=False)