# Load csv file

For the following exercise, one should firstly import the pandas library to analise the data

In [1]:
import pandas as pd
import numpy as np

Afterwards, we name the varible "df" the corresponds to the Data Frame read through pandas:

In [2]:
df = pd.read_csv("attacks.csv")

# Columns: what are we reading?

Let's check our data

In [3]:
df.shape #number of rows = 25.723
         #number of columns = 24

(25723, 24)

In [4]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

I'm a simply guy, so I'll simplify the name of the columns as much as I can. Let's perfome some transformations on the columns' name to make our life easier while doing any calculations:

In [5]:
#1. Lower case:
new_columns = [c.lower() for c in df.columns]

#2. Remove spaces (some names had nasty spaces, namely, "sex " with a space):
new_columns2 = [e.strip() for e in new_columns]

#3. Replace inner spaces with underscore (_):

new_columns3 = [k.replace(' ','_') for k in new_columns2] 

#4. Replace colon (:) with underscore (_):
new_columns4 = [j.replace(':','') for j in new_columns3]

#5. Replace colon (_(y/n)) with underscore (_):
new_columns5 = [i.replace('_(y/n)', '') for i in new_columns4] 
#I'm also suspicious, so I replace directly the character rather remove it. We might get in trouble removing "n", "y".
#Let's got straight to the point.

print('I think we got it:')
print(new_columns5)

I think we got it:
['case_number', 'date', 'year', 'type', 'country', 'area', 'location', 'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species', 'investigator_or_source', 'pdf', 'href_formula', 'href', 'case_number.1', 'case_number.2', 'original_order', 'unnamed_22', 'unnamed_23']

Now, let's rename these columns (new_columns5) as our columns of the given Data Frame:

In [6]:
df=df.rename(columns={k:v for k,v in zip(df.columns, new_columns5)}) # k as former columns, v as new columns

df.columns # let's inspect!

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed_22',
       'unnamed_23'],
      dtype='object')

Great! Now that we have our columns' names set, we shall proceed with the data analysis!

# Rows: inspecting information - removing useless records

Let's take a look to our data:

In [7]:
df

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I feel like there are a lot of records without any information... Let's inspect!

In [8]:
#VERY IMPORTANT!! We should pass the argument 'all'. Otherwise, Python will remove a row if has any Null value.
#Also, note that we are not perfoming any changes to our data frame So we don't compromise our original data frame,
#let's keep track of our transformations and call this one transf1.
transf1 = df.dropna(0,'all')
transf1

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Observing the table above, I'm guessing that we still have some cleaning to do... In particular, I'm finding odd that the case_number is 0. Let's inspect this before any further transformation:

In [9]:
transf1[transf1.case_number == '0']

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed_22,unnamed_23
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8697,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I find this 2400 records a bit suspicious... let's analyse this subset, so we can make a decision. As I'm not sure i'f I'm going to remove these ones, let's call this an aux.

In [10]:
aux = transf1[transf1.case_number == '0']
(aux.isna().sum().sum()) #Calculating the number of null elements within this subset

55193

I find this number 55.193 comforting, in the sense that I could exclude this subset from the original Data Frame without losing any value information. If you're not convinced, allow me:

In [11]:
(aux.isna().sum().sum())/len(aux) #let's calculate a ratio of number of null elements per column

22.997083333333332

To make this clear: we are talking about approx 23 null values per column. Given that our Data Frame has 24 columns, this is equivalent to say that we are finding only 1 no null value per column. I'm a suspicious guy, but I'm not that lucky: I'm taking the risk and I'm eliminating this subset from our original data set. Let's proceed with the 2nd transformation (transf2):

In [12]:
transf2=transf1[transf1.case_number != '0']
transf2

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's do a final one for case_number = xx and apply the same rational as above:

In [13]:
aux2 = transf2[transf2.case_number == 'xx']
(aux2.isna().sum().sum()) #Calculating the number of null elements within this subset

23

In [14]:
db=transf2[transf2.case_number != 'xx']
db

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [15]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6301 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal                   5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number.1           6302 non-null   object
 20  case_number.2           6302 non-null   object
 21  original_order          6302 non-null   float64
 22  unnamed_22              1 non-null      object
 23  unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

Our data has a better looking now! Although, I'm finding odd to have only 1 and 2 non-null values in the columns unnamed_22 and unnamed_23 respectively. Let's inspect what's happening there

# Columns with (almost) all null values

Let's find the data and the respective index of the above mentioned:

In [16]:
db.unnamed_22[db.unnamed_22.notna()] #Retrieve index and information

1478    stopped here
Name: unnamed_22, dtype: object

In [17]:
db.loc[1478] #Retrieve data

case_number                                                      2006.05.27
date                                                            27-May-2006
year                                                                 2006.0
type                                                             Unprovoked
country                                                                 USA
area                                                                 Hawaii
location                                                 North Shore, O'ahu
activity                                                            Surfing
name                                                           Bret Desmond
sex                                                                       M
age                                                                      31
injury                                    No injury, shark bumped surfboard
fatal                                                                     N
time                                                                  16h00
species                                                                 NaN
investigator_or_source                                           R. Collier
pdf                                                  2006.05.27-Desmond.pdf
href_formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
case_number.1                                                    2006.05.27
case_number.2                                                    2006.05.27
original_order                                                       4825.0
unnamed_22                                                     stopped here
unnamed_23                                                              NaN
Name: 1478, dtype: object

In [18]:
db.unnamed_23[db.unnamed_23.notna()] #Retrieve index and information

4415             Teramo
5840    change filename
Name: unnamed_23, dtype: object

In [19]:
db.loc[4415]

case_number                                                      1952.03.30
date                                                            30-Mar-1952
year                                                                 1952.0
type                                                             Unprovoked
country                                                NETHERLANDS ANTILLES
area                                                                Curacao
location                                                                NaN
activity                    Went to aid of child being menaced by the shark
name                                                            A.J. Eggink
sex                                                                       M
age                                                                     NaN
injury                                       Buttock bitten, tissue removed
fatal                                                                     N
time                                                                    NaN
species                   Bull shark, 2.7 m [9'] was captured & dragged ...
investigator_or_source    J. Randall, p.352 in Sharks & Survival; H.D. B...
pdf                                                   1952.03.30-Eggink.pdf
href_formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
case_number.1                                                    1952.03.30
case_number.2                                                    1952.03.30
original_order                                                       1888.0
unnamed_22                                                              NaN
unnamed_23                                                           Teramo
Name: 4415, dtype: object

In [20]:
db.loc[5840]

case_number                                                    1878.09.14.R
date                                                   Reported 14-Sep-1878
year                                                                 1878.0
type                                                               Provoked
country                                                                 USA
area                                                            Connecticut
location                                         Branford, New Haven County
activity                                                            Fishing
name                                                       Captain Pattison
sex                                                                       M
age                                                                     NaN
injury                         Leg bitten by netted shark PROVOKED INCIDENT
fatal                                                                     N
time                                                                    NaN
species                                                                 NaN
investigator_or_source                         St. Joseph Herald, 9/14/1878
pdf                                               1878.09.14.R-Pattison.pdf
href_formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
case_number.1                                                  1878.09.14.R
case_number.2                                                  1878.09.14.R
original_order                                                        463.0
unnamed_22                                                              NaN
unnamed_23                                                  change filename
Name: 5840, dtype: object

After inspecting the above three data (stopped here, Teramo and change filename) I assume that these information doesn't add any value to further analysis. Therefore, I shall replace these with "no data". This procedure shall be apllied in any similiar cases

In [21]:
db['unnamed_22'] = "no data"
db['unnamed_23'] = "no data"

<ipython-input-21-fbaaafd02cc2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'] = "no data"
<ipython-input-21-fbaaafd02cc2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_23'] = "no data"

In [22]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6301 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal                   5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number.1           6302 non-null   object
 20  case_number.2           6302 non-null   object
 21  original_order          6302 non-null   float64
 22  unnamed_22              6302 non-null   object
 23  unnamed_23              6302 non-null   object
dtypes: float64(2), object(22)
memory usage: 1.3+ MB

In [23]:
db

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,no data,no data
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,no data,no data
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,no data,no data
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,no data,no data
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,no data,no data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,no data,no data
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,no data,no data
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,no data,no data
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,no data,no data
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,no data,no data

# Replace null values

Let's fill the null values in our Data Frame for "no data" as done above. For this:

In [24]:
db.fillna("no data", inplace = True)

c:\users\ffrei\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [25]:
db

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,no data,no data
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,no data,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,no data,no data
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,no data,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,no data,no data
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,no data,no data
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,no data,no data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,no data,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,no data,no data
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,no data,Pearl diving,Ahmun,M,...,no data,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,no data,no data
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,no data,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,no data,no data
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,no data,"Panama Bay 8�N, 79�W",no data,Jules Patterson,M,...,no data,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,no data,no data
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,no data,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,no data,no data

In [26]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6302 non-null   object
 1   date                    6302 non-null   object
 2   year                    6302 non-null   object
 3   type                    6302 non-null   object
 4   country                 6302 non-null   object
 5   area                    6302 non-null   object
 6   location                6302 non-null   object
 7   activity                6302 non-null   object
 8   name                    6302 non-null   object
 9   sex                     6302 non-null   object
 10  age                     6302 non-null   object
 11  injury                  6302 non-null   object
 12  fatal                   6302 non-null   object
 13  time                    6302 non-null   object
 14  species                 6302 non-null   object
 15  investigator_or_source  6302 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6302 non-null   object
 18  href                    6302 non-null   object
 19  case_number.1           6302 non-null   object
 20  case_number.2           6302 non-null   object
 21  original_order          6302 non-null   float64
 22  unnamed_22              6302 non-null   object
 23  unnamed_23              6302 non-null   object
dtypes: float64(1), object(23)
memory usage: 1.3+ MB

# Data type

When it comes to Data Analysis, one should classify the data for its type. Let's inspect our columns by observing the columns above:
    - case_number: this appears to either to be a date or a code. This might be due to different reason. Let's assume this will be a string;
    
    - date: this should represent the date of the attack. Although, one my confirm that there are records filled with "Before xxx", as the date might not be that accurate. For this reason, let's assume too string type
    
    - year: this one should represent an integer. Let us inspect:

# year

In [27]:
db.head(10)

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,no data,no data
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,no data,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,no data,no data
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,no data,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,no data,no data
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,no data,no data
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,no data,no data
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris �,M,...,no data,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,no data,no data
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,no data,no data
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,no data,no data
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,no data,no data
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,...,no data,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,no data,no data

First, let us set the numbers into a integer and replace those values in the data frame. If there's "no data", it shall keep "no data". If it has 0 or an year value less than 1500, let's assume "UKNOWN".

In [28]:
lst = db['year'].tolist()
years=[]

#convert all elements into integer

for i in lst:
    if i == "no data":
        years.append(i)
    
    elif i == 0:
        a = "UKNOWN"
        years.append(a)
    
    elif i < 1500:
        a = "UKNOWN"
        years.append(a)
    
    else:
        a = int(i)
        years.append(a)

db['year'] = years
db['year']

<ipython-input-28-4951a5bc0a9c>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['year'] = years

0         2018
1         2018
2         2018
3         2018
4         2018
         ...
6297    UKNOWN
6298    UKNOWN
6299    UKNOWN
6300    UKNOWN
6301    UKNOWN
Name: year, Length: 6302, dtype: object

In [29]:
db.year.value_counts()

2015      143
2017      136
2016      130
UKNOWN    128
2011      128
         ...
1791        1
1787        1
1786        1
1785        1
1788        1
Name: year, Length: 247, dtype: int64

# type

Let's check what type of attacks happened:

In [30]:
db.type.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
no data            4
Questionable       2
Boatomg            1
Name: type, dtype: int64

First of all, this should be a string type.

In [31]:
db['type'].astype(str)

0          Boating
1       Unprovoked
2          Invalid
3       Unprovoked
4         Provoked
           ...
6297    Unprovoked
6298    Unprovoked
6299    Unprovoked
6300    Unprovoked
6301    Unprovoked
Name: type, Length: 6302, dtype: object

Secondly, from my point of view, one could:
- Invalid equals no data, as this brings no statistic value to further analisis;
- Boating and Boat is the same. Let's consider "Boat" from no on;
- Boatomg sounds like Boat. Let's consider "Boat".

With this being said:

In [32]:
db['type'] = db.type.apply(lambda x: "Boat" if x == "Boatomg" else x) #replace value susing apply and lambda!!!
db['type'] = db.type.apply(lambda x: "Boat" if x == "Boating" else x)
db['type'] = db.type.apply(lambda x: "UKNOWN" if x == "Invalid" else x)

<ipython-input-32-9e40f0a6e9cb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['type'] = db.type.apply(lambda x: "Boat" if x == "Boatomg" else x) #replace value susing apply and lambda!!!
<ipython-input-32-9e40f0a6e9cb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['type'] = db.type.apply(lambda x: "Boat" if x == "Boating" else x)
<ipython-input-32-9e40f0a6e9cb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['type'] = db.type.apply(lambda x: "UKNOWN" if x == "Invalid" else x)

In [33]:
db.type.value_counts()

Unprovoked      4595
Provoked         574
UKNOWN           547
Boat             341
Sea Disaster     239
no data            4
Questionable       2
Name: type, dtype: int64

# Country

Same method as before: let's inspect the values from this column to make some decisions. Let's make these unique

In [34]:
db['country'].astype(str)

0                      USA
1                      USA
2                      USA
3                AUSTRALIA
4                   MEXICO
               ...
6297             AUSTRALIA
6298             AUSTRALIA
6299                   USA
6300                PANAMA
6301    CEYLON (SRI LANKA)
Name: country, Length: 6302, dtype: object

In [35]:
db.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', 'no data', 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

For my point of view, an attack that happens in the ocean doesn't provide any useful information regarding the country where the attack happened. For that reason, I'm replacing any string that contains OCEAN with UKNOWN. The same statement is valid for a country designed by Between PORTUGAL & INDIA.

In [36]:
db['country'][db.country.str.contains('OCEAN')] = 'UNKNOWN'
db['country'][db.country.str.contains('PACIFIC')] = 'UNKNOWN'
db['country'][db.country.str.contains('ATLANTIC')] = 'UNKNOWN'
db['country'][db.country.str.contains('Between')] = 'UNKNOWN'

<ipython-input-36-b1f6e617f9d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'][db.country.str.contains('OCEAN')] = 'UNKNOWN'
c:\users\ffrei\appdata\local\programs\python\python39\lib\site-packages\pandas\core\series.py:992: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
<ipython-input-36-b1f6e617f9d1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'][db.country.str.contains('PACIFIC')] = 'UNKNOWN'
<ipython-input-36-b1f6e617f9d1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'][db.country.str.contains('ATLANTIC')] = 'UNKNOWN'
<ipython-input-36-b1f6e617f9d1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'][db.country.str.contains('Between')] = 'UNKNOWN'

Same goes for continents. They don't add any value information regarding the country where the attack happened (AFRICA has 54 countries, for instance)

In [37]:
db['country'][db.country.str.contains('AFRICA')] = 'UNKNOWN'
db['country'][db.country.str.contains('ASIA')] = 'UNKNOWN'

<ipython-input-37-9a58dda4d168>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'][db.country.str.contains('AFRICA')] = 'UNKNOWN'
<ipython-input-37-9a58dda4d168>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'][db.country.str.contains('ASIA')] = 'UNKNOWN'

In [38]:
db.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'UNKNOWN',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', 'no data', 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'GREECE', 'ST. MARTIN', 'FRANCE', 'PAPUA NEW GUINEA',
       'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA',
       'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES', 'GUAM',
       'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CANADA',
       'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA',
       'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'PORTUGAL', 'SOUTH CHINA SEA',
       'BANGLADESH', 'PALAU', 'WESTERN SAMOA', 'BRITISH ISLES', 'GRENADA',
       'IRAQ', 'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'SUDAN',
       'JOHNSTON ISLAND', 'NEW GUINEA', 'RED SEA',
       'FEDERATED STATES OF MICRONESIA', 'ADMIRALTY ISLANDS',
       'BRITISH WEST INDIES', 'PERSIAN GULF', 'NORTH SEA', 'NICARAGUA ',
       'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS',
       'GABON', 'MAYOTTE', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'SOLOMON ISLANDS / VANUATU',
       'BAY OF BENGAL', 'SLOVENIA', 'CURACAO', 'ICELAND',
       'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI',
       'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ', 'REUNION ISLAND',
       'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ', 'WEST INDIES',
       'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON',
       'GEORGIA', 'SYRIA', 'TUVALU', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'ALGERIA', 'TASMAN SEA', 'GHANA', 'GREENLAND', 'MEDITERRANEAN SEA',
       'SWEDEN', 'ROATAN', 'DJIBOUTI', 'BAHREIN', 'KOREA', 'RED SEA?',
       'CEYLON (SRI LANKA)'], dtype=object)

Let us remove the '?' and assume accurancy in data. Let us as well replace some cities for countries. We could go on with this, but I think we have enough valuable information

In [39]:
db['country'] = db['country'].str.lstrip()
db['country'] = db['country'].str.rstrip()
db['country'] = db['country'].str.rstrip('?')
db['country'] = db.country.apply(lambda x: 'UNITED ARAB EMIRATES' if x == 'UNITED ARAB EMIRATES (UAE)' else x )
db['country'] = db.country.apply(lambda x: 'SRI LANKA' if x == 'CEYLON (SRI LANKA)' else x )
db['country'] = db.country.apply(lambda x: 'GREECE' if x == 'CRETE' else x )
db['country'] = db.country.apply(lambda x: 'PORTUGAL' if x == 'AZORES' else x )

<ipython-input-39-271c15a08302>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'] = db['country'].str.lstrip()
<ipython-input-39-271c15a08302>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'] = db['country'].str.rstrip()
<ipython-input-39-271c15a08302>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'] = db['country'].str.rstrip('?')
<ipython-input-39-271c15a08302>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'] = db.country.apply(lambda x: 'UNITED ARAB EMIRATES' if x == 'UNITED ARAB EMIRATES (UAE)' else x )
<ipython-input-39-271c15a08302>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'] = db.country.apply(lambda x: 'SRI LANKA' if x == 'CEYLON (SRI LANKA)' else x )
<ipython-input-39-271c15a08302>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'] = db.country.apply(lambda x: 'GREECE' if x == 'CRETE' else x )
<ipython-input-39-271c15a08302>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['country'] = db.country.apply(lambda x: 'PORTUGAL' if x == 'AZORES' else x )

In [40]:
db.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'UNKNOWN',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', 'no data', 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'GREECE', 'ST. MARTIN', 'FRANCE', 'PAPUA NEW GUINEA',
       'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA',
       'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES', 'GUAM',
       'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CANADA',
       'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA',
       'TURKS & CAICOS', 'PORTUGAL', 'SOUTH KOREA', 'MALTA', 'VIETNAM',
       'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS',
       'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN',
       'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN',
       'Seychelles', 'LIBERIA', 'VANUATU', 'HONDURAS', 'VENEZUELA',
       'SRI LANKA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA',
       'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'EGYPT / ISRAEL',
       'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA',
       'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE',
       'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'NEW GUINEA', 'RED SEA',
       'FEDERATED STATES OF MICRONESIA', 'ADMIRALTY ISLANDS',
       'BRITISH WEST INDIES', 'PERSIAN GULF', 'NORTH SEA', 'NICARAGUA',
       'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS',
       'GABON', 'MAYOTTE', 'THE BALKANS', 'ARGENTINA', 'MARTINIQUE',
       'GUATEMALA', 'NETHERLANDS ANTILLES', 'NORTHERN MARIANA ISLANDS',
       'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE', 'SOLOMON ISLANDS / VANUATU',
       'BAY OF BENGAL', 'SLOVENIA', 'CURACAO', 'ICELAND',
       'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI',
       'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'REUNION ISLAND',
       'FALKLAND ISLANDS', 'CYPRUS', 'WEST INDIES', 'BURMA', 'LEBANON',
       'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'GEORGIA', 'SYRIA',
       'TUVALU', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'ALGERIA', 'TASMAN SEA', 'GHANA', 'GREENLAND', 'MEDITERRANEAN SEA',
       'SWEDEN', 'ROATAN', 'DJIBOUTI', 'BAHREIN', 'KOREA'], dtype=object)

In [41]:
len(db.country.unique())

181

# Area

In [42]:
db.area.unique()

array(['California', 'Georgia', 'Hawaii', 'New South Wales', 'Colima',
       'Pernambuco', 'Florida', 'Queensland', 'South Carolina',
       'Cornwall', 'Westerm Australia', 'Eastern Cape Province',
       'Hua Hin', 'Cocos Island', 'Western Australia',
       'Alifu Alifu Atoll', 'Western Cape Province', 'New Providence',
       'Alagoas', 'no data', 'Victoria', 'KwaZulu-Natal',
       'Boi Island, Victoria', 'Galapagos Islands', 'Fernando de Noronha',
       'Sepang', 'Holquin Province', 'Pamplemousses ', 'South Australia',
       'North Island', 'New York', 'Canary Islands', ' Upolu Island',
       'Shizuoka Prefecture', 'Texas', 'Castell�n', 'Massachusetts',
       'Red Sea Protectorate', 'New Providence District',
       '40 miles off Grand Bahama Island', 'Ascension Island',
       'New Jersey', 'Majorca', 'Washington', 'Tabasco', 'Anjouan',
       'Ibiza Island', 'Marquesas', 'South Devon', 'New Providence ',
       'Sharjah, ', 'Baja California Sur', 'Saint-Leu', 'South Island',
       'Luzon Island', 'Great Exuma', 'Saint-Andre', 'Bimini', 'Bali',
       'Tuamotos', 'Oregon', 'North Province', 'New Providence Island',
       'Alicante Province', 'Hong Kong', 'Kochi Prefecture', 'Tasmania',
       'Abaco Islands', 'Alabama', 'North Carolina', 'Isla Provedencia',
       'Suez', 'Grand Terre', 'Boa Vista Island', 'Vanua Levu',
       'Santa Catarina State', 'South Province', 'Altagracia Province',
       'Grand Cayman', 'Balne�rio Cambori�', 'Fujairah Emirate',
       'Grand Canary Island', 'Inhambane Province', 'Phuket', 'Alicante',
       'Guanacaste', 'Bora Bora', 'Grand Bahama Island', 'Le Port',
       'Rangiroa', 'Saint-Gilles-les-Bains', 'Sardinia', 'Sinaloa',
       'Central Tuamotu', 'd��tang-Sal�', 'Granada',
       'Cargados Carajos Shoals (St. Brandon)', 'Moorea', 'Catalonia',
       'Maryland', 'Louisiana', 'West End', 'Delaware',
       'Atsumi peninsula', 'Palmyra Atoll', 'Wallis and Futuna',
       'Baie de Sainte-Marie', 'Society Islands', 'Trinidad',
       'Okinawa Prefecture', '740 miles SE of Tarawa Atoll',
       'Southern District', 'Bay of Biscay', 'Quintana Roo',
       'Exuma Islands', 'Saint-Paul', 'Taitung ', 'Kingston Parish',
       'Santa Cruz Island', 'Saint-Gilles', 'Tuamotus', 'Eleuthera',
       'St. Catherine', 'Palawan', 'Mercury Islands', 'Delta', "Vava'u",
       'Inner Hebrides', 'Saint Leu', 'Trois-Bassins', 'British Colombia',
       'Guerrero', 'Saint-Benoit', 'Tabuk Province',
       'Antofagasta Province', "St John's", 'Santa Elena',
       'East New Britain', 'Bois-Blanc ', 'Moray', 'Puerto Rico',
       'Saman� Province', 'Coast Province', 'Central Province',
       'Primorsky Krai',
       'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
       'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)', 'Praslin',
       'Sucre', 'Middle Caicos', 'Caicos Bank', 'San Andr�s archipelago',
       'Kedah', 'Umm al Qaywayan Province', 'Vitu Levu',
       'South Sinai Peninsula', ' Loyalty Islands', 'Saint Gilles ',
       'Maine', 'Virginia', "Ha'api ", 'Western Province',
       'Jeju Province', 'Binh Dinh Province', 'Antsiranana Province',
       'Sinai Peninsula', 'Off Vanua Levu', 'Merizo', 'Rio Grande Do Sul',
       'Dubai', 'Torres Strait', 'Eastern Province',
       'Eastern Cape  Province', 'Maputo Province', 'Bocas', 'Fife',
       'Devon', 'Makira-Ulawa Province', 'Mombasa', 'Catalunya',
       'St. Johns Reef', 'Off Green Island', 'North Region',
       'Batangas province', 'Strait of Malacca', 'Guantanamo Province',
       'Maranh�o', 'Red Sea', 'Batanes Provine', 'Luzon',
       'Northern Territory', ' Split-Dalmatia Count,', 'North Devon',
       'US Virgin Islands', 'San Carlos', 'Cabo San Lucas', 'Sussex',
       'Bahia', 'Easter Ross', 'Guerro', 'Yasawa Islands',
       'Northern Bahamas', 'Tokyo Bay', 'Baja California', 'Green Bay',
       'Loyalty Islands', 'Marovo Lagoon',
       'Territory of Cocos (Keeling) Islands', 'Oslo Fjord', 'Kent',
       'Bird Island', 'Providenciales', 'Bimini Islands',
       'Muhafazat Hadramawt', 'Cook islans', 'Surigao del Norte',
       'Between Somalia & Yemen', 'Ambergris Caye', 'Saint-Pierre',
       'Kentucky', 'Andros Islands', 'Guam', 'Western Area',
       '300 miles from Antigua', '800 miles from land',
       '600 nm west of the Canary Islands', 'Simpson Bay', 'East Wall',
       'Inner Islands', 'Shanghai', 'Malampa Province',
       "South Ch'ungch'ong Province", 'Bay Islands', 'New Mexico',
       'Santa Isabel Province', 'Santiago de Cuba Province',
       'Camaguey Province', 'Conservat�ria District', 'South Carolina ',
       'Kuril Islands in the Pacific', 'Wakayama Prefecture',
       "Nuku'alofa", 'Saint-Beno�t',
       'South Island, near Karitane north of Dunedin', 'Rocha',
       'Northlands', 'Anzoategui', 'Cook Islands', 'Tamil Nadu',
       'Pearl Islands', 'Taveuni', 'Johnston Atoll', 'Baatan',
       'Rio de Janeiro', 'Nueva Esparta', 'Southland',
       'North Pacific coast', 'Caroline Islands', 'Cheshire',
       'Louisiade Archipelago',
       'KwaZulu-Natal between Port Edward and Port St Johns',
       'Milne Bay Province', 'Cikobia Island (north of Vanua Levu)',
       'Rayong Province', 'Zamboanga del Sur Province',
       'Rio Grande de Norte',
       'Off the western coast of peninsular Malaysia', 'New Brunswick',
       'Miyako Island', 'Alaska', 'Minerva Reef', 'Madang Province',
       'Worcestershire', 'Phang nga Province', 'Alinglaplap Atoll',
       'Adriatic Sea', 'Ralik Chain', 'Grand Baie',
       "L' Etang Sal�-les-Bains", 'Southern Japan', 'Cap Vert Peninsula',
       'Marches region', 'Berry Islands', 'Transvaal', 'Gaza',
       "Grand'Anse", 'Beaufonds', 'Miyako', "L'Etang-Sale",
       'Chatham Islands ', 'South Sinai, Gulf of Aqaba', 'Cat Cay',
       'Missouri', '12 miles off the north coast', 'Saint-Paul ',
       'Chatham Islands, east of New  Zealand', 'Saint-Denis', 'Vava�u',
       'Mississippi', 'Clearwater Bay', 'New Territories',
       'Aichi Prefecture', 'Tafea Province', 'Kagoshima Prefecture',
       'Saint-Joseph', 'Banaadir Region', 'La Libertad', 'Costa Blanca',
       'Walkers Cay', 'On the Kowloon penisula, south of Sai Kung',
       'Ehime Prefecture', 'Tongapatu Group', 'West Africa',
       'Wakaya Island', 'North Carolina ', 'Mexico / Caribbean Sea',
       'Antarctic Ocean', 'La Saline-les-Bains', 'Sea of Japan',
       'Tavenui', 'Ligurian Sea', "L'Etang-Sal�", 'Kowloon Peninsula',
       'Port Shelter', 'Laucala Island', 'Sainte-Marie',
       'Great Exuma Island', 'Sainte-Suzanne', 'Tuscany',
       'Tyrrhenian Sea', 'New Ireland', 'Valpariso Province',
       'Viscayan Sea', 'Manfredonia ', 'Tokyo Prefecture', 'Saint-Louis',
       'Mindoro', 'Between DR and Puerto Rico',
       'Between Honiara & Isabel Island', 'Florida Straits',
       'Gulf of Lyons', 'C�diz', 'Sicily', 'Andikira Fokithes',
       'Central Philippines', 'Rhode Island', 'Northwest Italy',
       'English Channel', 'North & South Carolina', 'Kumamoto Prefecture',
       'Biserta', 'Saint-Philippe', 'Chungnam', 'Eronogo Region',
       'Coquimbo', 'Pagasitikos Gulf', "St. Mary's Parish",
       'Romblon Province', 'Lamu Archipelago', 'Los Vilos',
       'Island of Kos', "Ha'api", 'Madeira Islands',
       'Ho Ha Wan Marine Park', 'Southern Thailand', 'Golfo de Venezia',
       'Ralik Archipelago', 'South China Sea 200 miles from Hong Kong',
       'Reggio Calabria Province', 'Mirs Bay ', 'Genoa Province',
       'Ganges-Brahmaputra delta', ' Split-Dalmatia County', 'Florida ',
       'Primorje-Gorski Kotar County ', 'Aulong Island',
       'Western Caroline Islands', 'Upolu Island', 'Antibes',
       'Illeginni Atoll', 'Istria County', 'Between Beira & Maputo',
       'Khuzestan Province', 'Inhambe Province', 'Namonuito Atoll',
       'Eastern Caroline Islands',
       'Western Caroline Islands (North Pacific Ocean)', 'Caribbean Sea',
       'St. Andrew Parish', '200 nm southeast of Manila', 'Limpopo River',
       'New Ireland Province', 'Zadar County', 'Basrah', 'Clarendon',
       'Moro Gulf', 'Johor', 'Magdalena Department', 'Mafia Island',
       'Gulf Province', 'Morobe Province', 'Lim�n Province',
       'Rombion Province', 'Veracruz', 'Brindisi Province',
       'Kagawa Prefecture', 'Liguria', 'Hamilton', 'Out Islands',
       'Mugla Province', 'Gibraltar', 'New Britain', 'Bay of Maputo',
       'Duke of York Islands', 'Taranto province', 'Northern Taiwan',
       'Admiralty Islands, Manus Province', 'North Sumatra',
       "250 miles southwest of O'ahu, Hawaii", 'West coast', 'East Sepik',
       'Near Bougainville (North Solomons)', 'East of the Gulf of Aqaba',
       'Bougainville (North Solomons)', 'Victoria ', 'Okayama Prefecture',
       'San Blas', 'Connecticut', 'Lau Group', 'Caribbean Coast',
       'Vita Levu', 'San Blas Islands', 'Puntarenas Province',
       'Lomaloma, Lau', 'Between Southampton & Canary Islands',
       'South Coast, East New Britain', ' Lau Province', 'Ysabel Island',
       'Santo Domingo', 'San Blas coast', 'Thessaly',
       'Lomaiviti  Island Group', 'Rodrigues', 'Manus Island',
       'Pinas Bay', 'Grand Turk Island', 'Off coast of West Africa',
       'Sharon', 'Antalya Province', 'Northern District',
       'New Ireland Province, Bismarck Archipelago', 'Cyclades',
       'Viti Levu', 'Off the Coromandel Peninsula, North Island',
       'Madang', 'Guadalcanal Province', '10�S, 142�E', 'Kwajalein Atoll',
       'East Flores', 'Guerrrero', 'Western Luzon Island',
       'Shefa Province', '165  miles from Bermuda',
       '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
       'Venice Province', 'Sandaun Province', 'Anatolia',
       'East New Britain Province', 'United Arab Emirates',
       'Wake Island (EnenKio)', '19S, 178?E', 'Pennsylvania',
       '9.35N 79.35W', 'Roncador Bank', 'Western District',
       'Enroute from Suez to Aden (Yemen)',
       '180 miles southeast of Okinawa', 'Eniwetok Atoll',
       'Cap-Vert Peninsula', 'Delagoa Bay', 'In the English Channel ',
       'Cook Strait', 'Unknown, treated at Wick, SCOTLAND',
       'Corregidor Island', 'Paget', '33N, 68W', 'Casamance',
       'Madang (WO)', 'Between Timor & Darwin, Australia',
       'Pacific coast', 'St. Georges ', 'Eastern  Province',
       'Northwest of Viti Levu', 'West New Britain Province',
       'Rigo subdistrict', 'Masbate', '400 miles southeast of Sri Lanka',
       'Lomaiviti Province', 'Kadavu', 'Leyte Island', 'Orissa',
       'Hokkaido Prefecture', 'North Palawan', 'Queaon', 'Istria',
       'PANAMA', 'In the Gulf Stream ', 'Mersin Province', 'Guyamas',
       'Between England & South Africa', 'Mindanao',
       ' Kikori River mouth', 'South Chungcheong Province',
       'Ahirkapi coast', 'Tutuila Island', 'Primorje-Gorski Kotar County',
       'Between Hawaii & Wake Island', 'Taipei Hsien',
       'Ibaraki Prefecture', 'South Pacific Ocean', 'Canal Zone',
       '1,000 miles east of Hawaii', 'Honiara', 'Yucatan Channel',
       'Havana Province', 'Karun River',
       'Abau Subdistrict,Central Province',
       'New Britain, Bismarck Archipelago', 'Estuaire Province',
       'Near Dakar, Cap Vert Peninsula',
       'Near the Andaman & Nicobar Islands', 'Mozambique Channel',
       'Tyrrenian Sea', 'Congreve Channel', 'St. Thomas Bay', 'Madeira',
       'Between Comores & Madagascar', 'Corfu Island',
       '1000 miles west of Hawaii', 'Izo Islands',
       ' Primorje-Gorski Kotar County', 'Open sea', 'Aden',
       'New Ireland, Bismarck Archipelago', '18S / 50E', 'Illinois',
       'Isles del Rosario', 'Wake Island', 'Isle of Man',
       'Nagasaki Prefecture', 'Liguaria', 'Slovenia', 'South shore ',
       'Buenos Aires Province', '330 to 350 miles east of Wake Island',
       'Nova Scotia', 'Gulf of Panama', 'Genoa  Province',
       'Abau Sub District, Central Province', 'Teramo', 'Red Sea State',
       'Curacao', 'Port Louis Province', 'Montserrado', 'Bay of Maputu',
       'Sofala Province', 'Salerno', 'Salerno Province', 'Taranto',
       'Naples Province', ' La Libertad', 'Sago Prefecture', 'Savona',
       'Southern Province', 'Jakarta Harbour', 'Singapore Harbor',
       'Calabria', 'Shatt-el-Arab River', 'Shatt-al-Arab River',
       'Tamaulipas', 'Calvados Archipelago', 'Shat-Al-Arab River',
       'Between Kwajalein Atoll & Johnston Island', 'Attica',
       'Adana Province', 'Bandar Ma�shur sea inlet', 'Saipan',
       'Carpathian Sea', 'Kwajalein', 'Dar-es-Salaam ',
       '"Head of the Gulf"', 'Ryukyu', ' North Carolina',
       'In transit between Tinian and Leyte', 'Northern Java', 'Tel Aviv',
       'Colon Province', '300 miles east of Luzon',
       'Bernardino Strait near Gulf of Leyte',
       'Off Samar Island in the Gulf of Leyte',
       'Lake Nicaragua (fresh water)', 'Pacific Ocean',
       'Near the Fiji Islands', '40 miles south of Naples ',
       'Northwest of Papua New Guinea', 'Between Hawaii and U.S.A.',
       'Off South American coast', 'Makora-Ulawa Province',
       '04.05N-13.23W', 'Midway Atoll',
       '300 miles east of St. Thomas (Virgin Islands)',
       'West of Ceylon (Sri  Lanka)', 'East Java', 'Camiguin Island',
       'Cay Sal Bank', '(Southwestern Pacific)', 'Panama City',
       'Off Libya', 'North of Pernambuco, Brazil', 'Off coast of Ecuador',
       'Trelawney Province', 'In Convoy OB 274', 'New Georgia',
       'Panama Bay (Pacific Ocean)', 'Bwagaoia', 'Western Papuan Gulf',
       'Torres Strait ', 'Carabobo', 'Ascension Bay', 'North China',
       'Lower San Juan River', 'Nicoya Peninsula', 'Basrah City',
       'West Bengal', 'Queensland ', 'Argyllshire', 'Arran', 'Argyll',
       'Fishing Grounds', 'Newfoundland', 'Isle of Wight',
       'Makira-Uluwa Province', 'Northern (Oro) Province', 'Herzliyah',
       'Elqui Province', 'Istanbul', 'St Michael Parish',
       'Barlavento Islands', 'Viti Levu Island', 'Bay of Fundy', 'Manila',
       'French Southern Territories', 'Niua ', 'Black River',
       'Phoenix Islands', 'Cienfuegos Province', 'Valencia',
       'Santiago Island', 'Near Puntarenas', 'Porto Seguro',
       'Salinas Bay', 'Golfo di Genova in the Ligurian Sea',
       'Sants-Montjic', 'South of the Equator ', 'Bay of Monaco',
       'Valencia ', 'Vancouver',
       '2 to 3 miles off Taboguilla Island, Pacific Ocean', 'Dorset',
       '150 miles offshore', 'Galica', 'Demerara County', 'Vera Cruz',
       ' Manila Bay', 'Lucy', 'East Yorkshire', 'Westmoreland Parish',
       'Cavite Province, Luzon', 'Cape Haitien', 'Leyte', 'Halifax',
       'Turtle Bogue', '60 miles north of San Domingo in the West Indies',
       'Colon', 'Off Ireland', 'Mediterranean Sea', 'Gran Canaria',
       'Apolima Strait', 'Essequibo', 'Lagos ', 'Trieste', '5aint-Denis',
       'Viti Levu group', 'Balearics', 'M�laga ', 'Chatham Islands',
       'Georges Bank', 'Zambesi River', 'Col�n Province',
       '30 nm from Singapore', 'Andalucia', 'Sfax',
       'South Atlantic Ocean', 'Galicia', 'Gulf of Suez', 'Java',
       'Tiburon Peninsula', 'Oaxaca', 'Harare Province',
       'Kh�nh H�a Province', 'Maluku Province', 'Suez Canal',
       ' Nusa Tenggara', 'Between Noumea & Sydney',
       'Villa Clara Province', 'Ancona Province', 'Quezon',
       'Rio San Juan', 'Southern Cyprus', 'Syracuse', 'Western Viscayas',
       'Mindoro Occidental', 'Negros ', 'Imperia Province', 'Muala',
       'East coast', 'Ratak ', 'Socotra Islands', 'Off Cape Haitien',
       'Moluccas', 'Bocas del Toro', 'Provence', 'Bay of Campeche',
       'Rangoon', 'Bay of Bengal', 'Bayelsa State', 'South Island?',
       'Norfolk Island', 'Brittany', 'Line Islands', 'Woodlark Islands',
       'Munxar Reef', 'Northern Peloponnese', 'Between Perth & Colombo',
       'Gujarat', 'Lukovo', 'Cort�s', 'Gulf of California',
       'Somewhere between Philadelphia and Hiogo, Japan', ' New Jersey',
       "C�te d'Azur  ", 'Maldonado coast', 'Western Banks',
       'Andaman Islands', 'Off the coast of West Africa',
       'Misamis Oriental', 'Strait of Messina', 'Hoogly River',
       'Cyclades archipelago', 'Mount Lebanon',
       'Between Hastings & Fairlight, Sussex', 'Veracruz ',
       'Gilbert Islands', 'Lomaiviti Provine',
       'Off the coast of South America', '22�N, 88�E',
       'Matanzas Province (north coast)', 'Alpes Maritime', 'Edinburgh',
       'Eastern Catalona', '300 miles east of Mauritius',
       'Foveaux Strait', 'Sumatra', 'Conakry Region', 'Corfu', 'Malaga',
       'Bonin Islands', 'Fernando Po Island', 'Mangaia Island',
       'New York ', 'Corfu ', 'Between Australia & USA', 'Tongatapu',
       'Norfolk', 'Island of St. Thomas', 'Cumberland', 'Sanma Province',
       "35�39 : 165�8'", 'CUBA', 'Western Area ', 'Paraiba', 'Cape Coast',
       'Rivers State', 'Maharashtra', 'St. Anne', 'St Helena',
       "C�te d'Azur ", 'Skagerrak arm of the North Sea',
       'Las Perlas archipelago', 'Bardestrand', 'Southwest coast',
       'Kerala', 'Nice & Marseilles', 'Magarita or Cubagua Islands',
       'Ionian Sea', 'Piraeus', 'Off Thessaly', 'Bocas del Toro Province',
       'Rocha ', 'Gulf of Tadjoura', 'Cyrenaica', 'Northern Province',
       'Los Roques  Islands', 'Dodecanese Islands', 'Malaita Province',
       'South Korea', 'Milne Bay  Province', 'Island of Volos',
       'Amirante Islands', 'Kadavu Island Group', 'Toamasina Province',
       'Riau Province', 'Bikini Atoll',
       'Between New Ireland & New Britain', 'Ba Ria-Vung Tau  Province',
       'Moala Island'], dtype=object)

In [43]:
db['area'].astype(str)

0              California
1                 Georgia
2                  Hawaii
3         New South Wales
4                  Colima
              ...
6297    Western Australia
6298    Western Australia
6299       North Carolina
6300              no data
6301     Eastern Province
Name: area, Length: 6302, dtype: object

This information is too dense, and it is not worth the effort in cleaning it, since we have a column with the country 181 unique values. Therefore, I'll leave this one as it is

# Location

In [44]:
len(db.location.unique())

4109

In [45]:
db.location.value_counts()

no data                                         540
New Smyrna Beach, Volusia County                163
Daytona Beach, Volusia County                    30
Ponce Inlet, Volusia County                      20
Melbourne Beach, Brevard County                  18
                                               ...
Savo Island                                       1
Hanalei Bay                                       1
Pacific Grove, Monterey Bay, Monterey County      1
Waimanu, Honoka'a, Hawai'i                        1
Allan-Pensacola Cay                               1
Name: location, Length: 4109, dtype: int64

This information is too dense, and it is not worth the effort in cleaning it, since we have a column with the country 181 unique values. Therefore, I'll leave this one as it is

# Activity

In [46]:
db.activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [47]:
db.activity.value_counts()

Surfing                                                                                                      971
Swimming                                                                                                     869
no data                                                                                                      544
Fishing                                                                                                      431
Spearfishing                                                                                                 333
                                                                                                            ...
Line fishing from Lakotoi, saw shoal of fish, dived overboard, had speared second fish & surfaced for air      1
Spearfishing, speared fish retreated to cave where shark grabbed his arm                                       1
Watching seals                                                                                                 1
Hardhat diving                                                                                                 1
Standing on sandbank                                                                                           1
Name: activity, Length: 1533, dtype: int64

In [48]:
db['activity'][db.activity.str.contains('Fishing')] = 'Fishing'
db['activity'][db.activity.str.contains('fishing')] = 'Fishing'
db['activity'][db.activity.str.contains('Swimming')] = 'Swimming'
db['activity'][db.activity.str.contains('swimming')] = 'Swimming'
db['activity'][db.activity.str.contains('swim')] = 'Swimming'
db['activity'][db.activity.str.contains('Bathing')] = 'Bathing'
db['activity'][db.activity.str.contains('bathing')] = 'Bathing'
db['activity'][db.activity.str.contains('Diving')] = 'Diving'
db['activity'][db.activity.str.contains('diving')] = 'Diving'
db['activity'][db.activity.str.contains('Air disaster')] = 'UKNOWN'
db['activity'][db.activity.str.contains('Collecting')] = 'Fishing'
db['activity'][db.activity.str.contains('waist-deep water')] = 'Swimming'
db['activity'][db.activity.str.contains('Walking')] = 'Swimming'
db['activity'][db.activity.str.contains('sandbank')] = 'Swimming'
db['activity'][db.activity.str.contains('Catching')] = 'Fishing'
db['activity'][db.activity.str.contains('Aphrodite')] = 'UKNOWN'
db['activity'][db.activity.str.contains('Wrangling')] = 'Fishing'
db['activity'][db.activity.str.contains('Aquarium')] = 'Aquarium'
db['activity'][db.activity.str.contains('sunk')] = 'Accident'
db['activity'][db.activity.str.contains('crash')] = 'Accident'
db['activity'][db.activity.str.contains('crashed')] = 'Accident'
db['activity'][db.activity.str.contains('wrecked')] = 'Accident'
db['activity'][db.activity.str.contains('aircraft')] = 'Accident'
db['activity'][db.activity.str.contains('fell')] = 'Accident'
db['activity'][db.activity.str.contains('Fell')] = 'Accident'
db['activity'][db.activity.str.contains('slipped')] = 'Accident'
db['activity'][db.activity.str.contains('sank')] = 'Accident'
db['activity'][db.activity.str.contains('sinking')] = 'Accident'
db['activity'][db.activity.str.contains('Spearing')] = 'Fishing'
db['activity'][db.activity.str.contains('cruiser')] = 'Accident'
db['activity'][db.activity.str.contains('Vessel')] = 'Accident'
db['activity'][db.activity.str.contains('Dived')] = 'Swimming'
db['activity'][db.activity.str.contains('capsized')] = 'Accident'
db['activity'][db.activity.str.contains('air mattress')] = 'Swimming'
db['activity'][db.activity.str.contains('picking')] = 'Fishing'
db['activity'][db.activity.str.contains('divers')] = 'Diving'
db['activity'][db.activity.str.contains('diver')] = 'Diving'
db['activity'][db.activity.str.contains('bathing')] = 'Swimming'
db['activity'][db.activity.str.contains('bath')] = 'Swimming'
db['activity'][db.activity.str.contains('Scurfing')] = 'Water Board Sports'
db['activity'][db.activity.str.contains('kite')] = 'Water Board Sports'
db['activity'][db.activity.str.contains('board')] = 'Water Board Sports'
db['activity'][db.activity.str.contains('Surfing')] = 'Water Board Sports'
db['activity'][db.activity.str.contains('Surf')] = 'Water Board Sports'
db['activity'][db.activity.str.contains('surf')] = 'Water Board Sports'
db['activity'][db.activity.str.contains('surfing')] = 'Water Board Sports'
db['activity'][db.activity.str.contains('Aircaft')] = 'Accident'
db['activity'][db.activity.str.contains('underwater')] = 'Swimming'
db['activity'][db.activity.str.contains('hooked')] = 'Fishing'
db['activity'][db.activity.str.contains('Hooked')] = 'Fishing'
db['activity'][db.activity.str.contains('hook')] = 'Fishing'
db['activity'][db.activity.str.contains('Hook')] = 'Fishing'
db['activity'][db.activity.str.contains('Pulling')] = 'Fishing'
db['activity'][db.activity.str.contains('boat')] = 'Accident'
db['activity'][db.activity.str.contains('boating')] = 'Accident'
db['activity'][db.activity.str.contains('Boat')] = 'Accident'
db['activity'][db.activity.str.contains('Boating')] = 'Accident'
db['activity'][db.activity.str.contains('Disappeared')] = 'UKNOWN'
db['activity'][db.activity.str.contains('catch')] = 'Fishing'
db['activity'][db.activity.str.contains('dolphines')] = 'Accident'
db['activity'][db.activity.str.contains('Oystering')] = 'Fishing'
db['activity'][db.activity.str.contains('oystering')] = 'Fishing'
db['activity'][db.activity.str.contains('Oyster')] = 'Fishing'
db['activity'][db.activity.str.contains('oyster')] = 'Fishing'
db['activity'][db.activity.str.contains('Hooking')] = 'Fishing'
db['activity'][db.activity.str.contains('hooking')] = 'Fishing'
db['activity'][db.activity.str.contains('netting')] = 'Fishing'
db['activity'][db.activity.str.contains('net')] = 'Fishing'
db['activity'][db.activity.str.contains('dolphins')] = 'Fishing'
db['activity'][db.activity.str.contains('dolphin')] = 'Fishing'
db['activity'][db.activity.str.contains('fish')] = 'Fishing'
db['activity'][db.activity.str.contains('Hunting')] = 'Fishing'
db['activity'][db.activity.str.contains('Hunt')] = 'Fishing'
db['activity'][db.activity.str.contains('hunting')] = 'Fishing'
db['activity'][db.activity.str.contains('hunt')] = 'Fishing'
db['activity'][db.activity.str.contains('seashells')] = 'Fishing'
db['activity'][db.activity.str.contains('canoe')] = 'Accident'
db['activity'][db.activity.str.contains('canoes')] = 'Accident'
db['activity'][db.activity.str.contains('in water')] = 'Swimming'
db['activity'][db.activity.str.contains('ship')] = 'Accident'
db['activity'][db.activity.str.contains('rescue')] = 'Accident'
db['activity'][db.activity.str.contains('ski')] = 'Water Board Sports'
db['activity'][db.activity.str.contains('Paddling')] = 'Water Board Sports'
db['activity'][db.activity.str.contains('Paddle')] = 'Water Board Sports'
db['activity'][db.activity.str.contains('submarine')] = 'Accident'
db['activity'][db.activity.str.contains('torpedoed')] = 'Accident'
db['activity'][db.activity.str.contains('Jumped')] = 'Accident'
db['activity'][db.activity.str.contains('Adrift')] = 'Accident'
db['activity'][db.activity.str.contains('planes')] = 'Accident'
db['activity'][db.activity.str.contains('Boarding')] = 'Water Board Sports'
db['activity'][db.activity.str.contains('shark')] = 'Accident'
db['activity'][db.activity.str.contains('Jumping')] = 'Accident'
db['activity'][db.activity.str.contains('Jump')] = 'Accident'
db['activity'][db.activity.str.contains('disaster')] = 'Accident'
db['activity'][db.activity.str.contains('in the water')] = 'Accident'
db['activity'][db.activity.str.contains('Harpooing')] = 'Fishing'
db['activity'][db.activity.str.contains('Harpoo')] = 'Fishing'
db['activity'][db.activity.str.contains('turtles')] = 'Fishing'
db['activity'][db.activity.str.contains('turtle')] = 'Fishing'
db['activity'][db.activity.str.contains('Snorkeling')] = 'Diving'
db['activity'][db.activity.str.contains('Snorkel')] = 'Diving'
db['activity'][db.activity.str.contains('snorkeling')] = 'Diving'
db['activity'][db.activity.str.contains('snorkel')] = 'Diving'
db['activity'][db.activity.str.contains('line')] = 'Fishing'
db['activity'][db.activity.str.contains('Playing')] = 'Accident'
db['activity'][db.activity.str.contains('Play')] = 'Accident'
db['activity'][db.activity.str.contains('playing')] = 'Accident'
db['activity'][db.activity.str.contains('play')] = 'Accident'
db['activity'][db.activity.str.contains('Rescuing')] = 'Accident'
db['activity'][db.activity.str.contains('Rescue')] = 'Accident'
db['activity'][db.activity.str.contains('rescuing')] = 'Accident'
db['activity'][db.activity.str.contains('rescue')] = 'Accident'
db['activity'][db.activity.str.contains('US')] = 'Accident'
db['activity'][db.activity.str.contains('Navy')] = 'Accident'
db['activity'][db.activity.str.contains('Air Force')] = 'Accident'

<ipython-input-48-783b0b2c846c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Fishing')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('fishing')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Swimming')] = 'Swimming'
<ipython-input-48-783b0b2c846c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('swimming')] = 'Swimming'
<ipython-input-48-783b0b2c846c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('swim')] = 'Swimming'
<ipython-input-48-783b0b2c846c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Bathing')] = 'Bathing'
<ipython-input-48-783b0b2c846c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('bathing')] = 'Bathing'
<ipython-input-48-783b0b2c846c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Diving')] = 'Diving'
<ipython-input-48-783b0b2c846c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('diving')] = 'Diving'
<ipython-input-48-783b0b2c846c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Air disaster')] = 'UKNOWN'
<ipython-input-48-783b0b2c846c>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Collecting')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('waist-deep water')] = 'Swimming'
<ipython-input-48-783b0b2c846c>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Walking')] = 'Swimming'
<ipython-input-48-783b0b2c846c>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('sandbank')] = 'Swimming'
<ipython-input-48-783b0b2c846c>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Catching')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Aphrodite')] = 'UKNOWN'
<ipython-input-48-783b0b2c846c>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Wrangling')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Aquarium')] = 'Aquarium'
<ipython-input-48-783b0b2c846c>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('sunk')] = 'Accident'
<ipython-input-48-783b0b2c846c>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('crash')] = 'Accident'
<ipython-input-48-783b0b2c846c>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('crashed')] = 'Accident'
<ipython-input-48-783b0b2c846c>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('wrecked')] = 'Accident'
<ipython-input-48-783b0b2c846c>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('aircraft')] = 'Accident'
<ipython-input-48-783b0b2c846c>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('fell')] = 'Accident'
<ipython-input-48-783b0b2c846c>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Fell')] = 'Accident'
<ipython-input-48-783b0b2c846c>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('slipped')] = 'Accident'
<ipython-input-48-783b0b2c846c>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('sank')] = 'Accident'
<ipython-input-48-783b0b2c846c>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('sinking')] = 'Accident'
<ipython-input-48-783b0b2c846c>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Spearing')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('cruiser')] = 'Accident'
<ipython-input-48-783b0b2c846c>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Vessel')] = 'Accident'
<ipython-input-48-783b0b2c846c>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Dived')] = 'Swimming'
<ipython-input-48-783b0b2c846c>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('capsized')] = 'Accident'
<ipython-input-48-783b0b2c846c>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('air mattress')] = 'Swimming'
<ipython-input-48-783b0b2c846c>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('picking')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('divers')] = 'Diving'
<ipython-input-48-783b0b2c846c>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('diver')] = 'Diving'

<ipython-input-48-783b0b2c846c>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('bathing')] = 'Swimming'
<ipython-input-48-783b0b2c846c>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('bath')] = 'Swimming'
<ipython-input-48-783b0b2c846c>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Scurfing')] = 'Water Board Sports'
<ipython-input-48-783b0b2c846c>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('kite')] = 'Water Board Sports'
<ipython-input-48-783b0b2c846c>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('board')] = 'Water Board Sports'
<ipython-input-48-783b0b2c846c>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Surfing')] = 'Water Board Sports'
<ipython-input-48-783b0b2c846c>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Surf')] = 'Water Board Sports'
<ipython-input-48-783b0b2c846c>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('surf')] = 'Water Board Sports'
<ipython-input-48-783b0b2c846c>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('surfing')] = 'Water Board Sports'
<ipython-input-48-783b0b2c846c>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Aircaft')] = 'Accident'
<ipython-input-48-783b0b2c846c>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('underwater')] = 'Swimming'
<ipython-input-48-783b0b2c846c>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('hooked')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Hooked')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('hook')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Hook')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Pulling')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('boat')] = 'Accident'
<ipython-input-48-783b0b2c846c>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('boating')] = 'Accident'
<ipython-input-48-783b0b2c846c>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Boat')] = 'Accident'
<ipython-input-48-783b0b2c846c>:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Boating')] = 'Accident'
<ipython-input-48-783b0b2c846c>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Disappeared')] = 'UKNOWN'
<ipython-input-48-783b0b2c846c>:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('catch')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('dolphines')] = 'Accident'
<ipython-input-48-783b0b2c846c>:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Oystering')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('oystering')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Oyster')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('oyster')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Hooking')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('hooking')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('netting')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('net')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('dolphins')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('dolphin')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('fish')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Hunting')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Hunt')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('hunting')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('hunt')] = 'Fishing'

<ipython-input-48-783b0b2c846c>:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('seashells')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('canoe')] = 'Accident'
<ipython-input-48-783b0b2c846c>:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('canoes')] = 'Accident'
<ipython-input-48-783b0b2c846c>:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('in water')] = 'Swimming'
<ipython-input-48-783b0b2c846c>:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('ship')] = 'Accident'
<ipython-input-48-783b0b2c846c>:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('rescue')] = 'Accident'
<ipython-input-48-783b0b2c846c>:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('ski')] = 'Water Board Sports'
<ipython-input-48-783b0b2c846c>:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Paddling')] = 'Water Board Sports'
<ipython-input-48-783b0b2c846c>:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Paddle')] = 'Water Board Sports'
<ipython-input-48-783b0b2c846c>:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('submarine')] = 'Accident'
<ipython-input-48-783b0b2c846c>:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('torpedoed')] = 'Accident'
<ipython-input-48-783b0b2c846c>:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Jumped')] = 'Accident'
<ipython-input-48-783b0b2c846c>:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Adrift')] = 'Accident'
<ipython-input-48-783b0b2c846c>:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('planes')] = 'Accident'
<ipython-input-48-783b0b2c846c>:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Boarding')] = 'Water Board Sports'
<ipython-input-48-783b0b2c846c>:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('shark')] = 'Accident'
<ipython-input-48-783b0b2c846c>:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Jumping')] = 'Accident'
<ipython-input-48-783b0b2c846c>:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Jump')] = 'Accident'
<ipython-input-48-783b0b2c846c>:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('disaster')] = 'Accident'
<ipython-input-48-783b0b2c846c>:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('in the water')] = 'Accident'
<ipython-input-48-783b0b2c846c>:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Harpooing')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:97: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Harpoo')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('turtles')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:99: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('turtle')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Snorkeling')] = 'Diving'
<ipython-input-48-783b0b2c846c>:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Snorkel')] = 'Diving'
<ipython-input-48-783b0b2c846c>:102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('snorkeling')] = 'Diving'
<ipython-input-48-783b0b2c846c>:103: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('snorkel')] = 'Diving'
<ipython-input-48-783b0b2c846c>:104: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('line')] = 'Fishing'
<ipython-input-48-783b0b2c846c>:105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Playing')] = 'Accident'
<ipython-input-48-783b0b2c846c>:106: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Play')] = 'Accident'
<ipython-input-48-783b0b2c846c>:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('playing')] = 'Accident'
<ipython-input-48-783b0b2c846c>:108: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('play')] = 'Accident'
<ipython-input-48-783b0b2c846c>:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Rescuing')] = 'Accident'

<ipython-input-48-783b0b2c846c>:110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Rescue')] = 'Accident'
<ipython-input-48-783b0b2c846c>:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('rescuing')] = 'Accident'
<ipython-input-48-783b0b2c846c>:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('rescue')] = 'Accident'
<ipython-input-48-783b0b2c846c>:113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('US')] = 'Accident'
<ipython-input-48-783b0b2c846c>:114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Navy')] = 'Accident'
<ipython-input-48-783b0b2c846c>:115: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['activity'][db.activity.str.contains('Air Force')] = 'Accident'

I could proceed with this, but I think we've got enough:

In [49]:
db.activity.describe()

count                   6302
unique                   231
top       Water Board Sports
freq                    1390
Name: activity, dtype: object

# Name

In [50]:
db['name'].astype(str)

0                 Julie Wolfe
1             Adyson�McNeely
2                 John Denges
3                        male
4              Gustavo Ramos
                ...
6297                     male
6298                    Ahmun
6299    Coast Guard personnel
6300          Jules Patterson
6301                     male
Name: name, Length: 6302, dtype: object

In [51]:
db.name.head(20)
db['sex'] = db.sex.apply(lambda x: 'UNKNOWN' if x == 'N' else x )

<ipython-input-51-ed0f497ca5dc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['sex'] = db.sex.apply(lambda x: 'UNKNOWN' if x == 'N' else x )

I find the name male and female a bit weird... I'm assuming it's an error, so let's fix it!

In [52]:
db['name'][db.name.str.contains('male')] = 'UKNOWN'
db['name'][db.name.str.contains('female')] = 'UKNOWN'

<ipython-input-52-3649a880a252>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['name'][db.name.str.contains('male')] = 'UKNOWN'
c:\users\ffrei\appdata\local\programs\python\python39\lib\site-packages\pandas\core\series.py:992: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
<ipython-input-52-3649a880a252>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['name'][db.name.str.contains('female')] = 'UKNOWN'

# Sex

In [53]:
db.sex.unique()

array(['F', 'M', 'no data', 'M ', 'lli', 'UNKNOWN', '.'], dtype=object)

In [54]:
db['sex'].astype(str)

0       F
1       F
2       M
3       M
4       M
       ..
6297    M
6298    M
6299    M
6300    M
6301    M
Name: sex, Length: 6302, dtype: object

This one, let us simply put F for Female and M for male. Any value different from this shall be replaced with UKNOWN. Gender wars aside, I'm a simple guy and my goal is to make our statistical analysis easier. Surely, sex is a string.

In [55]:
db['sex'].astype(str)
db['sex'] = db['sex'].str.rstrip() #remove right space from  'M '

<ipython-input-55-732401ca0b2b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['sex'] = db['sex'].str.rstrip() #remove right space from  'M '

In [56]:
db.sex.unique()

array(['F', 'M', 'no data', 'lli', 'UNKNOWN', '.'], dtype=object)

In [57]:
db['sex'] = db.sex.apply(lambda x: 'UNKNOWN' if x == 'lli' else x )
db['sex'] = db.sex.apply(lambda x: 'UNKNOWN' if x == 'N' else x )
db['sex'] = db.sex.apply(lambda x: 'UNKNOWN' if x == '.' else x )

<ipython-input-57-b5d304a8ae95>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['sex'] = db.sex.apply(lambda x: 'UNKNOWN' if x == 'lli' else x )
<ipython-input-57-b5d304a8ae95>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['sex'] = db.sex.apply(lambda x: 'UNKNOWN' if x == 'N' else x )
<ipython-input-57-b5d304a8ae95>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['sex'] = db.sex.apply(lambda x: 'UNKNOWN' if x == '.' else x )

In [58]:
db.sex.unique()

array(['F', 'M', 'no data', 'UNKNOWN'], dtype=object)

# Age

In [59]:
db.age.unique()

array(['57', '11', '48', 'no data', '18', '52', '15', '12', '32', '10',
       '21', '34', '30', '60', '33', '29', '54', '41', '37', '56', '19',
       '25', '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20',
       '24', '26', '49', '22', '7', '31', '17', '40', '13', '42', '3',
       '8', '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '� ', ' ', '30 or 36', '6�', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2�', '13 or 14'], dtype=object)

I tried my very best to calculate the average value for the characters that have & symbol and to choose the maximum of numbers with 'or' condition but I couldn't (even doing one by one but that's tedious). Therefore, I'll assume the error which is not that high.

In [60]:
#db['age'] = db['age'].str.replace('7      &    31','14')
#db['age'] = db['age'].str.replace('  ? & 27', '27')
#db['age'] = db['age'].str.replace('18 & 20','19')
#db['age'] = db['age'].str.replace('28 & 26','27')
#db['age'] = db['age'].str.replace('12 & 13', '13')
#db['age'] = db['age'].str.replace('46 & 34','40')
#db['age'] = db['age'].str.replace('7 & 8', '8')
#db['age'] = db['age'].str.replace('31 & 33', '32')
#db['age'] = db['age'].str.replace('36 & 23', '30')
#db['age'] = db['age'].str.replace('23 & 30', '27')
#db['age'] = db['age'].str.replace('36 & 26', '31')
#db['age'] = db['age'].str.replace('8 & 10', '9')
#db['age'] = db['age'].str.replace('30 & 36', '33')
#db['age'] = db['age'].str.replace('21 & ', '21')
#db['age'] = db['age'].str.replace('32 & 30', '31')
#db['age'] = db['age'].str.replace('16 to 18', '17')

Speaking of error, let's compute: how many symbols do I have in my db['age'] and what that represents?

In [61]:
weirds =[]
symbols =[]
for n in db['age']:
    try:
        n = int(n)
    except:
        weirds.append(n)
        
for w in weirds:
    if (w == 'no data') | (w == 'UKNOWN'):
        pass
    else:
        symbols.append(w)

print('This absolutely NOT signifcant:', round((len(symbols)/len(db['age']))*100,3), '%. I am assuming the error and I will replace these by UKNOWN')

This absolutely NOT signifcant: 1.619 %. I am assuming the error and I will replace these by UKNOWN

The age is an integer number, for sure. Even though I'm a flexible guy, I need this column to be a number for statistical purposes. Therefore, I can't accept anything different from this. First step, let's replace with UKNOWN some weird "ages"
and I'll I find very hard to believe an 18 month-old human baby has been a victim of a shark attack (google it and I'll find baby shark all over, but no shark attack FORTUNATELY). Let's perform some changes

In [62]:
db['age'][db.age.str.contains('�')] = 'UKNOWN'
db['age'][db.age.str.contains('age')] = 'UKNOWN'
db['age'][db.age.str.contains('young')] = 'UKNOWN'
db['age'][db.age.str.contains('X')] = 'UKNOWN'
db['age'][db.age.str.contains('een')] = 'UKNOWN'
db['age'][db.age.str.contains('month')] = 'UKNOWN'
db['age'][db.age.str.contains('erly')] = 'UKNOWN'
db['age'][db.age.str.contains('adult')] = 'UKNOWN'
db['age'][db.age.str.contains('M')] = 'UKNOWN'
db['age'][db.age.str.contains('F')] = 'UKNOWN'
db['age'][db.age.str.contains('&')] = 'UKNOWN'
db['age'][db.age.str.contains('or')] = 'UKNOWN'
db['age'][db.age.str.contains('to')] = 'UKNOWN'
db['age'] = db['age'].str.replace('to','&')
db['age'] = db['age'].str.rstrip("'s'")
db['age'] = db['age'].str.lstrip(">")
db['age'] = db['age'].str.strip('?')
db['age'] = db['age'].str.lstrip("Both ")
db['age'] = db['age'].str.lstrip("mid-")
db['age'] = db['age'].str.lstrip("Ca. ")
db['age'] = db['age'].str.lstrip("?")
db['age'] = db['age'].str.lstrip('&   ')
db['age'] = db['age'].str.lstrip('      &')
for i,k in enumerate(db['age']):
    if k == '':
        db['age'][i] = 'UKNOWN'

<ipython-input-62-b04485ff6a7d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('�')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('age')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('young')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('X')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('een')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('month')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('erly')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('adult')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('M')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('F')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('&')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('or')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][db.age.str.contains('to')] = 'UKNOWN'
<ipython-input-62-b04485ff6a7d>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'] = db['age'].str.replace('to','&')
<ipython-input-62-b04485ff6a7d>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'] = db['age'].str.rstrip("'s'")
<ipython-input-62-b04485ff6a7d>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'] = db['age'].str.lstrip(">")
<ipython-input-62-b04485ff6a7d>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'] = db['age'].str.strip('?')
<ipython-input-62-b04485ff6a7d>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'] = db['age'].str.lstrip("Both ")
<ipython-input-62-b04485ff6a7d>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'] = db['age'].str.lstrip("mid-")
<ipython-input-62-b04485ff6a7d>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'] = db['age'].str.lstrip("Ca. ")
<ipython-input-62-b04485ff6a7d>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'] = db['age'].str.lstrip("?")
<ipython-input-62-b04485ff6a7d>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'] = db['age'].str.lstrip('&   ')
<ipython-input-62-b04485ff6a7d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'] = db['age'].str.lstrip('      &')
<ipython-input-62-b04485ff6a7d>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['age'][i] = 'UKNOWN'
c:\users\ffrei\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

# Injury

In [63]:
db.injury.unique()

array(['No injury to occupant, outrigger canoe and paddle damaged',
       'Minor injury to left thigh',
       'Injury to left lower leg from surfboard skeg', ...,
       'FATAL, leg stripped of flesh  ',
       'FATAL, knocked overboard by tail of shark & carried off by shark ',
       'FATAL. "Shark bit him in half, carrying away the lower extremities" '],
      dtype=object)

In [64]:
db['injury'].astype(str)

0       No injury to occupant, outrigger canoe and pad...
1                              Minor injury to left thigh
2            Injury to left lower leg from surfboard skeg
3                               Minor injury to lower leg
4       Lacerations to leg & hand shark PROVOKED INCIDENT
                              ...
6297                                                FATAL
6298                                                FATAL
6299                                                FATAL
6300                                                FATAL
6301    FATAL. "Shark bit him in half, carrying away t...
Name: injury, Length: 6302, dtype: object

I have no statistical curiosity for this information. Besides, I believe that's (almost) an infinity of possibles of how one can be attacked by a shark. Let's leave it as it is

# Fatal

In [65]:
db.fatal.unique()

array(['N', 'Y', 'no data', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

I rather work with 0 and 1 for binary. With this being said, let us make no as 0 and yes as 1. Anything different from this, UNKNOWN

In [66]:
db['fatal'] = db.fatal.apply(lambda x: 0 if x == 'N' else x )
db['fatal'] = db.fatal.apply(lambda x: 0 if x == ' N' else x )
db['fatal'] = db.fatal.apply(lambda x: 0 if x == 'N ' else x )
db['fatal'] = db.fatal.apply(lambda x: 1 if x == 'Y' else x )
db['fatal'] = db.fatal.apply(lambda x: 1 if x == 'y' else x )
db['fatal'] = db.fatal.apply(lambda x: 'UNKNOWN' if x == 'M' else x )
db['fatal'] = db.fatal.apply(lambda x: 'UNKNOWN' if x == '2017' else x )

<ipython-input-66-0332cf0bdb30>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['fatal'] = db.fatal.apply(lambda x: 0 if x == 'N' else x )
<ipython-input-66-0332cf0bdb30>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['fatal'] = db.fatal.apply(lambda x: 0 if x == ' N' else x )
<ipython-input-66-0332cf0bdb30>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['fatal'] = db.fatal.apply(lambda x: 0 if x == 'N ' else x )
<ipython-input-66-0332cf0bdb30>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['fatal'] = db.fatal.apply(lambda x: 1 if x == 'Y' else x )
<ipython-input-66-0332cf0bdb30>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['fatal'] = db.fatal.apply(lambda x: 1 if x == 'y' else x )
<ipython-input-66-0332cf0bdb30>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['fatal'] = db.fatal.apply(lambda x: 'UNKNOWN' if x == 'M' else x )
<ipython-input-66-0332cf0bdb30>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['fatal'] = db.fatal.apply(lambda x: 'UNKNOWN' if x == '2017' else x )

# time

In [67]:
db.time.unique()

array(['18h00', '14h00  -15h00', '07h45', 'no data', 'Late afternoon',
       '17h00', '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30',
       '10h40', '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40',
       '08h00', '17h35', '15h30', '07h30', '19h00, Dusk', 'Night',
       '16h00', '15h01', '12h00', '13h45', '23h30', '09h00', '14h30',
       '18h30', '12h30', '16h30', '18h45', '06h00', '10h00', '10h44',
       '13h19', 'Midday', '13h30', '10h45', '11h20', '11h45', '19h30',
       '08h30', '15h45', 'Shortly before 12h00', '17h34', '17h10',
       '11h15', '08h50', '17h45', '13h00', '10h20', '13h20', '02h00',
       '09h50', '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15',
       '15h40', '19h05', '1300', '14h30 / 15h30', '22h00', '16h20',
       '14h34', '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', '� ', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

We've got some cleaning to do, but not that much. I've realized since the begging of data cleaning that there was record which information was in the wrong place (misplaced to the next column). As it is only one record, and since we've come this far, I'm assuming the error that it could generate which is (most definitely) not significant (blame me!)

In [68]:
db['time'][db.time.str.contains('�')] = 'UKNOWN'
db['time'][db.time.str.contains('FATAL')] = 'UKNOWN'
db['time'][db.time.str.contains('X')] = 'UKNOWN'
db['time'][db.time.str.contains('  ')] = 'UKNOWN'
db['time'][db.time.str.contains('--')] = 'UKNOWN'
db['time'][db.time.str.contains('08hoo')] = '08h00'
db['time'][db.time.str.contains('30 minutes after 1992.07.08.a')] = 'UKNOWN'
db['time'][db.time.str.contains('Midnight')] = '00h00'
db['time'][db.time.str.contains('Midday')] = '12h00'

<ipython-input-68-5eae07b62b33>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['time'][db.time.str.contains('�')] = 'UKNOWN'
<ipython-input-68-5eae07b62b33>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['time'][db.time.str.contains('FATAL')] = 'UKNOWN'
<ipython-input-68-5eae07b62b33>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['time'][db.time.str.contains('X')] = 'UKNOWN'
<ipython-input-68-5eae07b62b33>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['time'][db.time.str.contains('  ')] = 'UKNOWN'
<ipython-input-68-5eae07b62b33>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['time'][db.time.str.contains('--')] = 'UKNOWN'
<ipython-input-68-5eae07b62b33>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['time'][db.time.str.contains('08hoo')] = '08h00'
<ipython-input-68-5eae07b62b33>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['time'][db.time.str.contains('30 minutes after 1992.07.08.a')] = 'UKNOWN'
<ipython-input-68-5eae07b62b33>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['time'][db.time.str.contains('Midnight')] = '00h00'
<ipython-input-68-5eae07b62b33>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['time'][db.time.str.contains('Midday')] = '12h00'

# species

In [69]:
db.species.unique()

array(['White shark', 'no data', '2 m shark', ..., "12' tiger shark",
       'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      dtype=object)

In [70]:
len(db.species.unique())

1550

In [71]:
db['species'].head(20)

0                         White shark
1                             no data
2                             no data
3                           2 m shark
4                     Tiger shark, 3m
5                             no data
6                         Tiger shark
7                     Lemon shark, 3'
8                      Bull shark, 6'
9                             no data
10                    Grey reef shark
11                            no data
12                            no data
13                   Invalid incident
14              Tawny nurse shark, 2m
15                            no data
16    Shark involvement not confirmed
17                            no data
18                        Tiger shark
19                            no data
Name: species, dtype: object

It appears that this column contains several informations regarding the specie, namely, its length and how the attack happened. I'm leaving this column as it is, but I'll create a new one (or fill one of the existing with no data) with some information. I'll use the column unnamed_22 for this purpose and rename it afterwards!

In [72]:
db['unnamed_22'][db.species.str.contains('white')] = "White shark"
db['unnamed_22'][db.species.str.contains('White')] = "White shark"
db['unnamed_22'][db.species.str.contains('Bull')] = "Bull shark"
db['unnamed_22'][db.species.str.contains('bull')] = "Bull shark"
db['unnamed_22'][db.species.str.contains('Tiger')] = "Tiger shark"
db['unnamed_22'][db.species.str.contains('tiger')] = "Tiger shark"
db['unnamed_22'][db.species.str.contains('reef')] = "Reef shark"
db['unnamed_22'][db.species.str.contains('Reef')] = "Reef shark"
db['unnamed_22'][db.species.str.contains('Tawny')] = "Tawny nurse shark"
db['unnamed_22'][db.species.str.contains('tawny')] = "Tawny nurse shark"
db['unnamed_22'][db.species.str.contains('nurse')] = "Nurse shark"
db['unnamed_22'][db.species.str.contains('Nurse')] = "Nurse shark"
db['unnamed_22'][db.species.str.contains('Lemon')] = "Lemon shark"
db['unnamed_22'][db.species.str.contains('lemon')] = "Lemon shark"
db['unnamed_22'][db.species.str.contains('Mako')] = "Mako shark"
db['unnamed_22'][db.species.str.contains('mako')] = "Mako shark"
db['unnamed_22'][db.species.str.contains('Dusky')] = "Dusky shark"
db['unnamed_22'][db.species.str.contains('dusky')] = "Dusky shark"
db['unnamed_22'][db.species.str.contains('Wobbegong')] = "Wobbegong shark"
db['unnamed_22'][db.species.str.contains('wobbegong')] = "Wobbegong shark"
db['unnamed_22'][db.species.str.contains('Hammerhead')] = "Hammerhead shark"
db['unnamed_22'][db.species.str.contains('hammerhead')] = "Hammerhead shark"
db['unnamed_22'][db.species.str.contains('Blacktip')] = "Blacktip shark"
db['unnamed_22'][db.species.str.contains('blacktip')] = "Blacktip shark"
db['unnamed_22'][db.species.str.contains('Bronze')] = "Bronze shark"
db['unnamed_22'][db.species.str.contains('bronze')] = "Bronze shark"
db['unnamed_22'][db.species.str.contains('Blue')] = "Blue shark"
db['unnamed_22'][db.species.str.contains('blue')] = "Blue shark"
db['unnamed_22'][db.species.str.contains('Porbeagle')] = "Porbeagle shark"
db['unnamed_22'][db.species.str.contains('porbeagle')] = "Porbeagle shark"
db['unnamed_22'][db.species.str.contains('Angel')] = "Angel shark"
db['unnamed_22'][db.species.str.contains('angel')] = "Angel shark"
db['unnamed_22'][db.species.str.contains('whiptail')] = "Whiptail shark"
db['unnamed_22'][db.species.str.contains('grey')] = "Grey shark"
db['unnamed_22'][db.species.str.contains('Grey')] = "Grey shark"
db['unnamed_22'][db.species.str.contains('Gray')] = "Grey shark"
db['unnamed_22'][db.species.str.contains('gray')] = "Grey shark"
db['unnamed_22'][db.species.str.contains('Sand')] = "Sand shark"
db['unnamed_22'][db.species.str.contains('sand')] = "Sand shark"
db['unnamed_22'][db.species.str.contains('Raggedtooth')] = "Raggedtooth shark"
db['unnamed_22'][db.species.str.contains('raggedtooth')] = "Raggedtooth shark"
db['unnamed_22'][db.species.str.contains('spinner')] = "Spinner shark"
db['unnamed_22'][db.species.str.contains('Spinner')] = "Spinner shark"
db['unnamed_22'][db.species.str.contains('Blacktip')] = "Blacktip shark"
db['unnamed_22'][db.species.str.contains('blacktip')] = "Blacktip shark"

<ipython-input-72-57855fa51dfe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('white')] = "White shark"
<ipython-input-72-57855fa51dfe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('White')] = "White shark"
<ipython-input-72-57855fa51dfe>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Bull')] = "Bull shark"
<ipython-input-72-57855fa51dfe>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('bull')] = "Bull shark"
<ipython-input-72-57855fa51dfe>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Tiger')] = "Tiger shark"
<ipython-input-72-57855fa51dfe>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('tiger')] = "Tiger shark"
<ipython-input-72-57855fa51dfe>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('reef')] = "Reef shark"
<ipython-input-72-57855fa51dfe>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Reef')] = "Reef shark"
<ipython-input-72-57855fa51dfe>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Tawny')] = "Tawny nurse shark"
<ipython-input-72-57855fa51dfe>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('tawny')] = "Tawny nurse shark"
<ipython-input-72-57855fa51dfe>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('nurse')] = "Nurse shark"
<ipython-input-72-57855fa51dfe>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Nurse')] = "Nurse shark"
<ipython-input-72-57855fa51dfe>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Lemon')] = "Lemon shark"
<ipython-input-72-57855fa51dfe>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('lemon')] = "Lemon shark"
<ipython-input-72-57855fa51dfe>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Mako')] = "Mako shark"
<ipython-input-72-57855fa51dfe>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('mako')] = "Mako shark"
<ipython-input-72-57855fa51dfe>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Dusky')] = "Dusky shark"
<ipython-input-72-57855fa51dfe>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('dusky')] = "Dusky shark"
<ipython-input-72-57855fa51dfe>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Wobbegong')] = "Wobbegong shark"
<ipython-input-72-57855fa51dfe>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('wobbegong')] = "Wobbegong shark"
<ipython-input-72-57855fa51dfe>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Hammerhead')] = "Hammerhead shark"
<ipython-input-72-57855fa51dfe>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('hammerhead')] = "Hammerhead shark"
<ipython-input-72-57855fa51dfe>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Blacktip')] = "Blacktip shark"
<ipython-input-72-57855fa51dfe>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('blacktip')] = "Blacktip shark"
<ipython-input-72-57855fa51dfe>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Bronze')] = "Bronze shark"
<ipython-input-72-57855fa51dfe>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('bronze')] = "Bronze shark"
<ipython-input-72-57855fa51dfe>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Blue')] = "Blue shark"
<ipython-input-72-57855fa51dfe>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('blue')] = "Blue shark"
<ipython-input-72-57855fa51dfe>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Porbeagle')] = "Porbeagle shark"
<ipython-input-72-57855fa51dfe>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('porbeagle')] = "Porbeagle shark"
<ipython-input-72-57855fa51dfe>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Angel')] = "Angel shark"
<ipython-input-72-57855fa51dfe>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('angel')] = "Angel shark"
<ipython-input-72-57855fa51dfe>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('whiptail')] = "Whiptail shark"

<ipython-input-72-57855fa51dfe>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('grey')] = "Grey shark"
<ipython-input-72-57855fa51dfe>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Grey')] = "Grey shark"
<ipython-input-72-57855fa51dfe>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Gray')] = "Grey shark"
<ipython-input-72-57855fa51dfe>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('gray')] = "Grey shark"
<ipython-input-72-57855fa51dfe>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Sand')] = "Sand shark"
<ipython-input-72-57855fa51dfe>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('sand')] = "Sand shark"
<ipython-input-72-57855fa51dfe>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Raggedtooth')] = "Raggedtooth shark"
<ipython-input-72-57855fa51dfe>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('raggedtooth')] = "Raggedtooth shark"
<ipython-input-72-57855fa51dfe>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('spinner')] = "Spinner shark"
<ipython-input-72-57855fa51dfe>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Spinner')] = "Spinner shark"
<ipython-input-72-57855fa51dfe>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('Blacktip')] = "Blacktip shark"
<ipython-input-72-57855fa51dfe>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['unnamed_22'][db.species.str.contains('blacktip')] = "Blacktip shark"

In [73]:
aux = db[['species','unnamed_22']]
aux.head(20)

                            species   unnamed_22
0                       White shark  White shark
1                           no data      no data
2                           no data      no data
3                         2 m shark      no data
4                   Tiger shark, 3m  Tiger shark
5                           no data      no data
6                       Tiger shark  Tiger shark
7                   Lemon shark, 3'  Lemon shark
8                    Bull shark, 6'   Bull shark
9                           no data      no data
10                  Grey reef shark   Grey shark
11                          no data      no data
12                          no data      no data
13                 Invalid incident      no data
14            Tawny nurse shark, 2m  Nurse shark
15                          no data      no data
16  Shark involvement not confirmed      no data
17                          no data      no data
18                      Tiger shark  Tiger shark
19                          no data      no data

I think we have a got set here... Not that we are simplifying the species of the shark (I'm sure a grey shark is different from a grey reef shark). That's why we are leaving this column, so one can deepdive regarding the shark itself! Surely, we should change the name of this column from unnamed_22 to shark:

In [74]:
db.rename(columns={'unnamed_22':'shark'}, inplace=True)

c:\users\ffrei\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [75]:
backup = db.copy()

In [76]:
db.rename(columns={'case_number.1':'case_number1'}, inplace=True)
db.rename(columns={'case_number.2':'case_number2'}, inplace=True)

In [77]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6302 non-null   object
 1   date                    6302 non-null   object
 2   year                    6302 non-null   object
 3   type                    6302 non-null   object
 4   country                 6302 non-null   object
 5   area                    6302 non-null   object
 6   location                6302 non-null   object
 7   activity                6302 non-null   object
 8   name                    6302 non-null   object
 9   sex                     6302 non-null   object
 10  age                     6302 non-null   object
 11  injury                  6302 non-null   object
 12  fatal                   6302 non-null   object
 13  time                    6302 non-null   object
 14  species                 6302 non-null   object
 15  investigator_or_source  6302 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6302 non-null   object
 18  href                    6302 non-null   object
 19  case_number1            6302 non-null   object
 20  case_number2            6302 non-null   object
 21  original_order          6302 non-null   float64
 22  shark                   6302 non-null   object
 23  unnamed_23              6302 non-null   object
dtypes: float64(1), object(23)
memory usage: 1.3+ MB

# Remaining columns

I have no interest in clean data from the following columns:

- investigator_or_source
- pdf
- href_formula
- href
- case_number.1
- case_number.2 
- original_order
- unnamed_23

Why? Because time is scarse, and I rather invest my time in other analysis, namely statistical ones, with relevant information, namely, the shark that attacked, the country where it happened, the ages, etc... Nonetheless, the above data still exists in our data frame, so one can consult it anytime!

# Export to SQL

In order to export our data base to SQL, we should do as follows:

In [78]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ffrei\appdata\local\programs\python\python39\lib\site-packages (8.0.24)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\ffrei\appdata\local\programs\python\python39\lib\site-packages (from mysql-connector-python) (3.16.0)
Requirement already satisfied: six>=1.9 in c:\users\ffrei\appdata\local\programs\python\python39\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

WARNING: You are using pip version 21.0.1; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\users\ffrei\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [79]:
import mysql.connector as conn

In [80]:
create_db = conn.connect(host='localhost', user='root', passwd='******') #DON'T RUN THIS CODE, AS THE PASSWORD IS MASKED
cursor = create_db.cursor()
cursor.execute('drop database if exists Shark_Attack')  # erase/drop Shark_Attack database if it already exists
cursor.execute('create database Shark_Attack')   # Create databse Shark_Attack

Let's check:

In [81]:
res = ''
cursor.execute('show databases')
for x in cursor:
    print(x)
 #We did it!

('apps',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('publications',)
('sakila',)
('shark_attack',)
('sys',)
('world',)

Let's connect to a specific database, in this case, our shark_attack:

In [82]:
database=conn.connect(host='localhost', user='root', passwd='******', database='shark_attack')

cursor=database.cursor()

Now create a table:

In [83]:
cursor.execute('drop table if exists attacks') # erase/drop attacks table if it already exists

In [84]:
attacks='''
        create table attacks(
            
            id int,
            case_number varchar(255),
            date varchar(255),
            year varchar(255),
            type varchar(255),
            country varchar(250),
            area varchar(255),
            location varchar(255),
            activity varchar(255),
            name varchar(255),
            sex varchar(255),
            age varchar(255),
            injury varchar(255),
            fatal varchar(255),
            time varchar(255),
            species varchar(255),
            investigator_or_source varchar(255),
            pdf varchar(255),
            href_formula varchar(255),
            href varchar(255),
            case_number1 varchar(255),
            case_number2 varchar(255),
            original_order varchar(255),
            shark varchar(255),
            unnamed_23 varchar(255)
        );
'''

cursor.execute(attacks)  #WE SHOULD REMOVE . from the name of our columns. Otherwise, SQL will raise a syntax error!
                        #The error below was because I ran the code again, please ignore it!

In [85]:
cursor.execute('show tables')
for x in cursor:
    print(x)

('attacks',)

# Insert data

In [87]:
# insertion query

for i in range(len(db)):
    
    
    insert_query='insert into {} ({}) values {};'\
                    .format('attacks', ','.join(db.columns), tuple(db.iloc[i].values))
    
    cursor.execute(insert_query)
    
database.commit()

In [88]:
insert_query

'insert into attacks (case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order,shark,unnamed_23) values (\'ND.0001\', \'1845-1853\', \'UKNOWN\', \'Unprovoked\', \'SRI LANKA\', \'Eastern Province\', \'Below the English fort, Trincomalee\', \'Swimming\', \'UKNOWN\', \'M\', \'15\', \'FATAL. "Shark bit him in half, carrying away the lower extremities" \', 1, \'no data\', \'no data\', \'S.W. Baker\', \'ND-0001-Ceylon.pdf\', \'http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf\', \'http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf\', \'ND.0001\', \'ND.0001\', 2.0, \'no data\', \'no data\');'

In [89]:
# check

cursor.execute('select * from attacks limit 1')
for x in cursor:
    print(x)

(None, '2018.06.25', '25-Jun-2018', '2018', 'Boat', 'USA', 'California', 'Oceanside, San Diego County', 'Water Board Sports', 'Julie Wolfe', 'F', '57', 'No injury to occupant, outrigger canoe and paddle damaged', '0', '18h00', 'White shark', 'R. Collier, GSAF', '2018.06.25-Wolfe.pdf', 'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf', 'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf', '2018.06.25', '2018.06.25', '6303.0', 'White shark', 'no data')

WE DID IT!!! We had some troubles whilst inserting the data, mostly syntax errors and lenght of data (solved by putting 255 characters). I hope this exercise will shed some light when it comes to Data Cleaning and inserting Data to SQL. See you next time!

Francisco Freire