In [1]:
import pandas as pd
import numpy as np
import regex as re
import datetime

In [2]:
#readfile
shark= pd.read_csv("attacks.csv")

In [3]:
#check column names
shark.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
shark=shark.rename(columns = {"Case Number.1":"casenumberdup","Case Number.1":"casedupl","Case Number.2":"casedup2","Unnamed: 22":"unnamedf","Unnamed: 23":"unnameds"})

In [5]:
#formating columnnames
shark.columns=shark.columns.str.lstrip()
shark.columns=shark.columns.str.rstrip()

In [6]:
#formating columnnames
shark.columns=shark.columns.str.lower()
shark.columns=shark.columns.str.replace(" ","")
shark.columns=shark.columns.str.split(":").str[0]
shark.columns=shark.columns.str.split("(").str[0]

In [7]:
shark.columns

Index(['casenumber', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigatororsource', 'pdf', 'hrefformula', 'href', 'casedupl',
       'casedup2', 'originalorder', 'unnamedf', 'unnameds'],
      dtype='object')

In [8]:
#delete %100 duplicated rows
shark=shark.drop_duplicates() 
shark.shape

(6312, 24)

In [9]:
#delete all rows that don’ have at least a certain number of non-NaN values:
shark=shark.dropna(thresh=8)

In [10]:
#check file szie
shark.shape

(6302, 24)

In [11]:
#sum of NAN for each column
shark.isnull().sum()

casenumber                 1
date                       0
year                       2
type                       4
country                   50
area                     455
location                 540
activity                 544
name                     210
sex                      565
age                     2831
injury                    28
fatal                    539
time                    3354
species                 2838
investigatororsource      17
pdf                        0
hrefformula                1
href                       0
casedupl                   0
casedup2                   0
originalorder              0
unnamedf                6301
unnameds                6300
dtype: int64

In [12]:
#delete old registers, taking in to account that has only 2 empty register.
shark = shark.drop(shark[shark["year"] < 1970].index)
shark.shape

(3417, 24)

In [13]:
shark.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3417 entries, 0 to 6079
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            3417 non-null   object
 1   date                  3417 non-null   object
 2   year                  3415 non-null   float64
 3   type                  3415 non-null   object
 4   country               3409 non-null   object
 5   area                  3272 non-null   object
 6   location              3238 non-null   object
 7   activity              3208 non-null   object
 8   name                  3345 non-null   object
 9   sex                   3180 non-null   object
 10  age                   2434 non-null   object
 11  injury                3409 non-null   object
 12  fatal                 3160 non-null   object
 13  time                  2135 non-null   object
 14  species               2223 non-null   object
 15  investigatororsource  3407 non-null   object
 16  pdf                   3417 non-null   object
 17  hrefformula           3416 non-null   object
 18  href                  3417 non-null   object
 19  casedupl              3417 non-null   object
 20  casedup2              3417 non-null   object
 21  originalorder         3417 non-null   float64
 22  unnamedf              1 non-null      object
 23  unnameds              0 non-null      object
dtypes: float64(2), object(22)
memory usage: 667.4+ KB

In [14]:
                                  #CASENUM

In [15]:
#casenum analysis,casenum should be uniquesoduplicated should need to be found/checked and deleted if necesarry.
shark[shark.duplicated("casenumber")]

,casenumber,date,year,type,country,area,location,activity,name,sex,...,species,investigatororsource,pdf,hrefformula,href,casedupl,casedup2,originalorder,unnamedf,unnameds
523,2014.08.02,02-Aug-2014,2014.0,Unprovoked,USA,Florida,"Table Beach, Brevard County",Boogie boarding,Christian Sanhueza,M,...,NaN,"Florida Today, 8/2/2014",2014.08.02-Sanhueza.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.02,2014.08.02,5780.0,NaN,NaN
616,2013.10.05,10-Oct-2013,2013.0,Unprovoked,USA,Florida,"Destin, Okaloosa County",Wading,Zachary Tyke Standridge,M,...,Small bull shark,"Monroe County Advocate, 10/9/2013",2013.10.05-Standridge.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.10.05,2013.10.05,5687.0,NaN,NaN
747,2012.09.02.b,02-Sep-2012,2012.0,Provoked,USA,Hawaii,"Spreckelsville, Maui",Spearfishing,M. Malabon,NaN,...,"Tiger shark, 10' to 12'",HawaiiNow.com,2012.09.02.c-Malabon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.09.02.b,2012.09.02.b,5556.0,NaN,NaN
1064,2009.12.18,18-Dec-2009,2009.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,"North Beach, Durban",Surfing,Lance Morris,M,...,No shark involvement,"M. Addison, C. Eckstander, GSAF",2009.12.18.b-Morris-barracuda bite.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2009.12.18,2009.12.18,5239.0,NaN,NaN
1437,2006.09.02,02-Sep-2006,2006.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Noordhoek,Surfing,Steven Harcourt-Wood,M,...,"White shark, 3.5m","Cape Times, 9/3/2006",2006.09.02.a-Harcourt-Wood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.09.02,2006.09.02,4866.0,NaN,NaN
1600,2005.04.06,06-Apr-2005,2005.0,Invalid,HONDURAS,Bay Islands,Utila,SCUBA Diving,female,F,...,Shark involvement not confirmed,"J. Engel, SRI & S. Fox, Deep Blue",2005.04.06.b-Utila.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.04.06,2005.04.06,4703.0,NaN,NaN
2635,1990.05.10,10-May-1990,1990.0,Unprovoked,AUSTRALIA,Queensland,Outer Barrier Reef near Port Douglas,"Snorkeling, possibly holding a fish",German male,M,...,2 m hammerhead,"Courier-Mail, 5/11/1990, p.1",1990.05.10.a-German-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1990.05.10,1990.05.10,3668.0,NaN,NaN
2938,1983.06.15,15-Jun-1983,1983.0,Invalid,ITALY,Northwest Italy,Riomaggiore (Ligura),Scuba diving,Roberto Piaviali,M,...,Questionable incident,MEDSAF,1983.06.15-Piaviali.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.06.15,1983.06.15,3365.0,NaN,NaN
3063,1980.07.00,Early Jul-1980,1980.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Tom Durrance,M,...,NaN,"Daytona Beach Morning Journal, 7/9/1980",1980.07.00-Durrance.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1980.07.00,1980.07.00,3240.0,NaN,NaN

In [16]:
shark.loc[shark["casenumber"] == "2014.08.02"]

,casenumber,date,year,type,country,area,location,activity,name,sex,...,species,investigatororsource,pdf,hrefformula,href,casedupl,casedup2,originalorder,unnamedf,unnameds
522,2014.08.02,02-Aug-2014,2014.0,Unprovoked,USA,Florida,"South of Cocoa Beach, Brevard County",Surfing,male,M,...,NaN,"Florida Today, 8/8/2014",2014.08.08-CocoaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.02,2014.08.02,5781.0,NaN,NaN
523,2014.08.02,02-Aug-2014,2014.0,Unprovoked,USA,Florida,"Table Beach, Brevard County",Boogie boarding,Christian Sanhueza,M,...,NaN,"Florida Today, 8/2/2014",2014.08.02-Sanhueza.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.02,2014.08.02,5780.0,NaN,NaN

In [17]:
#deleting duplicated cases
shark= shark.drop([523,616,747,1064,1437,1600,2635,2938,3063])

In [18]:
#checking if no cuplicated
shark.loc[shark["casenumber"] == "2014.08.02"]

,casenumber,date,year,type,country,area,location,activity,name,sex,...,species,investigatororsource,pdf,hrefformula,href,casedupl,casedup2,originalorder,unnamedf,unnameds
522,2014.08.02,02-Aug-2014,2014.0,Unprovoked,USA,Florida,"South of Cocoa Beach, Brevard County",Surfing,male,M,...,NaN,"Florida Today, 8/8/2014",2014.08.08-CocoaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.02,2014.08.02,5781.0,NaN,NaN

In [19]:
shark.shape

(3408, 24)

In [20]:
                                   #YEAR

In [21]:
#yearcolumn cleaning, changing format from object to year
shark["year"]=pd.to_datetime(shark["year"], format="%Y")
shark["year"] =shark["year"].dt.year

In [22]:
#deciding what value assign to nullyear
yearnull=shark[shark['year'].isnull()]
yearnull

,casenumber,date,year,type,country,area,location,activity,name,sex,...,species,investigatororsource,pdf,hrefformula,href,casedupl,casedup2,originalorder,unnamedf,unnameds
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,...,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0,NaN,NaN
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,...,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0,NaN,NaN

In [23]:
#fillinf two date missing values
shark.at[187, "year"]=2017
shark.at[6079, "year"]=1836

In [24]:
shark.year.isnull().sum()
#porque no se ha guardado el valor?

0

In [25]:
#delete old registers, taking in to account that has only 2 empty register.
shark = shark.drop(shark[shark["year"] < 1950].index)
shark.shape

(3407, 24)

In [26]:
shark.year.dtype

dtype('float64')

In [27]:
                                        #DATE

In [28]:
#datecolumn cleaning
shark.date=shark.date.str.lstrip()
shark.date=shark.date.str.rstrip()
shark.date=shark.date.str.replace("Reported","")
shark.date=shark.date.str.replace("Reported ","")
shark.date=shark.date.str.replace("Early ","")
shark.date=shark.date.str.replace("Fishing","")
shark.date=shark.date.str.replace("F","")
shark.date=shark.date.str.replace("Summer of","") 
shark.date=shark.date.str.replace("Late ","")
shark.date=shark.date.str.replace("Fall","")
shark.date=shark.date.str.replace("Winter","")
shark.date=shark.date.str.replace("Summer","") 
shark.date=shark.date.str.replace("Early Summer","")
shark.date=shark.date.str.replace("Ca.","")
shark.date=shark.date.str.replace("all","")
shark.date=shark.date.str.replace("-eb-","-feb-")
shark.date=shark.date.str.replace("-f-feb-","-feb-")
shark.date=shark.date.str.replace("-f-","-feb-")
shark.date=shark.date.str.replace("0eb","-feb-")
shark.date=shark.date.str.lstrip("-")
shark.date=shark.date.str.replace("--","-")
shark.date=shark.date.str.split(".").str[0]

<ipython-input-28-5cb8c76d3560>:15: FutureWarning: The default value of regex will change from True to False in a future version.
  shark.date=shark.date.str.replace("Ca.","")

In [29]:
#changing date from string to date format and return True if its not possible
print(pd.to_datetime(shark['date'], errors='coerce').isnull().value_counts())

False    3385
True       22
Name: date, dtype: int64

In [30]:
#checking errors
#print(pd.to_datetime(shark['date'], errors='raise'))

In [31]:
shark["date"]=shark["date"].fillna("0")

In [32]:
#change to date and ignore the errors
shark["date"]=pd.to_datetime(shark["date"], errors="coerce")

In [33]:
#change date to month
shark['date'] =(shark['date'].dt.month)

In [34]:
shark["date"]=shark["date"].fillna("0")

In [35]:
shark.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,...,species,investigatororsource,pdf,hrefformula,href,casedupl,casedup2,originalorder,unnamedf,unnameds
0,2018.06.25,6.0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,6.0,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,6.0,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,6.0,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,6.0,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [36]:
                                #TYPE

In [37]:
#type column cleaning
shark.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [38]:
#type column cleaning
shark["type"] = shark["type"].fillna(0)
shark["type"]=shark["type"].map({"Boating":"Boating","Unprovoked":"Unprovoked","Invalid":"Questionable", "Provoked":"Provoked", "Questionable":"Questionable",
                                 "Sea Disaster":"Sea",0:"Questionable" ,None:"Questionable","Boat":"Boating","Boatomg":"Boating"})

In [39]:
shark.type.unique()

array(['Boating', 'Unprovoked', 'Questionable', 'Provoked', 'Sea'],
      dtype=object)

In [40]:
                        #COUNTRY

In [41]:
#cleaning country column 
shark["country"] = shark["country"].fillna("Unknown")
shark.country=shark.country.str.replace("  ", "")
shark.country=shark.country.str.replace(" ", "")
shark.country=shark.country.str.replace("?", "")

<ipython-input-41-ea839afce53e>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  shark.country=shark.country.str.replace("?", "")

In [42]:
shark.country.value_counts()

USA            1595
AUSTRALIA       570
SOUTHAFRICA     361
BRAZIL          103
BAHAMAS          81
               ...
ST.MAARTIN        1
YEMEN             1
BANGLADESH        1
DIEGOGARCIA       1
MALTA             1
Name: country, Length: 118, dtype: int64

In [43]:
shark["country"]=shark["country"].str.lower()

In [44]:
asia = ["egypt/israel","palestinianterritories","unitedarabemirates(uae)","indianocean","saudiarabia","persiangulf","afghanistan","armenia","azerbaijan","bahrain","bangladesh","bhutan","brunei","cambodia","china","cyprus","georgia","hongkong","india","indonesia","iran","iraq","israel","japan","jordan","kazakhstan","kuwait","kyrgyzstan","laos","lebanon","malaysia","maldives","mongolia","burma","myanmar" ,"nepal","northkorea","oman","pakistan","palestine","philippines","qatar","russia","singapore","southkorea","srilanka","syria","taiwan","tajikistan","thailand","timorleste","turkey","turkmenistan","unitedarabemirates","uzbekistan","vietnam","yemen"]
europe = ["british overseas territory","england","united kingdom","Albania","andorra","armenia","austria","azerbaijan","belarus","belgium","bosnia and Herzegovina","bulgaria","croatia","cyprus","czechia","denmark","estonia","finland","france","georgia","germany","greece","hungary","iceland","ireland","italy","kazakhstan","kosovo","latvia","liechtenstein","lithuania","luxembourg","malta","moldova","monaco","montenegro","netherlands","north Macedonia","norway","poland","portugal","romania","russia","scotland","sanmartin","stmaartin","stmartin","serbia","slovakia","slovenia","spain","sweden","switzerland","turkey","ukraine","unitedkingdom"]
africa = ["tunisia","algeria","angola","benin","botswana","burkinafaso","burundi","capeverde","cameroon","centralafricanrepublicchad","comoros","democratic republic of the congo","republic of the congo","djibouti","egypt","equatorial guinea","ethiopia","gabon","gambia","ghana","guinea","guinea-Bissau","kenya","ivory coast","lenya","lesotho","liberia","libya","madagascar","malawi","mali","mauritania","mauritius","morocco","mozambique","namibia","niger","nigeria","rwanda","saotomeandprincipe","senegal","seychelles","sierraleone","somalia","southafrica","southsudan","sudan","tanzania","togo","yunisia","uganda","zambia","zimbabwe"]
northamerica=["guam","antiguaandbarbuda","bahamas","barbados","bermuda","belize","canada","costarica","cuba","dominica","dominicanrepublic","elsalvador","grenada","guatemala","haiti","honduras","jamaica","mexico","nicaragua","panama","puertorico","saintkittsandnevis","saintlucia","saintvincentandthegrenadines","trinidadandtobago","Unitedstatesofamerica","usa"]
southamercia=["columbia","brazil","brasil","argentina" ,"bolivia","chile", "colombia","ecuador","falkland island","french guiana","guyana" ,"paraguay","peru","south georgiaandthesouthsandwichislands","suriname","uruguay","venezuela"]
oceania =["newguinea","australia","fiji","newzealand", "federatedstatesofmicronesia","kiribati","marshallislands", "nauru","palau","papuanewguinea","samoa","solomonislands" ,"tonga","tuvalu" ,"vanuatu","newcaledonia"]
atlanticocean=["andaman","nevis","aruba","martinique","britishwestindies","netherlandsantilles","trinidad&tobago","sthelena,britishoverseasterritory","caymanislands","northernarabiansea","azores","caribbeansea","turks&caicos","atlanticocean","northatlanticocean","midatlanticocean","southatlanticocean","britishvirginislands","britishisles"]
pacificocean=["admiraltyislands","westernsamoa","admiraltyislands ","johnstonisland","americansamoa","southpacificocean","pacificocean","northpacificocean","frenchpolynesia","newbritain","micronesia","okinawa"]
indianocean=["andaman","mayotte","southchinasea","reunion","redsea/indianocean","indianocean","maldiveislands"]

def continent(x):
    if x in asia:
        return "asia"
    elif x in europe:
        return "europe"
    elif x in africa:
        return "africa"
    elif x in northamerica:
        return "northamerica"
    elif x in southamercia:
        return "southamerica"
    elif x in oceania:
        return "oceania"
    elif x in atlanticocean:
        return "atlanticocean"
    elif x in pacificocean:
        return "pacificocean"
    elif x in indianocean:
        return "indianocean"
    else:
        return "unknown"

In [45]:
#changing country values to continent to have less outputs
shark["country"] =shark["country"].map(continent)

In [46]:
shark.country.value_counts()

northamerica     1759
oceania           746
africa            450
asia              127
southamerica      127
europe             75
indianocean        57
pacificocean       27
atlanticocean      25
unknown            14
Name: country, dtype: int64

In [47]:
#area and location activity name cleaning
shark["area"] = shark["area"].fillna("Unknown")
shark["location"] = shark["location"].fillna("Unknown")
shark["activity"] = shark["activity"].fillna("Notreported")
shark["name"] = shark["name"].fillna("Unknown")

In [48]:
                              #SEX

In [49]:
shark.sex.unique()

array(['F', 'M', nan, 'M ', 'lli'], dtype=object)

In [50]:
# Cleaning the gender Column by replacing the missing & wrong values
shark["sex"] = shark["sex"].fillna(0)
shark["sex"]=shark["sex"].map({"F":"Female","M":"Male","M ":"Male","lli":"Unknown","N":"Unknown",".":"Unknown", None:"Unknown", 0:"Unknown"})
shark.sex.unique()

array(['Female', 'Male', 'Unknown'], dtype=object)

In [51]:
                              #AGE

In [52]:
shark["age"] = shark["age"].apply(str)

In [53]:
shark.age=shark.age.str.lstrip()
shark.age=shark.age.str.replace("s","")
shark.age=shark.age.str.replace("?","")
shark.age=shark.age.str.replace(">","") 
shark.age=shark.age.str.split("or").str[0]
shark.age=shark.age.str.split("&").str[0]
shark.age=shark.age.str.split(",").str[0]
shark.age=shark.age.str.split("to").str[0]
shark.age=shark.age.str.rstrip()

<ipython-input-53-7cf0913ceda1>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  shark.age=shark.age.str.replace("?","")

In [54]:
#shark["age"] = shark["age"].fillna("0")

In [55]:
#function to change age to agerange
infant =["infant","infant","1","2"]
kid =["3","4","5","6","7","8","9","10"]
teenager =["Teen","Teens","teen","11","12","13","14","15","16","17","18"]
young =["adult","19","20","21","22","23","24","25","26","27","28","29","30"]
middleage=["31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55"]
senior=["Elderly","56","57","58","59","60","61","62","63","64","65","66","67","68","69","70","71","72","73","74","75","76","77","78","80","81","82","83","84","85","86","87"]
def agerange(x):
    if x in infant:
        return "infant"
    elif x in kid:
        return "kid"
    elif x in teenager:
        return "teenager"
    elif x in young:
        return "young"
    elif x in middleage:
        return "middleage"
    elif x in senior:
        return "senior" 
    else:
        return "unknown"

In [56]:
#shark["age"] =shark["age"].map(agerange)
shark['age'] = shark['age'].map(agerange)

In [57]:
#age cleaning 
shark.age.value_counts()

unknown      986
young        824
middleage    766
teenager     567
senior       135
kid          129
Name: age, dtype: int64

In [58]:
shark.age.unique()

array(['senior', 'teenager', 'middleage', 'unknown', 'kid', 'young'],
      dtype=object)

In [59]:
                        #FATAL

In [60]:
shark.fatal.unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017'], dtype=object)

In [61]:
shark["fatal"] = shark["fatal"].fillna("0")
shark["fatal"]=shark["fatal"].map({"N":"No","Y":"Yes","M ":"No","UNKNOWN":"Unknown","2017":"Unknown"," N'":"No", "N" :"No","y":"Yes"})
shark["fatal"] = shark["fatal"].fillna("Unknown")
shark.fatal.unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

In [62]:
                                  #timecolumn

In [63]:
shark["time"] = shark["time"].apply(str)

In [64]:
shark.time.value_counts()

nan              1275
Afternoon         122
11h00              92
Morning            87
15h00              80
                 ...
09h30 / 10h00       1
10h28               1
07h56               1
17h01               1
1300                1
Name: time, Length: 309, dtype: int64

In [65]:
shark.time=shark.time.str.lstrip()
shark.time=shark.time.str.replace("<", "")
shark.time=shark.time.str.replace("Early ", "")
shark.time=shark.time.str.replace("Late ", "")
shark.time=shark.time.str.replace(">", "")
shark.time=shark.time.str.split("h").str[0]

In [66]:
shark.time.value_counts()

nan                    1275
11                      201
14                      179
15                      175
16                      170
                       ...
2                         1
Midnig                    1
Morning                   1
9                         1
Just before sundown       1
Name: time, Length: 75, dtype: int64

In [67]:
#change time to part of the day
morning =["1","2","3","4","5","6"",7","8","9","10","11","09","Morning","08","07","06","Daytime","02","03","04","05"]
afternoon=["12","13","14","15","16","17","Afternoon"]
evening=["18","19","20","evening","Evening","Sunset"]
night=["21","22","23","24","Nig"]
def partofday(hour):
    if hour in morning:
        return "morning"
    elif hour in afternoon:
        return "afternoon"
    elif hour in evening:
        return "evening"
    elif hour in night:
        return "night"
    else:
        return "Unknown"

In [68]:
shark["time"] =shark["time"].map(partofday)

In [69]:
shark.time.value_counts()

Unknown      1382
afternoon    1084
morning       713
evening       190
night          38
Name: time, dtype: int64

In [70]:
shark.time.unique()

array(['evening', 'afternoon', 'morning', 'Unknown', 'night'],
      dtype=object)

In [71]:
                                    #SPECIES

In [72]:
shark.species.value_counts()

White shark                                                                                        121
Shark involvement not confirmed                                                                     68
Shark involvement prior to death was not confirmed                                                  56
Tiger shark                                                                                         49
Invalid                                                                                             43
                                                                                                  ...
1' to 4' shark                                                                                       1
Blue shark, 7'                                                                                       1
White shark, 5' to 6' juvenile                                                                       1
White shark, 3 m [10'], species identity confirmed by witnesses & tooth pattern in leg & board       1
Raggedtooth shark, 1.5 m                                                                             1
Name: species, Length: 1049, dtype: int64

In [73]:
shark["species"] = shark["species"].apply(str)

In [74]:
shark.species=shark.species.str.lstrip()
shark.species=shark.species.str.lower()
shark.species=shark.species.str.split(",").str[0]
shark.species=shark.species.str.split("[").str[0]
shark.species=shark.species.str.split("?").str[0]
shark.species=shark.species.str.split("to").str[0]
shark.species=shark.species.str.split("/").str[0]
shark.species=shark.species.str.replace("possibly a ","")
shark.species=shark.species.str.rstrip()

In [75]:
#finding rows containing white shark and replace whole string with white shark
shark.loc[shark["species"].str.contains("white", case=False), "species"] = "white shark"

In [76]:
shark.loc[shark["species"].str.contains("involvement", case=False), "species"] = "shark involvement not confirmed"

In [77]:
shark.loc[shark["species"].str.contains("tiger", case=False), "species"] = "tiger shark"

In [78]:
shark.loc[shark["species"].str.contains("small ", case=False), "species"] = "small shark"

In [79]:
shark.loc[shark["species"].str.contains("bull", case=False), "species"] = "bull shark"

In [80]:
shark.loc[shark["species"].str.contains("1", case=False), "species"] = "small shark"

In [81]:
shark.loc[shark["species"].str.contains("2", case=False), "species"] = "small shark"

In [82]:
shark.loc[shark["species"].str.contains("3.5", case=False), "species"] = "bull shark"

In [83]:
shark.loc[shark["species"].str.contains("blue", case=False), "species"] = "blue shark"

In [84]:
shark.loc[shark["species"].str.contains("7", case=False), "species"] = "white shark"

In [85]:
shark.loc[shark["species"].str.contains("3", case=False), "species"] = "lemon shark"

In [86]:
shark.loc[shark["species"].str.contains("4", case=False), "species"] = "nurse shark"

In [87]:
shark.loc[shark["species"].str.contains("6", case=False), "species"] = "thresher shark"

In [88]:
shark.loc[shark["species"].str.contains("nurse", case=False), "species"] = "nurse shark"

In [89]:
shark.loc[shark["species"].str.contains("dusky", case=False), "species"] = "dusky shark"

In [90]:
shark.loc[shark["species"].str.contains("black", case=False), "species"] = "blacktip shark"

In [91]:
shark.loc[shark["species"].str.contains("5.5", case=False), "species"] = "megamouth shark"

In [92]:
shark.loc[shark["species"].str.contains("5", case=False), "species"] = "megamouth shark"

In [93]:
shark.loc[shark["species"].str.contains("slamon", case=False), "species"] = "slamon shark"

In [94]:
shark.loc[shark["species"].str.contains("questionable", case=False), "species"] = "shark involvement not confirmed"

In [95]:
shark["species"]=shark["species"].fillna("Unknown")

In [96]:
shark.species.value_counts()

nan                                1191
small shark                         402
white shark                         369
shark involvement not confirmed     197
tiger shark                         194
                                   ...
death may have been due               1
believed                              1
lemon shark pup                       1
miami                                 1
"dog shark"                           1
Name: species, Length: 103, dtype: int64

In [97]:
shark.species.unique()

array(['white shark', 'nan', 'small shark', 'tiger shark', 'lemon shark',
       'bull shark', 'grey reef shark', 'invalid incident', 'nurse shark',
       'shark involvement not confirmed', 'thresher shark',
       'wobbegong shark', 'blacktip shark', 'wobbegong',
       'injury believed caused by an eel', 'galapagos shark',
       'blue shark', 'cookiecutter shark', 'spinner shark', "8' shark",
       'death may have been due', 'megamouth shark', 'porbeagle',
       'no shark invovlement', 'seven-gill shark', "9' shark",
       'no shark invovlement - it ws a publicity stunt',
       'lemon shark pup', 'caribbean reef shark',
       'broadnose sevengill shark', 'invalid', 'reef shark',
       'angel shark', 'dogfish shark', 'said', 'mako shark',
       'bronze whaler', 'silky shark', 'bronze whaler shark',
       'hammerhead sp.', 'juvenile shark', 'hammerhead shark',
       'hammerhead shark.', 'thought', 'ragged', 'goblin shark', "8'",
       'sandbar shark', 'cow shark', 'reported', 'salmon shark',
       'porbeagle shark', 'salmon shark suspected', 'port jackson shark',
       'sevengill shark', 'zambesi shark', 'spurdog', '80 kg shark',
       'dusky shark', 'starry smoothhound shark', 'basking shark',
       'reported by media as shark attack',
       'not a shark attack; it was a hoax', 'gray reef shark',
       'sand shark', '', 'lesser spotted dogfish',
       'caribbean reef sharks', 'on 8', 'unknown', '0.9 m',
       'longfin mako shark', 'shortfin mako shark',
       'unidentified species', "8' great hammerhead shark",
       '"sand shark"', 'a �small� shark', 'species unidentified', '�',
       'c. leucas', 'unidentified', 'miami', 'though', 'soupfin shark',
       '"juvenile shark"', '"a young shark"', '"reef shark"',
       '"sand" shark', 'leopard shark', 'unidentified shark',
       '"shark had a very large girth"', 'zambezi shark (', 'doubtful',
       'believed', 'reported as a shark attack', 'mako shark (',
       '"sandshark"', '"gray shark"', 'c. maculpinnis or c. limbatus',
       'whale shark', 'carpet shark', 'copper shark', '"dog shark"'],
      dtype=object)

In [98]:
shark.shape

(3407, 24)

In [99]:
#filling unrelevant columns
shark["injury"] = shark["injury"].fillna("Unknown")
shark["pdf"] = shark["pdf"].fillna("NotApply")
shark["hrefformula"] = shark["hrefformula"].fillna("0")
shark["href"] = shark["href"].fillna("NotApply")
shark["originalorder"] = shark["originalorder"].fillna("NotApply")
shark["investigatororsource"] = shark["investigatororsource"].fillna("investigatororsource")
shark["unnamedf"] = shark["unnamedf"].fillna("0")
shark["unnameds"] = shark["unnameds"].fillna("0")

In [100]:
shark.shape

(3407, 24)

In [101]:
shark.isnull().sum()

casenumber              0
date                    0
year                    0
type                    0
country                 0
area                    0
location                0
activity                0
name                    0
sex                     0
age                     0
injury                  0
fatal                   0
time                    0
species                 0
investigatororsource    0
pdf                     0
hrefformula             0
href                    0
casedupl                0
casedup2                0
originalorder           0
unnamedf                0
unnameds                0
dtype: int64

In [102]:
sharkcleaned=shark.to_csv("sharkcleaned.csv")

In [103]:
shark.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3407 entries, 0 to 3888
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            3407 non-null   object
 1   date                  3407 non-null   object
 2   year                  3407 non-null   float64
 3   type                  3407 non-null   object
 4   country               3407 non-null   object
 5   area                  3407 non-null   object
 6   location              3407 non-null   object
 7   activity              3407 non-null   object
 8   name                  3407 non-null   object
 9   sex                   3407 non-null   object
 10  age                   3407 non-null   object
 11  injury                3407 non-null   object
 12  fatal                 3407 non-null   object
 13  time                  3407 non-null   object
 14  species               3407 non-null   object
 15  investigatororsource  3407 non-null   object
 16  pdf                   3407 non-null   object
 17  hrefformula           3407 non-null   object
 18  href                  3407 non-null   object
 19  casedupl              3407 non-null   object
 20  casedup2              3407 non-null   object
 21  originalorder         3407 non-null   float64
 22  unnamedf              3407 non-null   object
 23  unnameds              3407 non-null   object
dtypes: float64(2), object(22)
memory usage: 665.4+ KB

In [104]:
#renaming columns seems some are SQL reserved names
shark.columns

Index(['casenumber', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigatororsource', 'pdf', 'hrefformula', 'href', 'casedupl',
       'casedup2', 'originalorder', 'unnamedf', 'unnameds'],
      dtype='object')

In [105]:
shark=shark.rename(columns={"date":"months","year":"years", "name":"persons","time":"timerange","area":"areas"})

In [106]:
shark.columns

Index(['casenumber', 'months', 'years', 'type', 'country', 'areas', 'location',
       'activity', 'persons', 'sex', 'age', 'injury', 'fatal', 'timerange',
       'species', 'investigatororsource', 'pdf', 'hrefformula', 'href',
       'casedupl', 'casedup2', 'originalorder', 'unnamedf', 'unnameds'],
      dtype='object')

In [107]:
shark.to_csv("sharkcl.csv")