# Load csv

In [1]:
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_columns', None)

import warnings
warnings.simplefilter('ignore')

In [2]:
df=pd.read_csv('../Proyecto_TL/attacks.csv', encoding='ISO8859-1')

df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

#  Columns and rows

In [3]:
dim_original=df.shape

dim_original

(25723, 24)

In [4]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
df.dtypes #check the data type

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [6]:
df['Date'].duplicated().sum()

20289

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [8]:
df.duplicated().sum()

19411

In [9]:
df=df.drop_duplicates() #Deleting duplicate data

In [10]:
df.shape, dim_original

((6312, 24), (25723, 24))

In [11]:
df_limpia = df.dropna (how='all') #Removing NaN values

df_limpia

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df2 = df_limpia.dropna (thresh = 3) #Rliminating the rows with a limit of 3 Nan

df2

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [13]:
df2.columns = df2.columns.str.strip() #Removing spaces

In [14]:
nuevas_col = [c.lower() for c in df2.columns] #Quitting Capitalization

nuevas_col

['case number',
 'date',
 'year',
 'type',
 'country',
 'area',
 'location',
 'activity',
 'name',
 'sex',
 'age',
 'injury',
 'fatal (y/n)',
 'time',
 'species',
 'investigator or source',
 'pdf',
 'href formula',
 'href',
 'case number.1',
 'case number.2',
 'original order',
 'unnamed: 22',
 'unnamed: 23']

In [15]:
df2 = df2.rename(columns={k:v for k,v in zip(df2.columns, nuevas_col)})

# Cleaning of columns

## Column Year

In [16]:
df2.year = df2.year.fillna(0)

In [17]:
df2['year'].dtype

dtype('float64')

In [18]:
df2.year = df2.year.astype(dtype="int64")

In [19]:
df2

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

## Column original order

In [20]:
df2['original order'] = df2['original order'].fillna(0)

In [21]:
df2['original order'] = df2['original order'].astype(dtype="int64")

In [22]:
df2

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
6298,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
6299,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
6300,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
6301,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [23]:
df2.to_csv("df2.csv", index=False)

In [24]:
df2.columns

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal (y/n)', 'time',
       'species', 'investigator or source', 'pdf', 'href formula', 'href',
       'case number.1', 'case number.2', 'original order', 'unnamed: 22',
       'unnamed: 23'],
      dtype='object')

## Column sex

In [25]:
df2['sex'].value_counts()

M      5094
F       637
N         2
M         2
lli       1
.         1
Name: sex, dtype: int64

In [26]:
df2['sex'] = df2['sex'].str.replace('N', 'M')
df2['sex'] = df2['sex'].str.strip()
df2['sex'] = df2['sex'].fillna('Unknown')
df2['sex'] = df2['sex'].str.replace('lli', 'Unknown')
df2['sex'] = df2['sex'].str.replace('.', 'Unknown')
set(df2['sex'])
df2['sex'].value_counts(dropna=True)

M          5098
F           637
Unknown     567
Name: sex, dtype: int64

In [27]:
df2.time.value_counts()

Afternoon         187
11h00             128
Morning           121
12h00             109
15h00             108
                 ...
18h30 (Sunset)      1
13h14               1
17h11               1
10h43               1
After midnight      1
Name: time, Length: 366, dtype: int64

## Column fatal

In [28]:
df2['fatal (y/n)'] = df2['fatal (y/n)'].str.replace('2017', 'UNKNOWN')
df2['fatal (y/n)'] = df2['fatal (y/n)'].str.strip()
df2['fatal (y/n)'] = df2['fatal (y/n)'].fillna('UNKNOWN')
df2['fatal (y/n)'] = df2['fatal (y/n)'].str.replace('y', 'Y')
df2['fatal (y/n)'] = df2['fatal (y/n)'].str.replace('M', 'UNKNOWN')
set(df2['fatal (y/n)'])
df2['fatal (y/n)'].value_counts(dropna=True)

N          4301
Y          1389
UNKNOWN     612
Name: fatal (y/n), dtype: int64

## Column time

In [29]:
df2.time = df2.time.fillna('Unknown')

In [30]:
df2

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,Unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,Unknown,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
6298,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,Unknown,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
6299,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,Unknown,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
6300,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,Unknown,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
6301,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,Unknown,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [31]:
df2.columns

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal (y/n)', 'time',
       'species', 'investigator or source', 'pdf', 'href formula', 'href',
       'case number.1', 'case number.2', 'original order', 'unnamed: 22',
       'unnamed: 23'],
      dtype='object')

In [32]:
## Column age

In [33]:
df2.age = df2.age.fillna('0')

In [34]:
lst = []
patron = '\d+'
for e in df2.age:
    try:
        lst.append(re.findall(patron,e)[0])
    except:
        lst.append(0)

In [35]:
df2.age=lst

In [36]:
df2.age.value_counts()

0     2831
17     156
18     153
20     151
19     143
      ...
81       1
67       1
72       1
86       1
82       1
Name: age, Length: 83, dtype: int64

## Column injury

In [37]:
df2.injury.value_counts()

FATAL                                                                         802
Survived                                                                       97
Foot bitten                                                                    87
No injury                                                                      82
Leg bitten                                                                     72
                                                                             ...
No injury but shark took his pole spear                                         1
6 or 8 of the would-be rescuers were shot & the rest were killed by sharks      1
Groin bitten                                                                    1
Lower right leg bitten, surgically amputated 10 days later                      1
No attack, no injury                                                            1
Name: injury, Length: 3737, dtype: int64

In [38]:
df2.injury = df2.injury.fillna('Unknown')

In [39]:
df2.injury[df2.injury.str.contains("Fatal")] = 'FATAL'
df2.injury[df2.injury.str.contains("FATAL")] = 'FATAL'
df2.injury[df2.injury.str.contains("fatal")] = 'FATAL'
df2.injury[df2.injury.str.contains("died")] = 'FATAL'
df2.injury[df2.injury.str.contains("Died")] = 'FATAL'
df2.injury[df2.injury.str.contains("FATAL")] = 'FATAL'



df2.injury[df2.injury.str.contains("Survived")] = 'Survived'
df2.injury[df2.injury.str.contains("survived")] = 'Survived'

df2.injury[df2.injury.str.contains("neck")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("necks")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Head")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("head")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("lacerated")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("lacerations")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Lacerations")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Multiple")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("multiple")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("multiples")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Multiples")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Laceration")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("laceration")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Major")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("major")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Seriuos")] = 'Hardcore Injury'
df2.injury[df2.injury.str.contains("Serious injuries")] = 'Hardcore Injury'

df2.injury[df2.injury.str.contains("No injury")] = 'No injury'
df2.injury[df2.injury.str.contains("no injury")] = 'No injury'
df2.injury[df2.injury.str.contains("No Injury")] = 'No injury'
df2.injury[df2.injury.str.contains("No")] = 'No injury'
df2.injury[df2.injury.str.contains("no")] = 'No injury'
df2.injury[df2.injury.str.contains("Survived")] = 'No injury'
df2.injury[df2.injury.str.contains("survived")] = 'No injury'
df2.injury[df2.injury.str.contains("survivor")] = 'No injury'

df2.injury[df2.injury.str.contains("Leg")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("leg")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("ankle")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Ankle")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("femur")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("tibia")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("heel")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("knee")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Torso")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("torso")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Back")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("back")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Abdomen")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Abrasion")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("abrasion")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Abrasions")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("abrasion")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("Chest")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("chest")] = 'Medium Injury'
df2.injury[df2.injury.str.contains("cheek")] = 'Medium Injury'



df2.injury[df2.injury.str.contains("hand")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Hand")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Hands")] = 'Low Injury'
df2.injury[df2.injury.str.contains("hands")] = 'Low Injury'
df2.injury[df2.injury.str.contains("finger")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Finger")] = 'Low Injury'
df2.injury[df2.injury.str.contains("wounds")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Foot")] = 'Low Injury'
df2.injury[df2.injury.str.contains("foot")] = 'Low Injury'
df2.injury[df2.injury.str.contains("arm")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Arm")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Thigh")] = 'Low Injury'
df2.injury[df2.injury.str.contains("thigh")] = 'Low Injury'
df2.injury[df2.injury.str.contains("thighs")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Minor")] = 'Low Injury'
df2.injury[df2.injury.str.contains("minor")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Punctures")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Puncture")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Left")] = 'Low Injury'
df2.injury[df2.injury.str.contains("left")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Shoulder")] = 'Low Injury'
df2.injury[df2.injury.str.contains("shoulder")] = 'Low Injury'
df2.injury[df2.injury.str.contains("bite")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Bite")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Knee")] = 'Low Injury'
df2.injury[df2.injury.str.contains("knee")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Heel")] = 'Low Injury'
df2.injury[df2.injury.str.contains("heel")] = 'Low Injury'
df2.injury[df2.injury.str.contains("toe")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Toe")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Right")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Left")] = 'Low Injury'
df2.injury[df2.injury.str.contains("right")] = 'Low Injury'
df2.injury[df2.injury.str.contains("left")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Shin")] = 'Low Injury'
df2.injury[df2.injury.str.contains("shin")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Bruise")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Calf")] = 'Low Injury'
df2.injury[df2.injury.str.contains("Bitten")] = 'Low Injury'
df2.injury[df2.injury.str.contains("bitten")] = 'Low Injury'
df2.injury[df2.injury.str.contains("bruised")] = 'Low Injury'

df2.injury[df2.injury.str.contains("shark")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("Shark")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("sharks")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("sharks")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("drowning")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("details")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("re")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("Re")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("Boat")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("PROVOKED")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Shark attack not defined')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Missing')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Human')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Never')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Jumped')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Extensive')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Board')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Feet')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Mauled')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Doubtful')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Small bruise to calf ')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('General')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Suit ripped    ')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('on board')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Found to be a hoax ')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('One man')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('perished')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Toothmarks')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Several broken ribs')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('posterior')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('been downing')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('be fiction')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Found to be a hoax')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Suit ripped')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains('Small bruise to calf')] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("Serious")] = 'Shark attack not defined'
df2.injury[df2.injury.str.contains("Shark attack not defined")] = 'Shark attack not defined'

In [40]:
df2.injury.value_counts()

Shark attack not defined    1655
FATAL                       1373
No injury                   1335
Low Injury                  1222
Medium Injury                717
Name: injury, dtype: int64

In [41]:
set (df2.injury)

{'FATAL',
 'Low Injury',
 'Medium Injury',
 'No injury',
 'Shark attack not defined'}

In [42]:
df2

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,No injury,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,No injury,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Medium Injury,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,0,No injury,N,Unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0,Shark attack not defined,N,Unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,0,FATAL,Y,Unknown,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
6298,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,0,FATAL,Y,Unknown,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
6299,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,0,FATAL,Y,Unknown,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
6300,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,0,FATAL,Y,Unknown,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
6301,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,FATAL,Y,Unknown,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

## Column time

In [43]:
df2.time[df2.time.str.contains("00h")] = 'Night'
df2.time[df2.time.str.contains("01h")] = 'Night'
df2.time[df2.time.str.contains("02h")] = 'Night'
df2.time[df2.time.str.contains("03h")] = 'Night'
df2.time[df2.time.str.contains("04h")] = 'Night'
df2.time[df2.time.str.contains("05h")] = 'Night'
df2.time[df2.time.str.contains("06h")] = 'Night'
df2.time[df2.time.str.contains("07h")] = 'Morning'
df2.time[df2.time.str.contains("08h")] = 'Morning'
df2.time[df2.time.str.contains("09h")] = 'Morning'
df2.time[df2.time.str.contains("10h")] = 'Morning'
df2.time[df2.time.str.contains("11h")] = 'Morning'
df2.time[df2.time.str.contains("12h")] = 'Morning'
df2.time[df2.time.str.contains("13h")] = 'Morning'
df2.time[df2.time.str.contains("14h")] = 'Afternoon'
df2.time[df2.time.str.contains("15h")] = 'Afternoon'
df2.time[df2.time.str.contains("16h")] = 'Afternoon'
df2.time[df2.time.str.contains("17h")] = 'Afternoon'
df2.time[df2.time.str.contains("18h")] = 'Afternoon'
df2.time[df2.time.str.contains("19h")] = 'Afternoon'
df2.time[df2.time.str.contains("20h")] = 'Afternoon'
df2.time[df2.time.str.contains("21h")] = 'Afternoon'
df2.time[df2.time.str.contains("22h")] = 'Afternoon'
df2.time[df2.time.str.contains("23h")] = 'Afternoon'
df2.time[df2.time.str.contains("23h")] = 'Afternoon'
df2.time[df2.time.str.contains("Afternoon")] = 'Afternoon'
df2.time[df2.time.str.contains("afternoon")] = 'Afternoon'
df2.time[df2.time.str.contains(' ')] = 'Unknown'
df2.time[df2.time.str.contains('  ')] = 'Unknown'
df2.time[df2.time.str.contains('   ')] = 'Unknown'
df2.time[df2.time.str.contains('After dark')] = 'Night'
df2.time[df2.time.str.contains('After lunch')] = 'Afternoon'
df2.time[df2.time.str.contains('Early evening')] = 'Afternoon'
df2.time[df2.time.str.contains('Evening')] = 'Evening'
df2.time[df2.time.str.contains('Night')] = 'Night'
df2.time[df2.time.str.contains('shortly before dusk')] = 'Evening'
df2.time[df2.time.str.contains('--')] = 'Unknown'
df2.time[df2.time.str.contains('0500')] = 'Night'
df2.time[df2.time.str.contains('06j00')] = 'Night'
df2.time[df2.time.str.contains('0830')] = 'Morning'
df2.time[df2.time.str.contains('1300')] = 'Night'
df2.time[df2.time.str.contains('1500')] = 'Afternoon'
df2.time[df2.time.str.contains('15j45')] = 'Afternoon'
df2.time[df2.time.str.contains('1600')] = 'Afternoon'
df2.time[df2.time.str.contains('2 hours after Opperman')] = 'Afternoon'
df2.time[df2.time.str.contains('2 hrs before sunset')] = 'Night'
df2.time[df2.time.str.contains('30 minutes after 1992.07.08.a')] = 'Afternoon'
df2.time[df2.time.str.contains('8:04 pm')] = 'Afternoon'
df2.time[df2.time.str.contains('9h00')] = 'Morning'
df2.time[df2.time.str.contains('A.M.')] = 'Morning'
df2.time[df2.time.str.contains('AM')] = 'Morning'
df2.time[df2.time.str.contains('After Dusk')] = 'Night'
df2.time[df2.time.str.contains('After dusk')] = 'Night'
df2.time[df2.time.str.contains('After midnight')] = 'Afternoon'
df2.time[df2.time.str.contains('After noon')] = 'Afternoon'
df2.time[df2.time.str.contains('Afternoon')] = 'Afternoon'
df2.time[df2.time.str.contains('Before daybreak')] = 'Afternoon'
df2.time[df2.time.str.contains('Dark')] = 'Night'
df2.time[df2.time.str.contains('Dawn')] = 'Morning'
df2.time[df2.time.str.contains('Daybreak')] = 'Afternoon'
df2.time[df2.time.str.contains('Daytime')] = 'Afternoon'
df2.time[df2.time.str.contains('Dusk')] = 'Afternoon'
df2.time[df2.time.str.contains('Early Morning')] = 'Morning'
df2.time[df2.time.str.contains('Early morning')] = 'Morning'
df2.time[df2.time.str.contains('Evening')] = 'Evening'
df2.time[df2.time.str.contains("Evening")] = 'Night'
df2.time[df2.time.str.contains("dawn")] = 'Night'
df2.time[df2.time.str.contains("morning")] = 'Morning'
df2.time[df2.time.str.contains("afternoon")] = 'Afternoon'
df2.time[df2.time.str.contains("dawn")] = 'Night'
df2.time[df2.time.str.contains("lunchtime")] = 'Afternoon'
df2.time[df2.time.str.contains("afternoon")] = 'Afternoon'
df2.time[df2.time.str.contains("Night")] = 'Night'
df2.time[df2.time.str.contains("Mid")] = 'Afternoon'
df2.time[df2.time.str.contains("noon")] = 'Afternoon'
df2.time[df2.time.str.contains("Midday")] = 'Morning'
df2.time[df2.time.str.contains("Midnight")] = 'Night'
df2.time[df2.time.str.contains("Morning")] = 'Morning'
df2.time[df2.time.str.contains("Possibly")] = 'Morning'
df2.time[df2.time.str.contains("Noon")] = 'Morning'
df2.time[df2.time.str.contains("P")] = 'Morning'
df2.time[df2.time.str.contains("dusk")] = 'Night'
df2.time[df2.time.str.contains("night")] = 'Night'
df2.time[df2.time.str.contains("Sunset")] = 'Afternoon'
df2.time[df2.time.str.contains("\xa0")] = 'Night'
df2.time[df2.time.str.contains("Lunchtime")] = 'Afternoon'
df2.time[df2.time.str.contains("Aftermoon")] = 'Afternoon'
df2.time[df2.time.str.contains("X")] = 'Afternoon'

## Column type

In [44]:
df2.type = df2.type.fillna("Unknown")
df2.type[df2.type.str.contains("Boating")] = 'Sea Disaster'
df2.type[df2.type.str.contains("Boatomg")] = 'Sea Disaster'
df2.type[df2.type.str.contains("Boat")] = 'Sea Disaster'
df2.type[df2.type.str.contains("Invalid")] = 'Unknown'
df2.type[df2.type.str.contains("Boatomg")] = 'Boat'

## Column Activity

In [45]:
df2.activity = df2.activity.fillna ('Not relevant')
df2.activity[df2.activity.str.contains("Swimming")] = 'Swimming'
df2.activity[df2.activity.str.contains("swimming")] = 'Swimming'
df2.activity[df2.activity.str.contains("Floating")] = 'Swimming'
df2.activity[df2.activity.str.contains("floating")] = 'Swimming'
df2.activity[df2.activity.str.contains("Bathing")] = 'Swimming'
df2.activity[df2.activity.str.contains("bathing")] = 'Swimming'
df2.activity[df2.activity.str.contains("Crossing")] = 'Swimming'
df2.activity[df2.activity.str.contains("crossing")] = 'Swimming'
df2.activity[df2.activity.str.contains("Snork")] = 'Swimming'
df2.activity[df2.activity.str.contains("Standing")] = 'Swimming'
df2.activity[df2.activity.str.contains("standing")] = 'Swimming'
df2.activity[df2.activity.str.contains("Playing")] = 'Swimming'
df2.activity[df2.activity.str.contains("playing")] = 'Swimming'
df2.activity[df2.activity.str.contains("Sitting")] = 'Swimming'
df2.activity[df2.activity.str.contains("sitting")] = 'Swimming'
df2.activity[df2.activity.str.contains("Jumped")] = 'Swimming'
df2.activity[df2.activity.str.contains("Diving")] = 'Swimming'
df2.activity[df2.activity.str.contains("diving")] = 'Swimming'
df2.activity[df2.activity.str.contains("Wading")] = 'Swimming'
df2.activity[df2.activity.str.contains("Walking")] = 'Swimming'
df2.activity[df2.activity.str.contains("Splashing")] = 'Swimming'


df2.activity[df2.activity.str.contains("Fishing")] = 'Fishing'
df2.activity[df2.activity.str.contains("fishing")] = 'Fishing'
df2.activity[df2.activity.str.contains("Collecting")] = 'Fishing'
df2.activity[df2.activity.str.contains("collecting")] = 'Fishing'
df2.activity[df2.activity.str.contains("Hunting")] = 'Fishing'
df2.activity[df2.activity.str.contains("Catching")] = 'Fishing'
df2.activity[df2.activity.str.contains("catching")] = 'Fishing'
df2.activity[df2.activity.str.contains("Crabbing")] = 'Fishing'
df2.activity[df2.activity.str.contains("crabbing")] = 'Fishing'
df2.activity[df2.activity.str.contains("Treading")] = 'Fishing'


df2.activity[df2.activity.str.contains("Boat")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("boat")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Fell")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Adrift")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("fell")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("adrift")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Jumping")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("jumping")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("sea")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Sea")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Ocean")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("ocean")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Siking")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Cleaning")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("cleaning")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("ship")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Ship")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Plane")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("plane")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("disaster")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Disaster")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Force")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("force")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("washing")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Washing")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("The")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Exploted")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("exploted")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Wreck")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("Sinking")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("life")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("sank")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("cyclone")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("submerged")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("capsized")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("survivors")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("junk")] = 'Boating Accident'
df2.activity[df2.activity.str.contains("wrecked")] = 'Boating Accident'



df2.activity[df2.activity.str.contains("Paddling")] = 'Paddling'
df2.activity[df2.activity.str.contains("paddling")] = 'Paddling'
df2.activity[df2.activity.str.contains("Paddle")] = 'Paddling'
df2.activity[df2.activity.str.contains("paddle")] = 'Paddling'
df2.activity[df2.activity.str.contains("boarding")] = 'Paddling'
df2.activity[df2.activity.str.contains("Boarding")] = 'Paddling'
df2.activity[df2.activity.str.contains("Kakaying")] = 'Paddling'
df2.activity[df2.activity.str.contains("Kayaking")] = 'Paddling'
df2.activity[df2.activity.str.contains("Canoe")] = 'Paddling'
df2.activity[df2.activity.str.contains("canoe")] = 'Paddling'
df2.activity[df2.activity.str.contains("catamaran")] = 'Paddling'


df2.activity[df2.activity.str.contains("Surfing")] = 'Surfing'
df2.activity[df2.activity.str.contains("surfing")] = 'Surfing'
df2.activity[df2.activity.str.contains("surf")] = 'Surfing'
df2.activity[df2.activity.str.contains("Surf")] = 'Surfing'
df2.activity[df2.activity.str.contains("Board")] = 'Surfing'
df2.activity[df2.activity.str.contains("board")] = 'Surfing'

df2.activity[df2.activity.str.contains("Attempting")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("attempting")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Helping")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Netting")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Removing")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("removing")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("touching")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Touching")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Dragging")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Feeding")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Holding")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Dragging")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Shark")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("shark")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("fish")] = 'Approaching a shark'
df2.activity[df2.activity.str.contains("Fish")] = 'Approaching a shark'

df2.activity[df2.activity.str.contains("Filming")] = 'Documental'
df2.activity[df2.activity.str.contains("filming")] = 'Documental'
df2.activity[df2.activity.str.contains("Recording")] = 'Documental'
df2.activity[df2.activity.str.contains("recording")] = 'Documental'
df2.activity[df2.activity.str.contains("Photographing")] = 'Documental'
df2.activity[df2.activity.str.contains("Film")] = 'Documental'
df2.activity[df2.activity.str.contains("film")] = 'Documental'
df2.activity[df2.activity.str.contains("Documental")] = 'Documental'

In [46]:
df2.activity.value_counts()

Swimming                                     2452
Approaching a shark                          1299
Surfing                                      1153
Not relevant                                  544
Boating Accident                              419
                                             ...
Harpooning turtles                              1
Steinhart Aquarium                              1
Vehicle plunged over cliff into the water       1
Sittting in water with his child                1
Retrieving meat from a cage in the water        1
Name: activity, Length: 151, dtype: int64

In [47]:
## Column unnamed: 22, unnamed: 23, pdf, href formula and href

In [48]:
df2['unnamed: 22'] = df2['unnamed: 22'].fillna ('None')
df2['unnamed: 23'] = df2['unnamed: 23'].fillna ('None')
df2['pdf'] = df2['pdf'].fillna ('Unknown')
df2['href formula'] = df2['href formula'].fillna ('Unknown')
df2['href'] = df2['href'].fillna ('Unknown')

In [49]:
## Column countries

In [50]:
df2.country = df2.country.fillna("UNKNOWN")
df2.country[df2.country.str.contains('EGYPT')] = 'EGYPT'
df2.country[df2.country.str.contains('ST HELENA, British overseas territory')] = 'ST HELENA'
df2.country[df2.country.str.contains('nan}')] = 'UNKNOWN'
df2.country[df2.country.str.contains('SOUTH ATLANTIC OCEAN')] = 'OTHERS'
df2.country[df2.country.str.contains('ANDAMAN / NICOBAR ISLANDAS')] = 'OTHERS'
df2.country[df2.country.str.contains('EGYPT / ISRAEL')] = 'OTHERS'
df2.country[df2.country.str.contains('SOLOMON ISLANDS / VANUATU')] = 'OTHERS'
df2.country[df2.country.str.contains('ATLANTIC OCEAN')] = 'OTHERS'

In [51]:
df2.area = df2.area.fillna('Unknown')
df2.area[df2.area.str.contains("Southwestern Pacific")] = 'Southwestern Pacific' 
df2.area[df2.area.str.contains("04.05N-13.23W")] = 'Atlantic Ocean '
df2.area[df2.area.str.contains("1,000 miles east of Hawaii")] = 'Hawaii'
df2.area[df2.area.str.contains("1000 miles west of Hawaii")] = 'Hawaii'
df2.area[df2.area.str.contains("10ºS, 142ºE")] = 'Australia'
df2.area[df2.area.str.contains("12 miles off the north coast'")] = 'Unknown'
df2.area[df2.area.str.contains("12 miles off the north coast'")] = 'Unknown'
df2.area[df2.area.str.contains("12 miles off the north coast")] = 'Unknown'
df2.area[df2.area.str.contains("180 miles southeast of Okinawa")] = 'Okinawa'
df2.area[df2.area.str.contains("165  miles from Bermuda")] = 'Bermuda'
df2.area[df2.area.str.contains("50 miles offshore")] = 'Unknown'
df2.area[df2.area.str.contains("18S / 50E")] = 'Indian Ocean'
df2.area[df2.area.str.contains("19S, 178?E")] = 'Fiyi'
df2.area[df2.area.str.contains("2 to 3 miles off Taboguilla Island, Pacific Ocean")] = 'Pacific Ocean'
df2.area[df2.area.str.contains("Canary")] = 'Canary Island'
df2.area[df2.area.str.contains("Manila")] = 'Manila'
df2.area[df2.area.str.contains("22ºN, 88ºE")] = 'India'
df2.area[df2.area.str.contains("25 km off the coast of Iran & 483km from mouth of Persian Gulf")] = 'Iran'
df2.area[df2.area.str.contains("Haw")] = 'Hawaii'
df2.area[df2.area.str.contains("Luzon")] = 'Luzon'
df2.area[df2.area.str.contains("Mauritius")] = 'Mauritius'
df2.area[df2.area.str.contains("Virgin Islands")] = 'Virgin Islands'
df2.area[df2.area.str.contains("Antigua")] = 'Antigua'
df2.area[df2.area.str.contains("Wake Island")] = 'Wake Island'
df2.area[df2.area.str.contains("Singapore")] = 'Singapore'
df2.area[df2.area.str.contains("33N, 68W")] = 'Atlantic Ocean'
df2.area[df2.area.str.contains("35º39 : 165º8")] = 'Pacific Ocean'
df2.area[df2.area.str.contains("40 miles south of Naples")] = 'Naples'
df2.area[df2.area.str.contains("40 miles off Grand Bahama Island")] = 'Bahama Island'
df2.area[df2.area.str.contains("Sri Lanka")] = 'Sri Lanka'
df2.area[df2.area.str.contains("5aint-Denis")] = 'Saint-Denis'
df2.area[df2.area.str.contains("Sri Lanka")] = 'Sri Lanka'
df2.area[df2.area.str.contains("San Domingo")] = 'San Domingo'
df2.area[df2.area.str.contains("740 miles SE of Tarawa Atoll")] = 'Tarawa Atoll'
df2.area[df2.area.str.contains("800 miles from land")] = 'Unknown'
df2.area[df2.area.str.contains("19S")] = 'Fiyi'
df2.area[df2.area.str.contains("9.35N 79.35W")] = 'Panama'
df2.area[df2.area.str.contains("d\x92Étang-Sal")] = 'Unknown'

In [52]:
## Column case number, location, name, species and investigator or source

In [53]:
df2['case number'] = df2['case number'].fillna('Unknown')
df2['location'] = df2['location'].fillna('Unknown')
df2['name'] = df2['name'].fillna('Unknown')
df2['species'] = df2['species'].fillna('Unknown')
df2['investigator or source'] = df2['investigator or source'].fillna('Unknown')


df2['case number.1']=[ "Not Relevant" for i in range(len(df2))]   
df2['case number.2']=[ 'Not Relevant' for i in range(len(df2))]

In [54]:
columnanan= df2.isna().sum()

In [55]:
columnanan[columnanan>0]

Series([], dtype: int64)

## Column species

In [56]:
df2.species[df2.species.str.contains("White")] = 'White shark'
df2.species[df2.species.str.contains("white")] = 'White shark'

df2.species[df2.species.str.contains("Tiger")] = 'Tiger shark'
df2.species[df2.species.str.contains("tiger")] = 'Tiger shark'

df2.species[df2.species.str.contains("Bull")] = 'Bull Shark'
df2.species[df2.species.str.contains("bull")] = 'Bull Shark'

df2.species[df2.species.str.contains("Reef")] = 'Reef shark'
df2.species[df2.species.str.contains("reef")] = 'Reef shark'

df2.species[df2.species.str.contains("nurse")] = 'Grey nurse shark'
df2.species[df2.species.str.contains("Nurse")] = 'Grey nurse shark'
df2.species[df2.species.str.contains("grey")] = 'Grey nurse shark'
df2.species[df2.species.str.contains("Grey")] = 'Grey nurse shark'
df2.species[df2.species.str.contains("Gray")] = 'Grey nurse shark'

df2.species[df2.species.str.contains("nurse")] = 'Grey nurse shark'
df2.species[df2.species.str.contains("Nurse")] = 'Grey nurse shark'

df2.species[df2.species.str.contains("Blacktip")] = 'Blacktip shark'
df2.species[df2.species.str.contains("blacktip")] = 'Blacktip shark'

df2.species[df2.species.str.contains("Blue")] = 'Blue shark'
df2.species[df2.species.str.contains("blue")] = 'Blue shark'

df2.species[df2.species.str.contains("Bronze")] = 'Bronze shark'
df2.species[df2.species.str.contains("bronze")] = 'Bronze shark'

df2.species[df2.species.str.contains("hammerhead")] = 'Hammerhead shark'
df2.species[df2.species.str.contains("Hammerhead")] = 'Hammerhead shark'

df2.species[df2.species.str.contains("Lemon")] = 'Lemon shark'
df2.species[df2.species.str.contains("lemon")] = 'Lemon shark'

df2.species[df2.species.str.contains("Mako")] = 'Mako shark'
df2.species[df2.species.str.contains("mako")] = 'Mako shark'

df2.species[df2.species.str.contains("Dusky")] = 'Dusky shark'
df2.species[df2.species.str.contains("dusky")] = 'Dusky shark'

df2.species[df2.species.str.contains("Spinner")] = 'Spinner shark'
df2.species[df2.species.str.contains("spinner")] = 'Spinner shark'

df2.species[df2.species.str.contains("Wobbegong")] = 'Wobbegong shark'
df2.species[df2.species.str.contains("wobbegong")] = 'Wobbegong shark'

df2.species[df2.species.str.contains("raggedtooth")] = 'Raggedtooth shark'
df2.species[df2.species.str.contains("Raggedtooth")] = 'Raggedtooth shark'

df2.species[df2.species.str.contains("Sevengill")] = 'Sevengill shark'
df2.species[df2.species.str.contains("sevengill")] = 'Sevengill shark'

df2.species[df2.species.str.contains("Carpet")] = 'Carpet shark'
df2.species[df2.species.str.contains("carpet")] = 'Carpet shark'

df2.species[df2.species.str.contains("Porbeagle")] = 'Porbeagle shark'
df2.species[df2.species.str.contains("porbeagle")] = 'Porbeagle shark'

df2.species[df2.species.str.contains("Sand")] = 'Sand shark'
df2.species[df2.species.str.contains("sand")] = 'Sand shark'


df2.species[df2.species.str.contains("involvement")] = 'Not specified'
df2.species[df2.species.str.contains("involve")] = 'Not specified'
df2.species[df2.species.str.contains("Remains")] = 'Not specified'
df2.species[df2.species.str.contains("small")] = 'Not specified'
df2.species[df2.species.str.contains("specified")] = 'Not specified'
df2.species[df2.species.str.contains("Possibly")] = 'Not specified'
df2.species[df2.species.str.contains("Questionable")] = 'Not specified'
df2.species[df2.species.str.contains("authenticated")] = 'Not specified'
df2.species[df2.species.str.contains("Invalid")] = 'Not specified'
df2.species[df2.species.str.contains("'")] = 'Not specified'
df2.species[df2.species.str.contains("1")] = 'Not specified'
df2.species[df2.species.str.contains("2")] = 'Not specified'
df2.species[df2.species.str.contains("3")] = 'Not specified'
df2.species[df2.species.str.contains("4")] = 'Not specified'
df2.species[df2.species.str.contains("5")] = 'Not specified'
df2.species[df2.species.str.contains("6")] = 'Not specified'
df2.species[df2.species.str.contains("7")] = 'Not specified'
df2.species[df2.species.str.contains("8")] = 'Not specified'
df2.species[df2.species.str.contains("9")] = 'Not specified'
df2.species[df2.species.str.contains("10")] = 'Not specified'
df2.species[df2.species.str.contains("brown-colored")] = 'Not specified'
df2.species[df2.species.str.contains("pack")] = 'Not specified'
df2.species[df2.species.str.contains("Attacked")] = 'Not specified'
df2.species[df2.species.str.contains("Dog")] = 'Not specified'
df2.species[df2.species.str.contains("caught")] = 'Not specified'
df2.species[df2.species.str.contains("large")] = 'Not specified'
df2.species[df2.species.str.contains("black-tipped")] = 'Not specified'
df2.species[df2.species.str.contains("dog")] = 'Not specified'
df2.species[df2.species.str.contains("large")] = 'Not specified'
df2.species[df2.species.str.contains("little")] = 'Not specified'
df2.species[df2.species.str.contains("school")] = 'Not specified'
df2.species[df2.species.str.contains("young")] = 'Not specified'
df2.species[df2.species.str.contains("tipped")] = 'Not specified'
df2.species[df2.species.str.contains("grey")] = 'Not specified'
df2.species[df2.species.str.contains("gray")] = 'Not specified'
df2.species[df2.species.str.contains("juvenile")] = 'Not specified'
df2.species[df2.species.str.contains("whiptail")] = 'Not specified'
df2.species[df2.species.str.contains("According")] = 'Not specified'
df2.species[df2.species.str.contains("Angel")] = 'Not specified'
df2.species[df2.species.str.contains("Blacktip")] = 'Not specified'
df2.species[df2.species.str.contains("Basking")] = 'Not specified'
df2.species[df2.species.str.contains("Blue")] = 'Not specified'
df2.species[df2.species.str.contains("Bronze")] = 'Not specified'
df2.species[df2.species.str.contains("Bull")] = 'Not specified'
df2.species[df2.species.str.contains("leucas")] = 'Not specified'
df2.species[df2.species.str.contains("maculpinnis")] = 'Not specified'
df2.species[df2.species.str.contains("Carpet")] = 'Not specified'
df2.species[df2.species.str.contains("Considered")] = 'Not specified'
df2.species[df2.species.str.contains("Doubtful")] = 'Not specified'
df2.species[df2.species.str.contains("Cookiecutter")] = 'Not specified'
df2.species[df2.species.str.contains("Copper")] = 'Not specified'
df2.species[df2.species.str.contains("Cow")] = 'Not specified'
df2.species[df2.species.str.contains("drowning")] = 'Not specified'
df2.species[df2.species.str.contains("Description")] = 'Not specified'
df2.species[df2.species.str.contains("Dusky")] = 'Not specified'
df2.species[df2.species.str.contains("Fishermen")] = 'Not specified'
df2.species[df2.species.str.contains("Galapagos")] = 'Not specified'
df2.species[df2.species.str.contains("Goblin")] = 'Not specified'
df2.species[df2.species.str.contains("Hammerhead")] = 'Not specified'
df2.species[df2.species.str.contains("gangeticus")] = 'Not specified'
df2.species[df2.species.str.contains("eel")] = 'Not specified'
df2.species[df2.species.str.contains("invovlement")] = 'Not specified'
df2.species[df2.species.str.contains("invovlement")] = 'Not specified'
df2.species[df2.species.str.contains("hoax")] = 'Not specified'
df2.species[df2.species.str.contains("specified")] = 'Not specified'
df2.species[df2.species.str.contains("Porbeagle")] = 'Not specified'
df2.species[df2.species.str.contains("Raggedtooth")] = 'Not specified'
df2.species[df2.species.str.contains("Reef")] = 'Not specified'
df2.species[df2.species.str.contains("story")] = 'Not specified'
df2.species[df2.species.str.contains("Salmon")] = 'Not specified'
df2.species[df2.species.str.contains("Sand")] = 'Not specified'
df2.species[df2.species.str.contains("Seven-gill")] = 'Not specified'
df2.species[df2.species.str.contains("turtle")] = 'Not specified'
df2.species[df2.species.str.contains("rough")] = 'Not specified'
df2.species[df2.species.str.contains("specified")] = 'Not specified'
df2.species[df2.species.str.contains("Sevengill")] = 'Not specified'
df2.species[df2.species.str.contains("Shovelnose")] = 'Not specified'
df2.species[df2.species.str.contains("Silvertip")] = 'Not specified'
df2.species[df2.species.str.contains("Small")] = 'Not specified'
df2.species[df2.species.str.contains("Soupfin")] = 'Not specified'
df2.species[df2.species.str.contains("unidentified")] = 'Not specified'
df2.species[df2.species.str.contains("Not")] = 'Not specified'
df2.species[df2.species.str.contains("Spinner")] = 'Not specified'
df2.species[df2.species.str.contains("Unidentified")] = 'Not specified'
df2.species[df2.species.str.contains("Thresher")] = 'Not specified'
df2.species[df2.species.str.contains("recovered")] = 'Not specified'
df2.species[df2.species.str.contains("Zambesi")] = 'Not specified'
df2.species[df2.species.str.contains("whaler")] = 'Not specified'

In [57]:
set (df2.species)

{' ',
 'Grey nurse shark',
 'Lemon shark',
 'Leopard shark',
 'Mako shark',
 'Not specified',
 'Tiger shark',
 'Unknown',
 'Whale shark',
 'White shark',
 'Wobbegong shark',
 '\xa0 '}

In [58]:
df2.species.value_counts()

Unknown             2839
Not specified       2260
White shark          667
Tiger shark          283
Grey nurse shark     104
Mako shark            54
Wobbegong shark       50
Lemon shark           34
                       6
                       2
Whale shark            2
Leopard shark          1
Name: species, dtype: int64

# Export

In [59]:
df2.to_csv('../Proyecto_TL/sharks_clean.csv', index=False)

In [60]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case number             6302 non-null   object
 1   date                    6302 non-null   object
 2   year                    6302 non-null   int64
 3   type                    6302 non-null   object
 4   country                 6302 non-null   object
 5   area                    6302 non-null   object
 6   location                6302 non-null   object
 7   activity                6302 non-null   object
 8   name                    6302 non-null   object
 9   sex                     6302 non-null   object
 10  age                     6302 non-null   object
 11  injury                  6302 non-null   object
 12  fatal (y/n)             6302 non-null   object
 13  time                    6302 non-null   object
 14  species                 6302 non-null   object
 15  investigator or source  6302 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6302 non-null   object
 18  href                    6302 non-null   object
 19  case number.1           6302 non-null   object
 20  case number.2           6302 non-null   object
 21  original order          6302 non-null   int64
 22  unnamed: 22             6302 non-null   object
 23  unnamed: 23             6302 non-null   object
dtypes: int64(2), object(22)
memory usage: 1.2+ MB

# SQL

In [61]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/alexmendezsomoza/opt/miniconda3/envs/clase/lib/python3.8/site-packages (8.0.24)
Requirement already satisfied: protobuf>=3.0.0 in /Users/alexmendezsomoza/opt/miniconda3/envs/clase/lib/python3.8/site-packages (from mysql-connector-python) (3.16.0)
Requirement already satisfied: six>=1.9 in /Users/alexmendezsomoza/opt/miniconda3/envs/clase/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [62]:
import mysql.connector as conn

In [63]:
create_db = conn.connect(host='localhost', user='root', passwd='123456') #DON'T RUN THIS CODE, AS THE PASSWORD IS MASKED
cursor = create_db.cursor()
cursor.execute('drop database if exists Shark_Attack')  # erase/drop Shark_Attack database if it already exists
cursor.execute('create database Shark_Attack')   # Create databse Shark_Attack

In [64]:
res = ''
cursor.execute('show databases')
for x in cursor:
    print(x)

('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('publications',)
('Shark_Attack',)
('Sharks',)

In [65]:
database=conn.connect(host='localhost', user='root', passwd='123456', database='shark_attack')

cursor=database.cursor()

In [66]:
cursor.execute('drop table if exists attacks')

In [67]:
df2.head()

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Sea Disaster,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,No injury,N,Afternoon,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Not Relevant,Not Relevant,6303,None,None
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Swimming,Adyson McNeely,F,11,No injury,N,Afternoon,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Not Relevant,Not Relevant,6302,None,None
2,2018.06.09,09-Jun-2018,2018,Unknown,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Medium Injury,N,Morning,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Not Relevant,Not Relevant,6301,None,None
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,0,No injury,N,Unknown,Not specified,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Not Relevant,Not Relevant,6300,None,None
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Swimming,Gustavo Ramos,M,0,Shark attack not defined,N,Unknown,Tiger shark,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Not Relevant,Not Relevant,6299,None,None

In [68]:
df2.describe().activity

AttributeError: 'DataFrame' object has no attribute 'activity'

In [ ]:
attacks='''
        create table attacks(
            
            id int,
            case number varchar(255),
            date varchar(255),
            year varchar(255),
            type varchar(255),
            country varchar(250),
            area varchar(255),
            location varchar(255),
            activity varchar(255),
            name varchar(255),
            sex varchar(255),
            age varchar(255),
            injury varchar(255),
            fatal (y/n) varchar(255),
            time varchar(255),
            species varchar(255),
            investigator or source varchar(255),
            pdf varchar(255),
            href formula varchar(255),
            href varchar(255),
            case number.1 varchar(255),
            case number.2 varchar(255),
            original order varchar(255),
            unnamed: 22 varchar(255),
            unnamed: 23 varchar(255)
        );
'''

cursor.execute(attacks)

In [ ]:
cursor.execute('show tables')
for x in cursor:
    print(x)

## Meter los datos

In [ ]:
for i in range(len(df2)):
    
    
    insert_query='insert into {} ({}) values {};'\
                    .format('attacks', ','.join(df2.columns), tuple(df2.iloc[i].values))
    
    cursor.execute(insert_query)
    
database.commit()

## Bonus

In [ ]:
!pip install os
!pip install matplotlib.pyplot
!pip install matplotlib.style
!pip install matplotlib
!pip install seaborn

In [ ]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.style
import matplotlib as mpl
import seaborn as sns

In [ ]:
df = pd.read_csv('sharks_clean.csv')

In [ ]:
df[df['fatal (y/n)'].isin(['Y','N'])]["fatal (y/n)"].value_counts()\
.plot(kind='bar',figsize=[8,6], title= "fatal vs non-fatal attacks", color= ['brown','yellow'])